[2018-03-21 08:31] kohki1234 opened #181 "Question about API response value"
Hi team,

This is Kohki, I am PSG support engineer in Tokyo.

We got question from our customer that they want to know details about Server Chat API response value.

They are using Server Chat API to check the chat status and got the value below and got the response as below.

2018-03-19 16:04:28,764 - DEBUG - : [chat_bot.py#main:103]
events: [{'@id': '14', '@type': 'line-status', 'time': '2018-03

[2018-03-21 08:33] #181 closed

[2018-03-21 08:36] ksatoLP opened #182 "Server Chat API question from client"
Hi team,

This is Kohki, I am PSG support engineer in Tokyo.

We got question from our customer that they want to know details about Server Chat API response value.

They are using Server Chat API to check the chat status and got the value below and got the response as below.

2018-03-19 16:04:28,764 - DEBUG - : [chat_bot.py#main:103]
events: [{'@id': '14', '@type': 'line-status', 'time': '2018-03

[2018-03-21 08:50] EdenKupe commented on #182
Thanks Kohki.

Guys, let me know if you need me to investigate with R&D.

[2018-03-21 10:21] ssamaga3 commented on #179
Thanks @donmanguno for pointing this out.
We will get back to you in case of more queries.

Thanks,
Swathi

[2018-03-21 12:14] asalom opened #183 "Disable logs for iOS"
Is there a way to disable the logs that the iOS SDK is posting in the console? There are lots of them and can potentially hide our own logs

[2018-03-21 16:33] #179 closed

[2018-03-21 17:17] AbhishekDash-Hexaware opened #184 "Internal code 28"
Internal code 28 has no documention can you please provide the meaning of it,and update the docs

[2018-03-21 17:30] AbhishekDash-Hexaware commented on #184
Visit Info api,
request url is as follows:
https://sy.agentvep.liveperson.net/api/account/15341746/monitoring/visitors/IzY2NiYjgxZGU1M2JlN2Fk/visits/current/state?v=1&sid=_Y2eltPCT0Ga6GFrVZkyhg&filter=agent

Error:
{"error":{"time":"2018-03-21T13:27:24.985-04:00","message":"null for uri: /api/account/15341746/monitoring/visitors/IzY2NiYjgxZGU1M2JlN2Fk/visits/current/state?v=1&sid=_Y2eltPCT0Ga6GFrV

[2018-03-21 20:39] refnandor commented on #177
Ok, so they will need to assign an agent, then include Managers or readers as many as they need, right?

Thanks

[2018-03-21 22:25] refnandor opened #185 "CoApp failure on account 79415415"
Hi.

We are having an issue on the coapp, suddenly has stopped working, we are using the Messaging SDK V3.0, nothing has changed, just the co app is sending us the attached error. It is happening in all the computers so it is not a problem related to permissions.
Can you please help us to fix it?

Thanks

<img width="698" alt="captura de pantalla 2018-03-14 a la s 1 55 46 p m" src="https://user-im

[2018-03-21 23:05] #185 closed

[2018-03-22 05:22] ivysrini opened #186 "Common between Engagement API and Websession API"
Hi,

We are trying generate a report to get the transcripts for the visitors as follows
1. Getting the web session details from Web session API whom we have the impressions.
2. Getting the Enagagement Details by Engagement API
3. Correlating these two APIs using the visitID to get the transcripts for that visitor.

Problem we are facing here is, We are not really getting the transcripts.

Is our a

[2018-03-22 08:24] waijin opened #187 "Engagement window SDK implementation"
Greetings,

I'm trying to implement the [Engagement Window Widget SDK](https://developers.liveperson.com/rt-interactions-window-sdk-overview.html). However I find the guide on the website to be really vague. I've contacted customer support and they directed me here, could you provide me more information or even a step-by-step guide on how to implement this correctly ?

Thanks.
Jin

[2018-03-23 01:47] scottwestover commented on #187
Hi Jin,

To implement the widget, after you include the js sdk file, the main two methods you need to call are: `init` and `bind`.

By initializing the sdk, it allows the main engagement window to pass conversation events to your window, and you choose which events to listen to by binding to them.

When you `bind` to the events, you pass the sdk a callback function that will be called any time one

[2018-03-23 01:49] scottwestover commented on #187
Also, to enable the engagement window widget on your account, someone from your account team will need to enable the widget on your account.

If you have any more questions, just let us know.

[2018-03-24 04:27] ksatoLP commented on #182
Hello guys,
Did you have any update on our question ?
It would be appreciated if you could check this as we kept customer wating.

[2018-03-25 06:46] EdenKupe commented on #182
@donmanguno can we take a look at this please?

[2018-03-26 08:01] shaymLP commented on #183
Hi @asalom,
You can change the the LogLevel you subscribed to with Liveperson in a simple configuration step, you can use [this](https://drive.google.com/file/d/1SllKhRHWRV159ZS-w5qjeKj1mWWAYO43/view?usp=sharing) pic as a reference. Info is the lowest level of log provided.

[2018-03-26 09:35] bhabani-nexright opened #190 "Retrieve Available Agents for Bot is not available"
hi ,
I have worked on the livePerson Bot integration part . But i stuck  at one point where i created the bot . but referring to there document i am not getting available agent as bot .

the document is
 https://developers.liveperson.com/agent-retrieve-available-agents.html

[2018-03-26 13:29] scottwestover commented on #190
@bhabani-nexright when you call the `availableAgents` end point, are you getting an empty response, or are you receiving an error?

Were you able to log the bot user into LiveEngage, and create an agent session for the bot?

[2018-03-26 14:58] zenkovnick-lp opened #191 "Permanent problems with socket when using Messaging Agent SDK"
Hello,

We are developing services to interact with LE using Messaging Agent SDK and facing all the time problems with the socket connection to LE. We've implemented socket ping using getClock method and often the result of the ping is socket errors with codes 1000, 1004 and 1006. Also LE often responds on ping and other requests with 401 and 502 status codes.

Example of 502 error:

[code]
Can yo

[2018-03-26 15:38] bhabani-nexright commented on #190
*Thanks for the Quick replay .*

*I am getting an empty response for bot . In live available Agent Bot is
not available .*

*No i am not able to log the bot user into LiveEnagage.*

On Mon, Mar 26, 2018 at 6:59 PM, Scott Westover <notifications@github.com>
wrote:

--

*Thanks & Regards,*

*Bhabani Sankar Pal **|** Cognitive Engineer **|*

* Nexright Software Solutions Pvt. Ltd.*

*111 - B , TBI ,

[2018-03-27 10:00] timu commented on #187
Hi @scottwestover. your example helped me much so thanks for sharing that.
I only have one question my mind. How is the actual widget window can be triggered to show on specific events and close when it's done?

If I understand correctly your widget example shown all the time when the chat is active and it shows youtube videos if it catches the certain phrase. What I wonder is how widget window ca

[2018-03-27 14:56] scottwestover commented on #190
For the Chat Agent API, you will first need to use the [Login Service API](https://developers.liveperson.com/login-getting-started.html) to get a bearer token, and then use that token to create an agent session using the [Start Agent Session Method](https://developers.liveperson.com/agent-start-agent-session.html).

Once this is done with your bot user, you should see that bot user logged into Liv

[2018-03-27 17:37] dvillacis94 commented on #191
Hi @zenkovnick-lp,

Can you share the request/method your doing?

[2018-03-27 19:55] dvillacis94 commented on #173
Hi @mkwong04,

Are you still having this issue?

When sending Structure Content, the Request Headers should look similar to this:

[code]

you can try to replace the content variable with the following:
[code]

If you try to use an image, that image domain needs to be whitelisted or you'll get an error.

[2018-03-27 19:58] dvillacis94 commented on #186
Hi @ivysrini,

Is this related to Messaging or Chat?

[2018-03-28 04:29] bhabani-nexright opened #193 "Agent chat error"
hi ,
when i am running code , i gave all the credential , but i got the error as
401
Check for incomingRequests error: "Agent Error in incomingRequests body: \"oauth_problem=token_rejected&oauth_problem_advice=the oauth_token is unacceptable to the Service Provider\""

the code is
Node agent sdk from git hub.
i want to see the agent chat .

[2018-03-28 04:51] bhabani-nexright commented on #193
how can i oauth token for the site

[2018-03-28 04:56] bhabani-nexright commented on #193
hi ,
i need a help . i have a chat bot which i want to integrate in liveperson . can any one guide me . Please thanks in advance.

[2018-03-28 05:07] ivysrini commented on #186
This is related to chat

[2018-03-28 06:57] kohki1234 commented on #182
Hi guys,

Would you be able to check the answer to my question please ?
It has been 1 week since I posted the question on behalf of the customer.

[2018-03-28 07:37] ksatoLP commented on #182
Did you have any update guys ?
Sorry I logged in with wrong account so I deleted the previous comment before.

[2018-03-28 07:45] EdenKupe commented on #182
I'm checking with R&D since DevSupport don't know the answer. I'll keep you updated.

[2018-03-28 07:56] dualbr opened #194 "Agent Workspace Widget SDK: method "get" of the API returns incorrect data"
Hello,

We created widget using by API: [Agent Workspace Widget SDK]( https://developers.liveperson.com/agent-workspace-sdk-overview.html).

I found strange behavior of the method "**get**" of the API for Public Model Structure "**chatTranscript.lines**".

Steps to reproduce:
1. Login to LiveEngage (https://authentication.liveperson.net) as an Agent -> Set online status for the account;
2. Create

[2018-03-28 08:09] manzalyshay commented on #182
@EdenKupe @ksatoLP , I'm looking into it.

[2018-03-28 08:10] shaymLP commented on #182
@EdenKupe @ksatoLP, i'm looking into it guys

[2018-03-28 19:17] rsmohammed opened #195 "Including user data and referral url in reports"
Hi... we are using the Javascript Chat SDK for our chat UI with live engage agents. We want to be able to include user data in the reports that we pull from Liveperson. We see the data showing in the agent ui, but it doesn't get saved for the reports. What else do we need to get this data to save in the reports?
<img width="346" alt="screen shot 2018-03-28 at 2 47 45 pm" src="https://user-images.g

[2018-03-29 13:07] WildYorkies commented on #195
If you want to download all chat transcripts (with meta data), I suggest starting with the Engagement History API. Here is an example of the typical response you can get from that:

https://developers.liveperson.com/data-engagement-history-methods.html#response
![image](https://user-images.githubusercontent.com/1299322/38090342-1dfade20-3317-11e8-8728-23ab7b52f709.png)

Browser detail and other th

[2018-03-29 14:11] rsmohammed commented on #195
Thanks for the response. We are also using the Engagement history API already and no data shows for visitorInfo for the chats that are coming through our sdk chat. Even though we see in the agent UI as shown above. Also when a report is exported in csv format, those columns are empty.

The chatStartUrl also has no data, and we don't see it appearing in the agent UI. We don't know how to pass it co

[2018-03-29 20:44] orenkatz commented on #186
Hey @ivysrini ,
What API are you referring when you mention Web session API?
Also, did you try using the Engagement History API to extract engagements with their transcripts?
https://developers.liveperson.com/data-engagement-history-methods.html

Oren

[2018-03-29 21:02] WildYorkies opened #196 "MMS Viewer says to alter NODE_APP_DOMAIN in app.js, but this variable does not exist in app.js"
step 8 here https://developers.liveperson.com/products-channels-mms-deployment.html

[2018-03-30 03:28] scottwestover commented on #193
Hi @bhabani-nexright, the Node agent sdk is only for messaging, and it will not work chat. For chat, you will need to use the [Chat Agent API](https://developers.liveperson.com/chat-agent-getting-started.html).

You will first need to call the Login API to get a bearer token for your chat bot, and then create a session in LiveEngage by using the Start Agent Session method. From there, you should b

[2018-03-30 04:17] scottwestover commented on #187
Hi @timu , you can have the widget hidden at the start of the chat by having the `showOnInit` configuration set to `false`. This setting is set in the configuration that was added to your account for the widget.

From there, you can send a notification when a specific event happens, and this will notify the user to open the widget window.

Unfortunately, I am not aware of any way to automatically

[2018-03-30 04:44] bhabani-nexright commented on #193
Hi ,
Hope you are doing well . Thanks for the quick update.

On Fri, Mar 30, 2018 at 8:58 AM, Scott Westover <notifications@github.com>
wrote:

--

*Thanks & Regards,*

*Bhabani Sankar Pal **|** Cognitive Engineer **|*

* Nexright Software Solutions Pvt. Ltd.*

*111 - B , TBI , Campus-11 , KIIT University , Bhubaneswar - 751024, Odisha
, India*

*Mob: 9560306352*

*URL: www.nexright.com <http://ww

[2018-03-30 13:59] orenkatz commented on #187
If you want to close the window, you can use the dispose command but keep in mind that you can't reopen it after you closed it.

What you can do is to use html & CSS and to hide the content at the beginning of the chat and show it only when a specific phrase is written in the chat.

[2018-03-31 14:33] shaymLP commented on #182
@ksatoLP , We are waiting for an answer from the developers of this API. @orenkatz @EdenKupe

[2018-03-31 14:38] jlgaustin opened #197 "iOS LPMessagingSDK needs to be updated for Swift 4.1"
Running LPMessagingSDK 3.1.0.21.1594

Getting this error after installing latest Xcode 9.3

Module compiled with Swift 4.0.2 cannot be imported in Swift 4.1: /Users/user1/projects/myproj/MyProj/Pods/LPMessagingSDK/LPMessagingSDK/LPMessagingSDK.framework/Modules/LPMessagingSDK.swiftmodule/x86_64.swiftmodule

Can someone please compile with latest version?

[2018-04-02 08:09] shaymLP commented on #190
@bhabani-nexright as it seems like your question as been answered, this issue will be closed now. If you have any further questions please don't hesitate to post on our [New-Look Support Forum](https://support.liveperson.com/forum/).

[2018-04-02 08:09] #190 closed

[2018-04-02 08:11] bhabani-nexright commented on #190
Thanks , all my query has been resolved . You can close this issue.

On Mon, Apr 2, 2018 at 1:39 PM, shaymLP <notifications@github.com> wrote:

--

*Thanks & Regards,*

*Bhabani Sankar Pal **|** Cognitive Engineer **|*

* Nexright Software Solutions Pvt. Ltd.*

*111 - B , TBI , Campus-11 , KIIT University , Bhubaneswar - 751024, Odisha
, India*

*Mob: 9560306352*

*URL: www.nexright.com <http://ww

[2018-04-02 08:14] shaymLP commented on #197
Dear @jlgaustin, the development team will release a new XCODE compatible (3.1.1) version in the next following days. This will be released at our [IOS SDK Github Space](https://github.com/LP-Messaging/iOS-Messaging-SDK).  If you have any further questions please use our new [Support Forum ](https://support.liveperson.com/forum/).

[2018-04-02 08:14] #197 closed

[2018-04-02 08:19] shaymLP commented on #193
@bhabani-nexright As it seems like your question has been answered, this issue will be closed now. If you have any further questions please refer to our new look [Support Forum](https://support.liveperson.com/forum/).

[2018-04-02 08:19] #193 closed

[2018-04-02 08:20] shaymLP commented on #187
@timu As it seems like your question has been answered, this issue will be closed now. If you have any further questions please refer to our new look [Support Forum](https://support.liveperson.com/forum/).

[2018-04-02 08:20] #187 closed

[2018-04-02 08:22] shaymLP commented on #183
@asalom, As it seems like your question has been answered, this issue will be closed now. If you have any further questions please refer to our new look [Support Forum](https://support.liveperson.com/forum/).

[2018-04-02 08:22] #183 closed

[2018-04-02 08:24] shaymLP commented on #173
@mkwong04, As it seems like your question has been answered, this issue will be closed now. If you have any further questions please refer to our new look [Support Forum](https://support.liveperson.com/forum/).

[2018-04-02 08:24] #173 closed

[2018-04-02 13:51] orenkatz commented on #196
@EdenKupe can you please check?

[2018-04-02 16:31] orenkatz commented on #182
Closing this issue as it's being handled as a case outside Github

[2018-04-02 16:31] #182 closed

[2018-04-02 21:31] orenkatz commented on #194
Hey @dualbr,
We've checked this scenario and we are seeing the same behavior as you are seeing.
We will consult with our R&D team and will provide you with a feedback on possible solutions.
Meanwhile, if you are looking to track events specifically for the current chat, I suggest to check the timestamp of the line and compare it to the chat start time, that way you will be sure it's part of the cu

[2018-04-03 10:00] VatslauX opened #198 "Token response {"internalErrorCode":"9007"} /api/account/90155041/app/default/authenticate?v=2.0"
/api/account/90155041/app/default/authenticate?v=2.0
500 ERROR
{"internalErrorCode":"9007"}

Please could You write the list of errors and cases
If it`s in doc - just link
Thanks in advance

[2018-04-03 15:17] chadwtkns opened #199 "Ended meaning?"
In the [https://developers.liveperson.com/data-engagement-history-methods.html](examples) There is no documentation on what the "ended" property does. What does this do vs what would happen if it was omitted? Also in the same documentation when you say "start(to, from)" is that referring to the start of a chat window?

[2018-04-03 16:41] donmanguno commented on #199
Hi @chadwtkns.

`ended` is a deprecated parameter and we need to remove it from the examples.
`start(to, from)` refers to the time window you want to search. Your search will return conversations that started between the epoch timestamps you provide for `to` and `from`.

[2018-04-03 16:57] chadwtkns commented on #199
How can I do a search with engagements that have ended?

[2018-04-03 20:39] orenkatz commented on #194
I understand that there is a support ticket opened for this issue (#00645684), Support will continue working on this case via the ticket.
Closing this issue.

[2018-04-03 20:39] #194 closed

[2018-04-04 15:49] donmanguno commented on #199
By default the search will return engagements that have ended.

[2018-04-04 16:07] hpur commented on #166
Hi @icruzh
I tried to recreate this by the same values ​you set in Gradle and using the same SDK versions but to no avail.
Can you send the full branding.xml file so we can further investigate this?

[2018-04-04 21:56] icruzh commented on #166
Hi.
 Attached you can find the branding file.

Regards

<http://livepersonlatam.com/>

*Iraís Cruz Hernández*
*​Tel:* +52 (55) 57 22 02 71

​
  <https://mx.linkedin.com/company/liveperson-latam>
<https://twitter.com/livepersonlatam>
<https://www.facebook.com/LivePersonLatam>

2018-04-04 11:07 GMT-05:00 hadarpLP <notifications@github.com>:

[2018-04-04 22:06] icruzh commented on #166
Hi.
 Attached you can find the branding file.

Regards

<http://livepersonlatam.com/>

*Iraís Cruz Hernández*
*​Tel:* +52 (55) 57 22 02 71

​
  <https://mx.linkedin.com/company/liveperson-latam>
<https://twitter.com/livepersonlatam>
<https://www.facebook.com/LivePersonLatam>

2018-04-04 16:56 GMT-05:00 Irais Cruz Hernandez <icruzh@livepersonlatam.com>
:

<?xml version="1.0" encoding="utf-8"?>
<res

[2018-04-05 02:06] rsmohammed commented on #195
Any ideas on why this data would not be showing in the reports? Would love to get this fix so we can have accurate reports. Perhaps there is some sample code for the chat sdk that we can review that logs this information correctly.

[2018-04-05 14:24] ssamaga3 opened #201 "Chat Agent API - Login Service API - As a User"
Hi Team,

We are trying to get the session id by calling the Login Service API as a user. Please refer the screen shot below.
We get the "Failed to login to AppServer" error.
We are using oAuth 1.0 as authentication.

![m2](https://user-images.githubusercontent.com/35951704/38371609-855802ac-390a-11e8-829c-103b0758a693.png)

I login to the Live Engage site by: https://z1.le.liveperson.net/a/280840

[2018-04-05 15:00] dvillacis94 commented on #201
Hi @ssamaga3,

Could you share the whole request including the headers?

[2018-04-05 15:02] dvillacis94 commented on #198
Hi @VatslauX,

That one is related to the jwt not being valid, could you share the request headers you're using?

[2018-04-05 22:26] #184 closed

[2018-04-06 02:53] donmanguno commented on #161
Hi Jim, I'm closing this issue since you're opening a case. Send me the case number when you get a chance and I'll assist there.

[2018-04-06 02:53] #161 closed

[2018-04-06 04:10] rsmohammed commented on #195
We are using the unmonitored flow

[2018-04-06 06:03] lp-adevakrupakar opened #202 "Invalid link in logout method description"
https://developers.liveperson.com/consumer-experience-ios-sdk-messaging-methods.html#logout

This method conducts the following:

Unregisters from the push notification service.
Clears all SDK persistent data.
Cleans running operations (see **destruct**).

destruct link point to a 404 page.: https://developers.liveperson.com/consumer-experience-ios-sdk-methods.html#destruct

[2018-04-06 09:02] ssamaga3 commented on #201
Hi David,

Please find the details below:
[RequestChatLogin As a user.docx](https://github.com/LivePersonInc/developers-community/files/1883323/RequestChatLogin.As.a.user.docx)

Let me know if you need more information.

Thanks,
Swathi

[2018-04-06 14:52] dvillacis94 commented on #201
Hi @ssamaga3,

I'm setting the Authorization type to OAuth 1.0 on Postman an setting the Key, Secret, Token, and Token Secret, and I get the correct response from the API:

![screen shot 2018-04-06 at 10 28 54 am](https://user-images.githubusercontent.com/11651229/38427953-a1d9149c-3988-11e8-82f5-628872c55460.png)

[2018-04-06 15:12] dvillacis94 commented on #202
Hi @lp-adevakrupakar,

Thanks for pointing this out, we'll fix this broken link.

[2018-04-06 15:12] #202 closed

[2018-04-06 18:33] ssamaga3 commented on #201
Hi David,

Same here , i too am setting Authorization type to oAuth 1.0 and passing all the keys.
Setting Accept and Content-Type headers to Application-json
Providing the Login credentials in the Body as Raw data.

The error i get is 500 internal server error. Both in RestClient[Firefox] and Postman[Chrome]

"error":"Failed to login to AppServer http://solutions.liveperson.com/?goto=home.jsp&serv

[2018-04-06 19:29] rsmohammed commented on #195
We have changed to monitored flow in our dev environment and are still getting the same problem.

[2018-04-06 20:40] dvillacis94 commented on #201
Hi @ssamaga3,

I'm only setting the content-type:

![screen shot 2018-04-06 at 4 37 41 pm](https://user-images.githubusercontent.com/11651229/38443209-f0eb2504-39b8-11e8-952b-f9433012251c.png)

And username & password on the body:

![screen shot 2018-04-06 at 4 38 52 pm](https://user-images.githubusercontent.com/11651229/38443294-3dafbf62-39b9-11e8-94ec-e78faff0cac6.png)

[2018-04-06 21:15] orenkatz commented on #201
Hey @ssamaga3,
Are you able to login to LiveEnage UI with this user and password?

[2018-04-08 04:31] hpur commented on #166
Hi @icruzh
I checked your branding.xml file, the real time masking regex is incorrect, try to use on this regex:
(^((\\d{3})|(\\d-\\d-\\d))$)|(^(\\d{2}/\\d{2})|(\\d{2}-\\d{2})|(\\d{2}[ ]\\d{2})$|(^(\\d{16})|(\\d{8}-\\d{8})|(\\d{4}-\\d{4}-\\d{4}-\\d{4})|(\\d{4}[ ]\\d{4}[ ]\\d{4}[ ]\\d{4}))$)|^(\\d{4})$|(^([a-z0-9\-_\.]{1,30}@[a-zA-Z]{1,30}(\.[a-z]{2,4}))$)|(^([a-z0-9\-_\.]{1,30}@[a-zA-Z]{1,30}(\.[a

[2018-04-09 04:09] ssamaga3 commented on #201
Hi David,

Yes, same here. Now after you mentioned tried with Only Content type header, and i get the following message:

SyntaxError: Unexpected string in JSON at position 33
    at Object.parse (native)
    at parse (/liveperson/code/agentvep/node_modules/body-parser/lib/types/json.js:88:17)
    at /liveperson/code/agentvep/node_modules/body-parser/lib/read.js:116:18
    at invokeCallback (/live

[2018-04-09 07:28] EdenKupe commented on #196
Looking into it.

[2018-04-09 12:38] shaymLP commented on #198
@VatslauX, The team is looking into your request. We will respond as soon as possible.

[2018-04-09 12:41] shaymLP commented on #186
@ivysrini, As it looks like your question has been answered - this issue will be closed soon. If you have any further questions regarding this or any other issue please do not hesitate to open a new post.

[2018-04-09 12:41] #186 closed

[2018-04-09 12:45] shaymLP commented on #191
@zenkovnick-lp This post will be closed due to inactivity, if you have any further questions please do not hesitate to open a new one.

[2018-04-09 12:45] #191 closed

[2018-04-09 13:17] cjames1224 commented on #196
Hey @EdenKupe this is just a typo. Can you please update step 8 in the docs to read as follows:
8. Update the NODE_APP_DOMAIN in the twilio function from step 4, to match the location where you've hosted your app.

[2018-04-09 13:19] EdenKupe commented on #196
Update is building now, thank you both!

[2018-04-09 16:27] dvillacis94 commented on #201
Hi @ssamaga3,

This is related to the SSO, in this cases we recommend to have a User-Type Bot, this ones override the SSO.

As this can be treated as an [Application Login](https://developers.liveperson.com/login-getting-started.html#introduction), also try to see that the Password set on LiveEngage matches the one your trying to use but is accurate to say that I may not work.

[2018-04-09 18:56] VatslauX commented on #198
Thank You

[2018-04-10 05:45] ssamaga3 commented on #201
Hi David,

Yes, that might be the problem here. We actually pointed this point out yesterday to LiveEngage team.
It is mentioned that" Using the User Login Method, if your account has SSO enabled, this method will not be standalone and you will have to register the relevant user through your hub to provide LiveEngage with an SSO SAML Assertion.

We are actually interested in Application Login only

[2018-04-10 13:58] #201 closed

[2018-04-10 14:18] WildYorkies opened #203 "offer_declined instead of offer_decline"
https://developers.liveperson.com/lp-tag-engagement.html#offerdeclined

Event should be "OFFER_DECLINED" with the D at the end

[2018-04-10 14:26] shaymLP commented on #203
@EdenKupe

[2018-04-11 07:01] EdenKupe commented on #203
Fixed, thank you!

[2018-04-11 07:31] #203 closed

[2018-04-11 12:39] #166 closed

[2018-04-11 16:41] dvillacis94 commented on #199
Hi @chadwtkns,

We're closing this issue, if the problem persist feel free to reopen this case.

Best regards

[2018-04-11 16:41] #199 closed

[2018-04-11 16:47] #196 closed

[2018-04-11 17:25] WildYorkies opened #204 "Important info missing from page on how to deploy SMS link invites/buttons"
https://developers.liveperson.com/products-channels-sms-clickable.html#step-2-edit-the-engagement

The example code here does not have any reference to `data-LP-event="click"`. If you do not have this, the content engagement or content invite **will not be tracked** in Report Builder for content clicks or conversions.

[2018-04-12 10:49] panchalrishikesh opened #205 "Im working on an app which is using LivePerson android sdk and in there i want to change the default Brand name."
As per the Customization and Branding guidelines I created branding.xml file in values folder and added brand_name string element to it but the default brand name doesn't change.

please help me out with this.

Thank you in advance.

[2018-04-12 12:43] ssamaga3 opened #206 "Start Session Agent- Application Login"
Hi Team,

I am trying to Post request
https://va.agentvep.liveperson.net/api/account/28084016/agentSession?v=1&NC=true

But i do get the response:
"oauth_problem=signature_invalid&oauth_problem_advice=the oauth_signature is invalid"

I have created a Bot user, applied the API keys generated from them.
As new to this, can you please guide me the steps to call this Application Login API and Start Se

[2018-04-12 14:56] dvillacis94 commented on #205
Hi @panchalrishikesh,

The brand_name is a String Localization, is not part of the branding.xml

https://developers.liveperson.com/android-modifying-string.html

Best regards.

[2018-04-12 14:56] #205 closed

[2018-04-12 15:32] panchalrishikesh commented on #205
String localization if refering to language support. How do i change Default brand name value from My Brand to my value?

[2018-04-13 01:17] josercc opened #207 "【iOS】New iOS SDK Not run Xcode9.1"
The latest one of our team upgrades Xcode version 9.3 and found that your library does not compile and run properly
Finally found that you need to update your latest library, but the Xcode version of our other people is still 9.1 version.
Update the latest version we can not compile
How can this problem be solved?

[2018-04-13 01:30] dvillacis94 commented on #207
Hi @josercc,

If you’re using Xcode 9.3, you need to target the following pod ‘3.1.0.21.1601-xcode93’

[2018-04-13 02:16] josercc commented on #207
@dvillacis94 but I'm using code not using cocoapods

[2018-04-13 02:17] dvillacis94 commented on #207
Let me see if we have the framework for that version.

[2018-04-13 02:18] josercc commented on #207
@dvillacis94  ![image](https://user-images.githubusercontent.com/4713847/38713489-0997fb40-3f04-11e8-862a-95b554526d3b.png)

[2018-04-13 08:08] panchalrishikesh commented on #205
Hi @dvillacis94

Thank you for you help issue resolved

[2018-04-13 17:14] orenkatz commented on #206
Hey @ssamaga3,
You can check out the example we have on Github  - https://github.com/LivePersonInc/agent-sample-app

[2018-04-13 20:03] dvillacis94 commented on #207
Hi @josercc,

You can use [3.1.0](https://github.com/LP-Messaging/iOS-Messaging-SDK/releases/tag/3.1.0), 3.1.1 and 3.1.0 are the same, the only difference is 3.1.1 is compile with the new version of Swift for Xcode 9.3

[2018-04-13 20:04] dvillacis94 commented on #204
@EdenKupe can you confirm this, please.

[2018-04-14 17:51] refnandor opened #208 "onStructuredContentLinkClicked . FOR IOS"
Hi
Can you please help me to know what is the the functionality on iOS for this android functionality onStructuredContentLinkClicked

Thanks

[2018-04-15 06:52] EdenKupe commented on #204
Checking.

[2018-04-16 13:31] cjames1224 opened #209 "Request for documentation stating all permutations of response bodies from Messaging Window API"
This is an enhancement request to our documentation around the Messaging Window API requested by many of our customers. They appreciate the Response and Notification Builders (e.g. https://developers.liveperson.com/consumer-int-msg-notifications.html) but they request that the information be displayed in a quickly readable way. As in, a spreadsheet or PDF documentation of the responses and what ac

[2018-04-16 13:34] EdenKupe commented on #209
Hey Chris,

Thanks for letting us know. We're aware of this request; the entire document needs an overhaul. We're working on it! There's a new PM taking over documentation for this section of the documentation and you should start seeing improvements soon. We'll take this feedback to heart when making them. I'll keep this issue open so we have it for quick reference.

Thanks again!

[2018-04-16 14:51] donmanguno commented on #209
@cjames1224 I'm closing this issue now.

[2018-04-16 14:51] #209 closed

[2018-04-16 14:55] cjames1224 commented on #209
:thumbsup:

[2018-04-17 08:25] ssamaga3 commented on #206
Hi Team,

We actually want to hit the Retrieve Available Agents API and get the number of logged on agents at any point of time.
https://developers.liveperson.com/agent-retrieve-available-agents.html

We need to call this API:
https://{domain}/api/account/{accountId}/agentSession/{agentSessionId}/availableAgents?v=1&NC=true

Here we need to pass AccountID ,AgentSessionId and Authorization Bearer {

[2018-04-17 11:38] hpur commented on #208
Hi @refnandor,
We are still looking into it, can you share the purpose/need for using this method?

[2018-04-17 12:01] shaymLP commented on #207
@josercc, as it seems like your questions has been answered. This issue will be closed now, Please do not hesitate to open a new post if you have any further questions.

[2018-04-17 12:01] #207 closed

[2018-04-17 14:26] shaymLP commented on #198
@VatslauX You can view the list of error codes here: https://docs.google.com/document/d/1SXzXgCTEjztbDij7OwOPaieWJeSb8bFSncTXsw843cw/edit?usp=sharing
9007 is "CUSTOMER_JWT_NOT_VALID - failed to validate customer JWT - mostly due to public key doesn't match customer private key ( in the connector config)"

[2018-04-17 14:26] #198 closed

[2018-04-17 19:57] refnandor commented on #208
Something similar to a webview must be called to show the link on a window inside of the app (not redirected to safari)

![image](https://user-images.githubusercontent.com/32464396/38893240-55ffe6de-424f-11e8-9186-4f0c6a219940.png)
[Cambio de skill.pdf](https://github.com/LivePersonInc/developers-community/files/1921377/Cambio.de.skill.pdf)

[2018-04-18 15:32] donmanguno commented on #206
Hi @ssamaga3,

This request is part of the Agent API, which exposes the various functions of the LiveEngage agent workspace.

As described [here](https://developers.liveperson.com/chat-agent-getting-started.html), to begin using the API you need to create an Agent Session by logging in as an agent using the [Login Service API](https://developers.liveperson.com/login-getting-started.html).  Once yo

[2018-04-18 18:15] donmanguno commented on #195
Hi @rsmohammed,

Please confirm that you have the following configuration for monitored flow:

- You have a regular engagement created in the LE Engagement Studio which appears for visitors on your page.
- The engagement is associated with an API-based engagement window, which has a JS Method Name and optional JS Context specified.  In this example your method may be called `myMethodName`.
- On yo

[2018-04-18 19:27] refnandor commented on #208
@hpur Did you find something that can help?

[2018-04-18 19:53] dvillacis94 commented on #208
@refnandor, we're talking with R&D about it, we'll let you know as soon as we get an answer

[2018-04-18 20:50] refnandor commented on #208
Great! many thanks

[2018-04-19 10:32] ssamaga3 commented on #206
Hi @donmanguno Mark,

I choose the application login method. Created a Bot user and got the required API keys.Please refer the screenshot below:

![image](https://user-images.githubusercontent.com/35951704/38986433-04083e2a-43ea-11e8-8096-e145105cc200.png)

![image](https://user-images.githubusercontent.com/35951704/38986379-e4baa134-43e9-11e8-8c65-6fc79ebdbd01.png)

After this i am trying to call

[2018-04-19 17:01] donmanguno commented on #206
HI @ssamaga3

In the response to the initial "Login" request you'll receive a `bearer`.

In all subsequent Agent API requests, including Create Agent Session, do not use oAuth to authenticate: rather, set the `Authorization` header to `Bearer {{yourBearer}}`

[2018-04-19 18:48] rsmohammed commented on #195
We have a developer now working with the LE dev team and I believe a ticket has been raised for this problem. So I think we can close this one and continue to work with the LE dev team on a fix.

[2018-04-19 19:35] orenkatz commented on #195
OK, we will close this issue for now

[2018-04-19 19:35] #195 closed

[2018-04-20 02:08] bramley-stride commented on #205
It's the string resource `brand_name`. Unfortunately, the SDK provides this value for _every_ language, so if you don't want users with a device set to eg German to see 'Meine Marke', you have to either:
-Provide a strings.xml for _every_ language LP supports, and override that value with your brand name (which for most people would be exactly the same in every language anyway)
-If your app only h

[2018-04-20 02:27] bramley-stride opened #210 "Android SDK: Push notifications no longer have a click action on v3.1"
Clicking on a LP notification no longer does anything as of SDK v3.1. Previously, it used to open the chat window (until v3.0, when it crashed instead - see issue #157 )

[2018-04-20 02:45] bramley-stride commented on #210
The method `com.liveperson.infra.handler.NotificationHandler.createPendingIntent()` is no longer referenced.

[2018-04-20 07:06] ssamaga3 commented on #206
Hi @donmanguno ,

When i try for User Login method, With oAuth authorization or not , i get the following error:

Failed to login to AppServer http://solutions.liveperson.com/?goto=home.jsp&servicepath=a%2f%7e%7eaccountid%7e%7e%2f%23%2c%7e%7essokey%7e%7e&lnf=2&lpservice=liveEngage&stId=28084016&lang=en%2dUS&error=17

I can ping the server but i cannot browse the link http://solutions.liveperson.co

[2018-04-23 18:30] shaymLP commented on #210
The flow you described is expected behavior as from version 3.1 using the following function : LivePerson.handlePushMessage(this, remoteMessage.getData(), account, **true**);  will only display the push message and the message **will not** be click-able, best practice will be setting the above flag to false and handling the message by the host app fully. We do plan to add back that functionality i

[2018-04-23 18:30] #210 closed

[2018-04-24 08:56] hpur commented on #208
Hi @refnandor
Can you share with me from which brand/account are you?

[2018-04-24 23:10] refnandor commented on #208
HI

Yes, the account is: 79415415 - IATAI- the project is Visa Rewards and Visa
Assistance

Regards

On Tue, Apr 24, 2018 at 3:56 AM, hadarpLP <notifications@github.com> wrote:

--
*Fernando Ramirez*
O. +525557220252
M. +5215536472920

--
This message may contain confidential and/or privileged information. 
If
you are not the addressee or authorized to receive this on behalf of the
addressee you m

[2018-04-25 11:32] hpur commented on #208
Hi @refnandor
LivePerson representative will contact you to open a feature request for this functionality for iOS SDK version.

Regards,
Hadar.

[2018-04-25 17:35] rplankenhorn opened #211 "Support Xcode 9.3"
Any plans to support Xcode 9.3 sometime soon?

[2018-04-25 18:33] WildYorkies commented on #209
@EdenKupe Is the new documentation also going to include what functionality you will _lose_ by using the Messaging Window API vs the built in window?

[2018-04-25 19:18] EdenKupe commented on #209
Hey,

I'll add that into the requirements for it!

[2018-04-26 00:06] bramley-stride commented on #210
OK, this change wasn't in the release notes at https://developers.liveperson.com/consumer-experience-android-sdk-release-notes.html , was it flagged somewhere else?

[2018-04-26 00:08] orenkatz commented on #211
Hey @rplankenhorn
Our latest SDK (v3.1.1) supports Xcode 9.3
https://github.com/LP-Messaging/iOS-Messaging-SDK

[2018-04-26 00:35] rplankenhorn commented on #211
@orenkatz Oh ok.  The release notes for that version say Xcode 9.2.  Is that a typo?

[2018-04-26 14:55] orenkatz commented on #211
Yes, it should be 9.3, we will fix it

[2018-04-26 14:55] #211 closed

[2018-04-30 16:07] scottwestover commented on #206
Hi @ssamaga3,

When you call the Application Login method, and provide your bot user API keys, you should get a response back that has a field called `bearer`, and this is the token you will need to use. You can see an example of the response at the bottom of the page here: [Application Login](https://developers.liveperson.com/agent-app-login.html)

Are you using the following URL to call the api:

[2018-04-30 16:13] scottwestover opened #212 "Extra character in Application Login url in the Login Service API"
In the POST request URL for the Application Login method, there is an extra `]`.

Reference: `https://{domain}/api/account/{accountId}]/login?v=1.3`

should be: `https://{domain}/api/account/{accountId}/login?v=1.3`

Documentation page: https://developers.liveperson.com/agent-app-login.html

[2018-04-30 16:29] rplankenhorn opened #214 "Extra space between keyboard and text input"
I am seeing extra space (see screenshot) between the keyboard and the text input for both 3.0.0.17.1448 and 3.1.2.0.1656.  Any ideas?

![screen shot 2018-04-30 at 11 26 02 am](https://user-images.githubusercontent.com/228338/39438363-889f5a24-4c69-11e8-9907-807c418dda59.jpg)

[2018-04-30 18:35] rplankenhorn commented on #214
It looks to be the same issue as in this release:  https://github.com/LP-Messaging/iOS-Messaging-SDK/releases/tag/2.1.2

[2018-04-30 18:36] rplankenhorn commented on #214
It's worse on the iPhone X.

![screen shot 2018-04-30 at 1 35 50 pm](https://user-images.githubusercontent.com/228338/39443847-6cf6708e-4c7b-11e8-90c9-c4e3bb8f1bf7.jpg)

[2018-05-01 07:33] hpur commented on #214
Hi @rplankenhorn
There is not v3.1.2.* yet, but I'll check it on v3.0.0 and v3.1.1 as well, on which device the issue occurs?

[2018-05-01 15:50] orenkatz commented on #212
@EdenKupe

[2018-05-01 17:01] rplankenhorn commented on #214
@hpur Thanks!  It happens when I tap on the text field and the keyboard shifts up.

[2018-05-02 08:36] hpur commented on #214
Hi @rplankenhorn
In your screenshots, you add to the keyboard toolbar with a done button that seems it is a cause the issue.
The reason is that you override our SDK's keyboard, try to use with our default SDK's keyboard.
The done button is not necessary if you will touch on the conversation screen the keyboard will disappear.

[2018-05-02 15:46] refnandor opened #215 "CoApp issue - iOS SDK - On production"
Hi

We have been facing issues with the coApp SDK, the calls are not arriving, we have checked twice the step by step guide but it is not working anymore. We need urgent support due is on production now. Can we have a quick call or skype session?
They are using Messaging SDK V 3.0.0  and the same coapp version from the beginning
Xcode v 9.3
Target 10.1
iOS version 11.3.1
LP account: 79415415
custo

[2018-05-02 15:58] rplankenhorn commented on #214
Hi @hpur.  I don't think that's the issue.  I still see the grey gap when I remove the done button.

![screen shot 2018-05-02 at 10 56 54 am](https://user-images.githubusercontent.com/228338/39534606-90d02220-4df7-11e8-8657-feaac5aa773a.jpg)

[2018-05-02 16:05] refnandor commented on #215
Some screencaptures:

![captura de pantalla 2018-04-30 a la s 5 39 48 p m](https://user-images.githubusercontent.com/32464396/39534042-4027d544-4df6-11e8-8649-ec0567538f2d.png)
![captura de pantalla 2018-04-30 a la s 5 40 16 p m](https://user-images.githubusercontent.com/32464396/39534055-4b6ff0b2-4df6-11e8-9832-3a491dcbcd89.png)

[2018-05-03 14:45] pmolensky opened #216 "history is restored after clearHistory (v3.1)"
Hi,

when testing SDK 3.1, our client observed their history being restored after using the clear history function and returning to the conversation window.
Steps to reproduce:
1. Close conversation
2. Clear history
3. Go back one screen
4. Wait a few seconds
5. Open activity window
Result: see previous conversations reappear (if you're to quick, try step 3-5 again).
Expected behavior: see no hist

[2018-05-03 14:52] pmolensky commented on #216
FYI, a case is also opened by LP support: case#00655976

[2018-05-04 04:42] hpur commented on #214
Hi @rplankenhorn
I tried to reproduce it with no success.
Can you share with me the delegate implementation + the view controllers you implement our SDK?

[2018-05-04 07:02] hpur commented on #216
Hi @pmolensky
I will look into it and get back to you as soon as possible.

[2018-05-04 20:39] refnandor commented on #215
Some can help us?

[2018-05-06 05:01] hpur commented on #216
Hi @pmolensky
Before you log in again after you closed the conversation &cleared the history, did you do log out?

[2018-05-07 07:31] EdenKupe commented on #212
Thanks for reporting, fixed.

[2018-05-07 07:31] #212 closed

[2018-05-07 07:38] pmolensky commented on #216
Hi @hpur, that is not the case. I'm aware a login with authentication token will retrieve the history.
FYI, in the recording I uploaded, I used no authentication token. So a login would create a new visitor session and have no history at all.

[2018-05-07 07:57] manzalyshay commented on #215
@refnandor @EdenKupe , We are looking into it.

[2018-05-07 07:58] shaymLP commented on #215
@refnandor @EdenKupe , We are looking into it.

[2018-05-07 08:03] shaymLP commented on #204
@EdenKupe ?

[2018-05-07 08:37] EdenKupe commented on #204
Will ping the PM again.

[2018-05-07 15:03] dvillacis94 commented on #215
@refnandor,

The CoApp SDK doesn't support BitCode, do you have that **Build Option** - disable?

[2018-05-07 17:27] refnandor commented on #215
Yes, it is disabled

The problem has started after the xcode update for the new devices and the
new iOS

Regards

On Mon, May 7, 2018 at 10:03 AM, David Villacis <notifications@github.com>
wrote:

--
*Fernando Ramirez*
O. +525557220252
M. +5215536472920

--
This message may contain confidential and/or privileged information. 
If
you are not the addressee or authorized to receive this on behalf of

[2018-05-07 17:28] dvillacis94 commented on #215
Ok, I'm currently checking this with the R&D team.

[2018-05-07 18:32] donmanguno commented on #206
Hi @ssamaga3. We are decommissioning this issues space, and therefore I am going to close this issue due to the lack of response to Scott's question.

If you are still having issues with the login service API please post your question on our new forum at https://support.liveperson.com/forum/.

[2018-05-07 18:32] #206 closed

[2018-05-07 20:00] refnandor commented on #215
+ Kyle

On Mon, May 7, 2018 at 12:28 PM, David Villacis <notifications@github.com>
wrote:

--
*Fernando Ramirez*
O. +525557220252
M. +5215536472920

--
This message may contain confidential and/or privileged information. 
If
you are not the addressee or authorized to receive this on behalf of the
addressee you must not use, copy, disclose or take action based on this
message or any information her

[2018-05-07 20:17] orenkatz commented on #216
Closing this issue as there is a case already open with our support team

[2018-05-08 07:48] pmolensky commented on #216
Thanks @orenkatz, I received a confirmation by support it's forwarded to R&D to be resolved.
In the mean time, can we think of a work around?
I'm currently investigating the option to set the value for `idp_num_history_conversation` and `maxPreviousConversationToPresent` to '0'. Any other suggestions?

[2018-05-08 08:17] pmolensky commented on #216
Is there an attribute to hide the clear history button? Even if implemented correctly, it will only remove the history from the local device until a logout and a next login.

[2018-05-08 09:10] hpur commented on #216
Hi @pmolensky
You can control which buttons will be shown on the conversation screen if you are using in view controller mode for iOS and Fragment mode for Android.

[2018-05-08 16:15] dvillacis94 commented on #215
@refnandor,

I was able to run the CoApp SDK using the following Configurations:

[code]
**Bitcode Disable:**

![screen shot 2018-05-08 at 12 09 16 pm](https://user-images.githubusercontent.com/11651229/39768968-c9accda8-52b8-11e8-8c82-8df3544bce59.png)

**Library Search Paths:**

![screen shot 2018-05-08 at 12 11 05 pm](https://user-images.githubusercontent.com/11651229/39769026-f8c461fa-52b8-11e

[2018-05-08 17:37] refnandor commented on #215
Hi David

Thanks for your reply, we will validate this procedure and let you know the
output

Regards

On Tue, May 8, 2018 at 11:15 AM, David Villacis <notifications@github.com>
wrote:

--
*Fernando Ramirez*
O. +525557220252
M. +5215536472920

--
This message may contain confidential and/or privileged information. 
If
you are not the addressee or authorized to receive this on behalf of the
address

[2018-05-08 18:38] rplankenhorn commented on #214
@hpur I'm trying to create a sample app but as of right now, we can reproduce it on both a React Native implementation and a pure native implementation.

[2018-05-09 08:46] shaymLP commented on #214
Hi @rplankenhorn ,
First of all, we do not support React Native integrations. You can use cross-platform integrations, but we can't support the outcome of such usage. As for the Pure Implementation, i wasn't able to recreate the issue on any of the versions you mentioned. Storyboard constraints might got broken using the "custom button" you added, please try and recreate the container you are usin

[2018-05-09 22:12] refnandor commented on #215
There is an error when they try to install the pod ‘LPCoAppSDK’ :
[!] Unable to find a specification for 'LPCoAppSDK'.

![captura de pantalla 2018-05-09 a la s 4 04 29 p m](https://user-images.githubusercontent.com/32464396/39842424-fd68c810-53ab-11e8-8c49-1c024dea63f6.png)
The pod file of the test

![captura de pantalla 2018-05-09 a la s 4 06 00 p m](https://user-images.githubusercontent.com/3246

[2018-05-10 13:17] dvillacis94 commented on #215
@refnandor,

Can you confirm the version of the LPCoApp SDK you're using?

Meanwhile I'll get the framework file for '0.1.0.170'.

[2018-05-10 15:47] Manegoldsr21 opened #219 "Background Color - Structured Content"
Hi,

I am working on sending structured content through the chat agent API. Everything is working as expected except that I get an error whenever I add the "background-color" style. I am not sure if this attribute is just documented incorrectly or if it is actually a bug in the API. The rest of the style attributes are working successfully for me though.

https://developers.liveperson.com/structur

[2018-05-10 21:54] dvillacis94 commented on #215
@refnandor,

You can find the link to the CoApp SDK '0.1.0.170', [here](https://send.firefox.com/download/1443fa58bc/#SdS3HyesmO7g4TWJlQSW-Q),

This link will be available for 24hrs or one download.

[2018-05-11 16:12] refnandor commented on #215
Hi David

The link is expired, can you please send it again please?

Regards

On Thu, May 10, 2018 at 4:54 PM, David Villacis <notifications@github.com>
wrote:

--
*Fernando Ramirez*
O. +525557220252
M. +5215536472920

--
This message may contain confidential and/or privileged information. 
If
you are not the addressee or authorized to receive this on behalf of the
addressee you must not use, copy

[2018-05-11 16:17] dvillacis94 commented on #215
@refnandor,

[here](https://send.firefox.com/download/c1eee6ce82/#qsNLrFY9pbl4FEmSpWqY-g)

let me know if this works.

[2018-05-11 17:16] refnandor commented on #215
Hi David

Many thanks, it did work
We will try with this new version

Regards

On Fri, May 11, 2018 at 11:17 AM, David Villacis <notifications@github.com>
wrote:

--
*Fernando Ramirez*
O. +525557220252
M. +5215536472920

--
This message may contain confidential and/or privileged information. 
If
you are not the addressee or authorized to receive this on behalf of the
addressee you must not use, co

[2018-05-13 07:33] hpur commented on #219
Hi @Manegoldsr21 ,
I will look into it and get back to you as soon as possible.

[2018-05-13 10:31] hpur commented on #219
Hi @Manegoldsr21
I have fully investigated the issue with "background-color" style that you reported.
The issue has been assigned to our Research and Development Team and our developers are now working to resolve the issue.
Although we do not have an exact date for remedial actions, we do intend to have this deployed in a future release.

Regards,
Hadar.

[2018-05-14 20:35] rplankenhorn commented on #214
Would really like @dvillacis94's help here.  He's worked with me before on my project and is well aware of our React Native implementation and your support.

@shaymLP Not sure what custom button you are referring to.  I've removed the input accessory view from the page but there still exists a 50 pixel view right below where text is entered if I run the SDK on iPhone X.

I am able to reproduce it

[2018-05-14 21:15] refnandor commented on #215
Hi David. They still working on this, today is holiday in Colombia, so we will have some news tomorrow.
Thanks

[2018-05-14 21:20] dvillacis94 commented on #215
No worries,

Let us know, enjoy.

[2018-05-14 21:41] orenkatz commented on #214
Hey @rplankenhorn,
I'm sorry but we do not support React-Native implementation, the sample David shared with you was just an example of using our SDK with React-Native but it is not supported by LivePerson.
Oren.

[2018-05-14 23:29] rplankenhorn commented on #214
Having some internet issues.  Will upload shortly.

[2018-05-14 23:33] rplankenhorn commented on #214
Should be uploaded now.

[2018-05-15 04:28] #219 closed

[2018-05-15 14:50] rplankenhorn commented on #214
![livepersonissuenative](https://user-images.githubusercontent.com/228338/40064535-580b92d4-5825-11e8-9431-924052cc313a.gif)

[2018-05-16 17:40] orenkatz opened #220 "PLEASE NOTE - This space is closed, see link inside the issue"
This is the link to our new forum - https://support.liveperson.com/forum/

[2018-05-16 20:27] hpur commented on #214
Hi @rplankenhorn
I will look into it and get back to you as soon as possible.

Regards,
Hadar

[2018-05-16 21:00] hpur commented on #214
Hi @rplankenhorn
Line #19 in your MessagingViewController.swift file:

<img width="638" alt="screen shot 2018-05-16 at 11 34 04 pm" src="https://user-images.githubusercontent.com/37905019/40142574-ad88d77a-5961-11e8-8395-e7256d53b194.png">

is the reason for the space issue, if you'll remove this line, the space will disappear:

![gif](https://user-images.githubusercontent.com/37905019/40143399-06

[2018-05-18 15:42] WildYorkies opened #221 "Explain what will be lost in terms of data/functionality when using Custom Unmonitored Chat Flow"
https://developers.liveperson.com/guides-customizedchat.html#unmonitored

For developers that use the Unmonitored flow for chat, we need to explain the cons of doing this. For example, almost all of the meta data is no longer there, page navigation during the chat is no longer there, etc.

I need a census of things that will not work with this implementation so that developers know what to expect

[2018-05-18 17:44] #221 closed

[2018-05-19 01:31] refnandor commented on #215
Hi David

It didn't work, I'm collecting all the relevant information about this error ...

[2018-05-21 15:22] dvillacis94 commented on #215
Ok,

I'll be waiting for the Information.

[2018-05-22 15:59] hpur commented on #214
Hi @rplankenhorn
I'm sorry but we do not support React-Native implementation, on the Pure iOS implementation the issue has been resolved.

Regards,
Hadar.

[2018-05-23 04:42] ksatoLP opened #222 "Consumer Messaging History API"
Hi team,

Our client is curious when the full transcript data for messaging until a certain time can be available on MCS dashboard. (We are guessing "it depends", and there is no solid timeline like chat.)

We checked Consumer Messaging History API developer page but we are unable to find answer.
Would you know the answer for this question from client ?

https://developers.liveperson.com/consumer-

[2018-05-23 13:38] orenkatz commented on #222
Already opened in the new forum
https://support.liveperson.com/question/regarding-the-timing-which-we-can-see-the-conversation-history-for-messaging-consumer-messaging-history-api/

[2018-05-23 13:38] #222 closed

[2018-05-23 16:17] #214 closed

[2018-05-23 16:28] refnandor commented on #215
Hi David

The developer just sent me an example where you can find the current error with the latest version of the COAPP SDK: https://we.tl/YMxhPwYXyx
Please help us to fix this.

Thank you

[2018-05-23 18:29] dvillacis94 commented on #215
@refnandor,

I'm checking this.

[2018-05-23 20:26] icruzh opened #223 "Messaging API with node-agent-sdk"
Sorry here are the images:

Hi, we are testing the messaging API with the node-agent-sdk and we don't see the agent connected in the console.

Test 1
-The code was modified to see that the bot is responding.
-Two agents were created in the console (1 as human and 1 as a bot).

Executing the program the connection was successful but in the console the agent Bingo didn’t appear as connected.

<img s

[2018-05-23 21:56] icruzh opened #224 "Pass email from the app and pass it as engagement attribute (Messaging SDK)"
Hi!
How can I get the email from the app and pass it as engagement attribute to the agent console? (iOS and Android)

Regards

[2018-05-23 21:58] dvillacis94 commented on #224
Hi @icruzh,

You will need to either use Authenticated Chat and pass it with the JWT or use the Monitoring API inside the SDK.

[2018-05-23 22:05] icruzh opened #225 "Upload the app to the apple store"
We can not upload the app to the apple store. We are using version 3.1.1 and xcode 9.3.
Attached you can find the logs.
Can you help us?
[IDEDistribution.standard.txt](https://github.com/LivePersonInc/developers-community/files/2033028/IDEDistribution.standard.txt)

[2018-05-23 22:17] refnandor opened #226 "inApp Messaging SDK - Bancomer app 85237869"
We are presenting an issue when we are implementing the inApp Messaging SDK on a Bancomer app:

![image](https://user-images.githubusercontent.com/32464396/40454017-c4698584-5eac-11e8-8221-5d5395a9c6f3.png)

The project configuration:

![image](https://user-images.githubusercontent.com/32464396/40454092-07e4cf26-5ead-11e8-8d7d-1499f98f464d.png)

Can you please help us to understand this error and

[2018-05-24 14:05] dvillacis94 commented on #226
Hi @refnandor,

That Project configuration is from the SDK?

[2018-05-24 15:01] orenkatz commented on #223
Please note that we have moved to a new space - https://support.liveperson.com/forum
You can submit your question there.
Oren

[2018-05-24 15:02] orenkatz commented on #225
Please note that we have moved to a new space - https://support.liveperson.com/forum
You can submit your question there.
Oren

[2018-05-24 15:02] #225 closed

[2018-05-24 15:02] orenkatz commented on #224
Please note that we have moved to a new space - https://support.liveperson.com/forum
You can submit your question there.
Oren

[2018-05-24 15:02] #224 closed

[2018-05-24 15:02] orenkatz commented on #226
Please note that we have moved to a new space - https://support.liveperson.com/forum
You can submit your question there.
Oren

[2018-05-24 15:02] #226 closed

[2018-05-25 15:01] refnandor commented on #215
Hi David.

According with Carlos, the video call is not working at all, so you can see the errors after compile.
Please help us to find a solution for this.

Regards

[2018-05-25 15:05] dvillacis94 commented on #215
I'm not even able to compile it, I got errors from other Frameworks.

[2018-05-25 16:34] dvillacis94 commented on #215
Yeah that would be better, I think.

[2018-05-25 17:19] refnandor commented on #215
Hi David

Let's have this call 15:00 h EST. Sending you the invite...

Thanks

[2018-05-25 17:22] dvillacis94 commented on #215
Hi @refnandor,

Because of Memorial Day, the office USA office is closing at 2:00pm EST, and we're back until Tuesday.

We'll not be able to join this call.

[2018-05-25 17:25] refnandor commented on #215
David, so let's make it now, what do you think?

Regards

On Fri, May 25, 2018 at 12:22 PM, David Villacis <notifications@github.com>
wrote:

--
*Fernando Ramirez*
O. +525557220252
M. +5215536472920

--
This message may contain confidential and/or privileged information. 
If
you are not the addressee or authorized to receive this on behalf of the
addressee you must not use, copy, disclose or take

[2018-05-25 17:26] dvillacis94 commented on #215
We can do that, so I can get any errors if we need to communicate with other teams.

[2018-05-25 17:32] refnandor commented on #215
David, Barry.

Unfortunately they only can attend this until 3:00 pm EST. If you can't
join us, please help us to assign us some else that can help with the
error. They need to solve these issues today (upload to appstore and solve
the coapp error).

PS. IATAI just hire the enhancement support (Gold)
Thank you

Regards

On Fri, May 25, 2018 at 12:25 PM, Fernando Ramirez <framirez@liveperson.com>
w

[2018-07-17 11:22] kanchanmishra commented on #49
Hi.... I'm using com.liveperson.android:lp_messaging_sdk:3.2.0. and getting following error:

E/Liveperson **ConnectionStateMachine_ConnectingState**: Connection task OPEN_SOCKET failed Open Socket - CLOSED

Please can you check if my account is enabled for messaging?
33136087

Thanks in advance.

[2018-07-17 15:40] orenkatz commented on #49
@kanchanmishra , We just enabled Messaging on your account, please check again.
Oren.

[2018-07-18 08:33] kanchanmishra commented on #49
Thanks orenkatz. I can see more Connections and Messaging tabs in my account now. iOS sample App is connecting.

[2018-07-31 08:56] joselllorente commented on #49
Hi @EdenKupe and @donmanguno,
Would you mind activating messaging in my account too, please?
My account number is: 47859597

Thanks in advance,
Regards,

Thank you.

[2018-11-25 11:34] #215 closed

[2018-12-21 17:56] jaltschuler opened #250 "Hello Conversation Builder: Add Main Dashboard Image"
When beginning the tutorial we ask people to tap on Conversation Builder, I would show an image of the main dashboard.
Something like this but use your login, so its not from Admin user.
<img width="1636" alt="screen shot 2018-12-21 at 9 55 29 am" src="https://user-images.githubusercontent.com/5421515/50356395-a2c0d580-0506-11e9-8291-540d7986c67e.png">

[2018-12-21 18:01] jaltschuler opened #251 "Hello Conversation Builder: Change/link User Says Interaction"
When indicating the User Says interaction, we're only saying "User Interaction". Can we change to "User Says Interaction" and can we link it to the Component Breakdown which does a nice description?

[2018-12-21 18:06] jaltschuler commented on #251
Also, we're not renaming it to say "Hello" we are providing a sample intent or phrase that might trigger it.

[2018-12-21 18:10] jaltschuler opened #252 "Hello Conversation Builder: For Welcome add look at Patterns"
Before we go to the Preview to see the Hello world work, we should take a brief look at the Interaction settings to see the patterns that trigger it. This way when you go to the previewer and type "hi" you'll understand why / what its matching.

[2018-12-26 08:30] EdenKupe commented on #251
Done.

[2018-12-26 08:30] #251 closed

[2018-12-26 08:32] EdenKupe commented on #252
The pattern match is mentioned in the doc and links to pattern matching. Not sure that directing the user's attention to the settings panel is a good idea in this hello world context. However, @trosel wrote this one so I'll let him decide. Can easily be added.

[2018-12-26 14:54] EdenKupe opened #253 "Change Screenshots On Hello Intent Builder"
@trosel can you please change the screenshots on the Intent hello world doc to match the example? Your example is about animals and the screenshots uses city. This is confusing since it doesn't intuitively show what you're talking about. Please change the screenshots so that they match the actual intent/entity names you use.

[2019-04-07 11:29] EdenKupe commented on #252
@trosel can we close this one?

[2019-04-07 11:29] #253 closed

[2019-04-07 13:56] #252 closed

[2019-04-24 10:53] #220 closed

[2019-05-10 13:46] scottwestover opened #312 "Rich Message Channel Capabilities Search Field does not work"
Page: https://developers.liveperson.com/getting-started-with-rich-messaging-rich-messaging-channel-capabilities.html

Bug: Search field does not work

Detail: There is a search field above the `Rich Messaging Channel Capabilities` table that looks like it should filter the table when you type a term into the input field. However, nothing happens when I type anything into the box.

Tested on: Mac -

[2019-05-10 13:57] scottwestover opened #313 "Custom Third Party Bots - Link not rendering correctly"
Page: https://developers.liveperson.com/bot-connectors-custom-third-party-bots.html

Bug: Link not rendering correctly

Detail: In the [Integrating Custom Bots Section](https://developers.liveperson.com/bot-connectors-custom-third-party-bots.html#integrating-custom-bots-via-messaging), there is a link to the Messaging Agent SDK that is not rendering correctly.

Image:
![Screen Shot 2019-05-10 at 9

[2019-05-12 09:27] EdenKupe commented on #312
Thank you Scott,

This should work now. Feel free to re-open if needed.

[2019-05-12 09:27] #312 closed

[2019-05-12 09:29] EdenKupe commented on #313
Fixed, thank you!

[2019-05-12 09:29] #313 closed

[2019-05-17 15:50] ManAnRuck opened #316 "JavaScript Chat SDK isn't available"
the download link for the JavaScript Chat SDK isn't working;
https://github.com/LivePersonInc/developers-community/blob/master/pages/documents/ClientSideConfiguration/JavaScriptChatSDK/getting-started.md

Line: 31

[2019-05-19 10:33] EdenKupe commented on #316
The link works for me, it sends you to a page containing the raw code for the SDK

[2019-05-30 11:48] Hmalchev opened #320 "Several typos in "Agent Messaging API""
https://developers.liveperson.com/agent-int-api-reference.html#section/Happy-Flow
"username and password"
https://developers.liveperson.com/agent-int-api-reference.html#tag/Conversation%2Fpaths%2F~1subscribeExConversations%2Fjs
"in the metadata"
https://developers.liveperson.com/agent-int-api-reference.html#tag/Conversation%2Fpaths%2F~1updateConversationField%23participants%2Fjs
"in a conversation

[2019-06-03 19:48] EdenKupe commented on #320
Fixed, thanks.

[2019-06-03 19:48] #320 closed

[2019-06-03 19:48] #316 closed

[2019-06-06 10:07] lp-tattwell opened #327 "Conversation Builder functionality documentation"
1)
https://developers.liveperson.com/conversation-builder-conversation-builder-conditions.html

The document lists 4 ways to match a phrase in conversation builder but there is a new 5th way called "Evaluate Options". I don't know how it works since it is not in the docs.

![image](https://user-images.githubusercontent.com/25583661/59022420-a393bc80-8845-11e9-9497-88ff925277cf.png)

2)
https://dev

[2019-06-06 16:14] EdenKupe commented on #327
Hey @trosel can you take a look at this please?

[2019-07-02 14:49] kohcheek opened #333 "Update documentation to reflect deprecated botcentralai.com"
Since botcentralai.com will be deprecated and we're pointing to developers/users to our sites to get tutorial on how to use Conversation Builder, will need to replace with updated domain name.
eg.
In tutorials and guides on the Conversation Builder" from :
https://developers.liveperson.com/conversation-builder-getting-started-1-dialogs-and-patterns.html
there is "....navigate to https://platform.b

[2019-07-03 07:00] davidres17 opened #335 "Agent Handoff documentation outdated"
https://developers.liveperson.com/conversation-builder-getting-started-4-connect-to-liveengage.html#step-12-transfer-from-bot-to-human

This guide details the "old" method for transferring a conversation to a human agent in CB.
There is a not integration function for LivePerson Agent Handoff that is not documented yet - please update ASAP.

[2019-07-03 07:01] EdenKupe commented on #335
@trosel can you take a look?

[2019-07-03 08:43] EdenKupe commented on #333
@trosel let me know if you have capacity to handle this. Otherwise, I'll pick it up myself.

[2019-07-05 13:25] fgifford-liveperson opened #339 "iOS docs outdated"
1. In https://developers.liveperson.com/mobile-app-messaging-sdk-for-ios-quick-start.html

But according to XCode:

2. In https://developers.liveperson.com/mobile-app-messaging-sdk-for-ios-sdk-apis-monitoring-api.html#getengagement the parameter documentation is wrong: it's a copy/paste of the parameters for sendSDE.

[2019-07-07 07:25] EdenKupe commented on #339
@randymclainLP can you take a look at this please?

[2019-07-11 00:21] gitLee47 opened #346 "Authentication not clear on certain steps"
Hello,
I was trying to create a POC and reached the point where I get a POST call to my token endpoint with:code, grant_type and redirect_uri. I perform the OPENID JWT encryption and signing and then return it back as a 200. Still the developer console shows 401 unauthorized and defaults to the survey:
{"error":{"time":"2019-07-10T19:30:16.887-04:00","message":"Failed to validate user with custome

[2019-07-25 07:59] EdenKupe commented on #346
Hey!

Sorry for the delay here. Let me answer your questions:

1) As detailed in the docs, the `iss` is "The name of the Authorization Service as configured in LivePerson." So that is indeed the service domain that you specified in the LP configuration.

2) The key without the header and tail.

3) JWE is an industry standard. Here is the [RFC](https://tools.ietf.org/html/rfc7516) and [here](https:

[2019-08-05 10:44] amirmLP opened #361 "Automatic messages documentation inaccurate"
There are 2 types of auto messages:
1) Auto messages for Chat:
https://developers.liveperson.com/automatic-messages-api-overview.html
2) Auto messages for Messaging (unified auto messages):
https://developers.liveperson.com/unified-automatic-messages-api-overview.html

The documentation on both of those APIs says that they cover both Chat and Messaging.
Additionally, the documentation itself (on b

[2019-08-05 11:52] EdenKupe commented on #361
Opened a ticket for the relevant owner. Will close this issue when the docs are updated.

[2019-08-06 11:58] #346 closed

[2019-08-06 12:50] EdenKupe commented on #335
@trosel are we on top of this?

[2019-08-06 12:51] EdenKupe commented on #333
@trosel did we fix this?

[2019-08-06 14:07] trosel commented on #335
This is done

[2019-08-06 14:07] #335 closed

[2019-08-07 09:22] EdenKupe commented on #339
1. Is being worked on internally, a fix is coming.

2. I've been informed by Randy that these two methods are almost exactly the same and that there's no error.

[2019-08-07 09:22] EdenKupe commented on #333
We're checking with the Mountain View team on which links need to be updated. It's not all of them.

[2019-08-07 09:49] fgifford-liveperson commented on #339
This line is wrong: https://github.com/LivePersonInc/developers-community/blame/master/pages/documents/MessagingChannels/MobileAppMessagingSDKforiOS/Methods/monitoring%20methods.md#L43 it is a copy/paste of this line: https://github.com/LivePersonInc/developers-community/blame/master/pages/documents/MessagingChannels/MobileAppMessagingSDKforiOS/Methods/monitoring%20methods.md#L80.

The non-depreca

[2019-08-07 10:05] EdenKupe commented on #339
Will relay this to Randy.

[2019-08-07 15:16] randymclainLP commented on #339
This is helpful.. I'll add this to my pull request.  Thanks for the clarification.  Cheers.

[2019-08-12 10:57] lp-tattwell opened #371 "Conversation Builder - Knowledge base docs don't tell you how to integrate into bot"
https://github.com/LivePersonInc/developers-community/blob/master/pages/documents/BotsAndAutomation/ConversationBuilder/KnowledgeBase/knowledgecenteroverview.md

The document covers how to create a knowledge base, however, doesn't say how to actually use it in a bot. The documentation doesn't cover how to create a KB integration. It is straight forward but a picture or two would really help.

[2019-08-12 14:30] fgifford-liveperson opened #372 "CB broken image links"
The images on https://developers.liveperson.com/pages/documents/BotsAndAutomation/Tips_and_Tricks_v2.2.html#how-do-i-get-the-bot-to-close-the-conversation come from broken links, i.e. I get 404 for this and all images on this page: https://developers.liveperson.com/pages/documents/BotsAndAutomation/img/ConvoBuilder/BestPractices/image_0.png.

[2019-08-12 15:23] trosel commented on #372
That document is not complete and not ready to view on the website.

[2019-08-12 15:34] trosel commented on #372
@fgifford-liveperson was wondering where the  words `LP_CLOSECONVERSATION` came from, searched the website and found this unfinished doc

https://developers.liveperson.com/pages/documents/BotsAndAutomation/Tips_and_Tricks_v2.2.html#how-do-i-get-the-bot-to-close-the-conversation

We should either fix up this document or explain this elsewhere:

* Create text interaction with the special string `LP_

[2019-08-12 16:33] jaltschuler commented on #372
That tips and tricks document should be removed from the website and replaced with actual documentation.

[2019-08-12 16:41] trosel commented on #372
deleted.

[2019-08-12 16:41] #372 closed

[2019-08-13 15:37] lp-tattwell opened #377 "Code flow listed twice under different names"
In the auth docs, it lists "Code Flow" and "OAuth 2.0 code" as two separate flows we support. They are the same thing so they should be merged or one removed.

![image](https://user-images.githubusercontent.com/25583661/62955295-b1873000-bde8-11e9-83a4-c1fc4ed55549.png)

[2019-08-13 15:38] lp-tattwell commented on #377
in this page https://developers.liveperson.com/mobile-sdk-and-web-authentication-introduction.html

[2019-08-14 13:42] trosel commented on #377
@lp-tattwell where is the issue on the page? I just see a section that lists terminology

<img width="904" alt="image" src="https://user-images.githubusercontent.com/1299322/63025719-cc54b580-be77-11e9-9e5b-1fbd3b3bf995.png">

[2019-08-14 15:55] lp-tattwell commented on #377
In the auth docs, it lists "Code Flow" and "OAuth 2.0 code" as two separate flows we support. They are the same thing

[2019-08-16 08:29] lp-tattwell opened #379 "Conversation Builder Stop words have been updated"
The CB team has updated the stop words for all accounts, here are the updated lists.

**Current Stop:**
"a","about","again","against","all","am",
"an","and","any","are","aren't","as","at","be","because","been","being","both","but","by","can't",
"can", "cannot","could","couldn't","did","didn't","do","does","doing","don't","during","each","for","from","further",
"had","hadn't","has","hasn't","have",

[2019-08-16 12:32] trosel commented on #379
Where should this be documented? @jaltschuler

[2019-08-16 18:19] trosel commented on #379
@lp-tattwell  @jaltschuler  Update: just found these listed here https://developers.liveperson.com/conversation-builder-best-practices-training-and-tuning-your-intents-and-faqs.html#nlu-stop-words

@lp-tattwell should I change this to be formatted like you have it? Is it easier if they have commas and such?

[2019-08-19 09:21] lp-tattwell commented on #379
Nah, keep the format as it currently is in developers.

[2019-08-19 13:50] trosel commented on #379
Done. This will be pushed at the end of the week with other changes from tips and tricks doc.

[2019-08-20 08:05] fgifford-liveperson opened #384 "Broken img link on https://developers.liveperson.com/maven-ai-powered-routing-intent-context-policies.html"
Broken img link on https://developers.liveperson.com/maven-ai-powered-routing-intent-context-policies.html introduced by typo in https://github.com/LivePersonInc/developers-community/commit/b2db080d88ddf7b678ec38e278eb534e29906ca4, I suggest you check for similar typos in case there are other broken links.

[2019-08-20 08:12] fgifford-liveperson commented on #384
Also https://github.com/LivePersonInc/developers-community/edit/master/pages/documents/BotsAndAutomation/Maven/aiPoweredRouting/setupInLivePerson.md, will add it to the PR.

[2019-08-20 12:03] EdenKupe commented on #371
@trosel did you see this?

[2019-08-20 12:38] EdenKupe commented on #377
Isn't code flow mentioning a more general use case, with OAuth just being one example? That's how I understand the text, that some flows provide a code and OAuth is just one of them.

[2019-08-20 12:38] #384 closed

[2019-08-20 13:28] trosel commented on #371
We intend on beefing this section up, yes! I'll leave this open until we do.

[2019-08-21 14:09] lp-tattwell commented on #377
OAuth is the framework/protocol (whatever you want to call it) and Implicit Flow and Code Flow are implementations of that framework.

The information in both is valid so I think they just need merging together rather than one being removed outright in favour of the other.

[2019-08-22 06:29] tblevins opened #393 "Zendesk Integration guide incorrect"
The document  https://s3-eu-west-1.amazonaws.com/ce-sr/CA/CRM+Integration+Guides/Zendesk+Integration+Guide.pdf   is incorrect on page 15 it says that you can't create a new ticket.  You can create a new ticket when you link the conversation to the found customer within Zendesk -- please see the following video to see how it's done:::  https://drive.google.com/file/d/1McyMC8iA6n7RyH3J5QoS1WdyWaVgtP

[2019-08-22 07:31] EdenKupe commented on #377
Got it. @lpbarber can you take a look?

[2019-08-22 13:50] trosel commented on #377
@lp-tattwell If it's not clear, that's just a list of vocabulary words. It's just terms with definitions.

I suppose it could use some editing to be more useful. I mean, the website is written for developers, so they should know what OAuth2 is already.

[2019-08-23 12:38] trosel commented on #327
@lp-tattwell

what its supposed to do is handle if you have options like

* A) One
* B) Two

If the user says "a" or "one" or "A one" it will return the original option "A) One"

We are investigating if this works as intended at this moment though.

[2019-08-23 12:57] lp-tattwell commented on #327
That's how I think it works but i'm not 100% sure of the exact details. i would love to know your findings from your tests.

[2019-08-23 14:47] peterswimm commented on #377
Fwiw for things that should be obvious to most people, We could just link the term to some public discussion of what it is for the 1% that needs it. This can be like the Wikipedia entry or whatever. We don't have to own the curation of describing it but it just a useful something for someone.

[2019-08-30 10:50] Sergeyp52 opened #398 "Suggestion to include date in request example in Audit Trail API"
Customers who are not familiar with graphQL might have issues running the API call since it's a bit different from the regular format we're using for API calls.

Suggest replacing the current request example with the one below which contains date:

{"query" : "{auditData (fromDate:"2019-07-16" toDate:"2019-07-17")
{accountId
objectType
objectName
actionType
element
oldValue
newValue
changeDate
ori

[2019-08-30 10:53] Sergeyp52 opened #399 "Literary quotes in MI API documentation break JSON"
In the document about Messaging Interactions API, there are examples for requests where the quotation marks in the filters examples are curly (literary) and not straight, which breaks JSON if someone tries to copy them as an example.

Look under "Filters examples" on https://developers.liveperson.com/messaging-interactions-api-methods-conversations.html.

Copy one of the examples into Postman and

[2019-08-30 10:54] Sergeyp52 opened #400 "LiveDeflect API documentation doesn't appear in the table to contents"
We have documents on LiveDeflect on the website but you can't actually find them using the table of contents. The only way to find them is via search one by one.
Example: https://developers.liveperson.com/livedeflect-api-getlivedeflectdata.html#request
At the top, the path to the documentation is shown as
Messaging Channels>LiveDeflect>APIgetLiveDeflectData
In reality, we don't have the LiveDeflec

[2019-09-01 07:56] EdenKupe commented on #398
Thanks! I've updated the example.

[2019-09-01 07:59] EdenKupe commented on #399
Fixed

[2019-09-01 07:59] EdenKupe commented on #400
These are not officially live yet. I've been trying to chase down their owners for a while now but received no response.

[2019-09-01 07:59] #400 closed

[2019-09-01 07:59] #399 closed

[2019-09-01 08:00] #398 closed

[2019-09-01 08:00] EdenKupe commented on #393
We're working on updating all of these documents. More info soon.

[2019-09-01 08:00] #393 closed

[2019-09-01 08:00] EdenKupe commented on #379
@trosel was this pushed?

[2019-09-04 13:12] trosel commented on #379
@EdenKupe yep! https://developers.liveperson.com/conversation-builder-best-practices-training-and-tuning-your-intents-and-faqs.html#nlu-stop-words

[2019-09-04 13:12] #379 closed

[2019-09-11 12:34] fgifford-liveperson opened #414 "Broken link to iOS SDK 3.9.1 release notes"
On https://developers.liveperson.com/mobile-app-messaging-sdk-for-ios-all-release-notes.html the link to 'Mobile App Messaging SDK for iOS Release Notes 3.9.1' goes to https://developers.liveperson.com/mobile-app-messaging-sdk-for-ios-release-notes-3-9-1.html, but this returns a 404.

[2019-09-27 11:49] lp-tattwell opened #434 "resolveConversation completion callback"
https://developers.liveperson.com/mobile-app-messaging-sdk-for-ios-sdk-apis-messaging-api.html#resolveconversation

The docs suggest that resolve conversation has a completion callback but that doesn't seem to be the case. Is this here in error? Should the document show:

`func resolveConversation(_ conversationQuery: ConversationParamProtocol)`

[2019-09-27 19:54] mwashburn91 opened #436 "Campaign Info Table is misaligned"
If you go to the Campaign Info table, you will see that the first 2 columns were shifted to the right and the Type/Value information is missing.

The monitoring section is like that too.

[2019-09-27 19:59] trosel commented on #436
It's this one https://github.com/LivePersonInc/developers-community/blob/master/pages/documents/HistoricalData/MessagingInteractionsAPI/methods/conversations.md

[2019-09-30 13:26] EdenKupe commented on #434
@zhaowenzhi-lp can someone from your team review this please?

[2019-09-30 13:54] EdenKupe commented on #436
Thanks, the formatting on those tables was all wrong. I've fixed it.

[2019-09-30 13:54] #436 closed

[2019-09-30 23:06] randymclainLP commented on #339
@EdenKupe  can we close this issue?

[2019-10-01 13:43] EdenKupe commented on #339
Certainly

[2019-10-01 13:43] #339 closed

[2019-10-02 19:37] peterswimm opened #446 "Question about how Jekyll handles embedded images"
I noticed that we are building the docs with HTML image tags, which Jekyll builds into the resulting docs website. Can I also use Markdown image embed syntax? This way it would render properly when reviewing a pr on the GitHub preview renderer.

[2019-10-02 19:51] trosel commented on #446
The images only properly display after you build the site. So the images won't show on github

[2019-10-03 14:41] peterswimm commented on #446
Right, but if we could do a markdown conversion in the build process, it would work everywhere? This is maybe a feature request?

[2019-10-03 14:42] #446 closed

[2019-10-09 15:48] trosel commented on #327
@peterswimm @mferreira-lp can you find any info on this?

[2019-10-09 19:57] trosel commented on #434
@randymclainLP

[2019-10-14 10:02] lp-tattwell opened #450 "FB Rich Content - Doesn't say google maps doesn't work on browser messenger"
https://developers.liveperson.com/facebook-messenger-templates-introduction.html

The document says:

What it doesn't call out is that google **_doesn't_** support iframes so google maps etc will never work on desktop. We just need a sentence pointing this out as brands need to take this in to consideration when building out their content.

[2019-10-14 13:03] trosel commented on #450
Thanks! Here's the actual doc that needs updating https://github.com/LivePersonInc/developers-community/blob/master/pages/documents/RichMessaging/FacebookMessengerTemplates/Introduction.md

Or maybe add it in Limitations https://github.com/LivePersonInc/developers-community/blob/master/pages/documents/RichMessaging/FacebookMessengerTemplates/Limitations.md

[2019-10-14 20:08] trosel commented on #450
@lp-tattwell Thanks for reporting! This should solve it https://github.com/LivePersonInc/developers-community/commit/59d6161761060275991e0fdf987d78c69c9fbbc5

[2019-10-14 20:08] #450 closed

[2019-10-14 20:25] peterswimm commented on #327
Just got confirmation from the product team that you folks have it correct, the one trick is that you should set it to evaluate options and then don't put anything in the box for it to work.

[2019-10-16 14:11] EdenKupe commented on #371
@mferreira-lp can you look into creating this new document/enhancing the existing one?

[2019-10-16 14:25] EdenKupe commented on #434
Does the documentation mention that it was deprecated? If not, we might want to add that.

[2019-10-16 16:56] mferreira-lp commented on #371
Hi! A draft of this is in the works; I will see if I can expedite its release based on this inquiry.

[2019-10-17 07:29] #434 closed

[2019-10-17 23:00] trosel commented on #371
As a start, this could be linked in the KB doc

[2019-10-18 06:38] tblevins opened #462 "Rename title in dev portal"
Remove the title calling out that this is a spotify use case - this use case is not customer specific.

[2019-10-18 11:05] #462 closed

[2019-12-02 14:37] amirmLP opened #487 "Messaging interactions API example response issues"
https://developers.liveperson.com/messaging-interactions-api-methods-conversations.html#response
Two issues:
1) The example response does not include all possible fields. For example, skillchanges is missing from the example.
2) The document mentions the "consumerParticipants" array as the array of consumer participants however, the example response has it as "consumerParticipant" (singular instea

[2019-12-03 09:10] EdenKupe commented on #487
Sending this to the owner of the API.

[2019-12-06 10:22] lp-tattwell opened #495 "messaging-agent-sdk documentation gaps"
https://developers.liveperson.com/messaging-agent-sdk-overview.html

1) How to unsubscribe from events is missing. dispose() is listed, however, it isn't described when this should be called. unsubscribeExConversations is a method available to the SDK but is not documented anywhere publicly.
2) Reconnect with skipTokenGeneration isn't explained. i don't know when or why I would ever skip the gener

[2019-12-09 09:18] EdenKupe commented on #495
Sent to the relevant owner.

[2019-12-18 16:19] mferreira-lp commented on #371
This documentation has been published; see here: https://developers.liveperson.com/conversation-builder-integrations-knowledge-base-integrations.html

[2019-12-18 16:19] #371 closed

[2019-12-18 16:22] mferreira-lp commented on #333
References have been updated. A search on "botcentralai" no yields no hits.

[2019-12-18 16:22] #333 closed

[2020-01-02 12:27] lp-tattwell commented on #495
@EdenKupe Who is the relevant owner? It would be useful to get the answers now if it is going to take time to get the documentation updated.

[2020-01-02 12:37] EdenKupe commented on #495
Added you to a follow up

[2020-02-25 03:01] ericmm opened #540 "Agent Workspace SDK / how to customise the notification message?"
I'm trying to integrate the AgentSDK and I'm having some issue with customising the notification text. The link I'm referring to is https://developers.liveperson.com/agent-workspace-widget-sdk-methods.html#command

I followed the example below, it worked but the `data` is empty which showed a default message.

[code]

Then I tried `data = {text: 'test'}` and some others, and it did not work.

Can

[2020-03-26 23:43] LPnsteenstra opened #555 "Missing service name for domains api for monitoring api"
https://developers.liveperson.com/monitoring-api-overview.html

this page should include the service name for the domains api.  at the moment, there's no info for how to find the monitoring api domain

[2020-03-31 11:01] amirmLP opened #559 "Quick start guide still using SDK v4.3.2 rather than v5"
This is quite confusing as the rest of the documentation has been updated with the new methods but the quick start guide is out of date.

For example, the initialize method in v4 is used as:
initialize(final Context context, final String brandId, final InitLivePersonCallBack initCallBack)
whereas in v5 it is:
initialize(Context context, final InitLivePersonProperties initProperties)

The quick sta

[2020-03-31 11:07] EdenKupe commented on #559
@Vam18 can you take a look at this please?

[2020-04-11 16:46] nafeezimtiaz opened #588 "Search says "No Results Found" but it does exist"
Hi,

If I search for maxWaitTimeForAgentAssignment, it returns No Results Found, but it's actually here: https://developers.liveperson.com/messaging-operations-api-methods-messaging-current-queue-health.html.

Not sure if it's intentional, but thought I'd raise the issue anyway.

[2020-04-12 09:24] EdenKupe commented on #588
This is by design. If we indexed all of the parameters on the site, they would show up in unrelated searches + cause our index to grow beyond our current package.

[2020-04-12 09:24] #588 closed

[2020-04-16 19:10] dvillacis94 opened #593 "Broken breadcrumbs on iOS Documentation"
The following link doesn't have any breadcrumbs and is not appearing on any sections of the sidebar:

https://developers.liveperson.com/mobile-app-messaging-sdk-for-ios-configuration-app-extensions.html

[2020-04-21 15:44] vduilgerow opened #594 "Unknown cookie appears when a conversation is started"
Hello team,

Hope you are well.

There is a cookie called '_ga'  that is being set by the liveperson.net domain when a conversation is started  and there is no information available for it in the knowledge base:

https://developers.liveperson.com/cookies-and-liveengage-overview.html

Could you please have a look at adding information for it in the documentation when you have a moment.

Many thanks

[2020-05-08 15:41] ValAug opened #656 "How To Ingest Data From Liveperson With Python"
How do you guys run this script?

I created my AP key and authentication but I cannot find the way to run it. Thanking you in advance for your help.

[code]

[2020-05-08 20:35] borisromanov opened #657 "Connector Api assigned_agent id"
From working with the Connector API, I've noticed that there is no way to map the `id` of the `ASSIGNED_AGENT` from this example back to an Chat Agent in the LivePerson workspace.
[code]
https://developers.liveperson.com/connector-api-webhooks-webhooks-examples.html#agent-assigned-to-the-conversation

[2020-05-14 15:27] ValAug opened #687 "Insert our date and time info into the dataframe using our start_time_epoch - ERROR"
What am I doing wrong - could you please advise?

[code]

[code]

[2020-05-15 08:50] lp-tattwell opened #699 "CB getHoursType Function description needs a little work"
https://developers.liveperson.com/conversation-builder-scripting-functions-get-set-contextual-data.html#get-type-of-hours

We had a customer try to implement this and it wasn't clear what was mandatory and what isn't. The  example code has the below hoursSpec:
`var hoursSpec = [
    "REG_HOURS~8:00~20:00",
    "AFTER_HOURS~20:00~8:00",
    "FRIDAY|WKEND_REG_HOURS~8:00~17:00",
    "FRIDAY|WKEND_AFT

[2020-05-15 15:08] stevenwarejones opened #700 "Allow filters for return"
Can you support contentToRetrieve on this api:
https://{domain}/messaging_history/api/account/{accountID}/conversations/conversation/search

We'd like to have it for audit and legal reasons.

Looking here at documentation:
https://developers.liveperson.com/messaging-interactions-api-methods-get-conversations-by-consumer-id.html

[2020-05-18 13:02] wgaddy opened #706 "Cookie Type missing for a few entries under Conversation Cookies"
Two entries are missing the cookie type. Link below
https://developers.liveperson.com/cookies-and-liveengage-overview.html#conversation-cookies

[2020-05-18 15:12] mferreira-lp commented on #699
@lp-tattwell Thank you for this feedback. I've logged internal ticket BA-4877 to track the update based on this find.

[2020-05-18 17:58] Manegoldsr21 opened #707 "Set Visitors Name"
Hi,

I stumbled across this when trying to look if I could set the visitors name while using the Chat Agent API.

https://developers.liveperson.com/undefined-set-the-visitors-name.html

I was wondering if this is implemented yet? I am getting an error when I try to call it. I am able to successfully retrieve a visitor name but I need a way to update it.

https://developers.liveperson.com/chat-agen

[2020-05-26 15:27] lp-tattwell opened #729 "url shortening - url whitelisting"
There is some inconsistency with the documents for URL shortening.

[link 1](https://developers.liveperson.com/conversation-builder-interactions-interaction-basics.html#url-shortening)
Documentation says URL needs whitelisting, however, the feature works perfectly fine without any whitelisting. Is this correct?

[link 2](https://developers.liveperson.com/conversation-builder-bots-bot-basics.html#c

[2020-06-04 13:27] amirmLP opened #742 "CSDS domain attribute missing from the documentation"
Clients who use the Vanity URL feature need to override the default CSDS domain.
The Android document (https://developers.liveperson.com/mobile-app-messaging-sdk-for-android-sdk-attributes-5-0-and-above.html#general-style) has it under csds_url

The iOS document does not even though the attribute does exist (csdsDomain).

Please add it to the documentation.

Thanks

[2020-06-09 14:40] mferreira-lp commented on #699
This section has been updated in consult with the SME team. https://developers.liveperson.com/conversation-builder-scripting-functions-get-set-contextual-data.html#get-type-of-hours

[2020-06-09 14:40] #699 closed

[2020-06-25 11:38] pmolensky opened #790 "Looking for unminified JS Chat SDK"
Question from one of our clients, do we have a readable (unminified) version of the [Javascript Chat SDK](https://lpcdn.lpsnmedia.net/api/chat/public/lpChat.min.js)?
_Documentation: [Client Side Configuration > Javascript Chat SDK > Getting Started > Retrieve SDK](https://developers.liveperson.com/javascript-chat-sdk-overview.html#getting-started)_

[2020-06-26 15:14] igor-liveperson opened #799 "Rate limitting needs to be included"
https://developers.liveperson.com/api-guidelines-retry-policy-recommendations.html

we need to include more details on 429 in a single place. This indicates 4xx is a "do not retry" and this needs to be aligned with the fact that 429 is an instance when we want them to retry. Ideally listing all APIs or services that are affected.

[2020-07-01 13:37] mferreira-lp commented on #327
Evaluate Options is documented here: https://developers.liveperson.com/conversation-builder-interactions-configuration-next-action.html#conditions

Stop words are documented here: https://developers.liveperson.com/conversation-builder-best-practices-train-tune-nlu.html#nlu-stop-words

[2020-07-01 13:37] #327 closed

[2020-08-20 21:00] bsotiroff opened #957 "sending message directly to chat -- bypassing the agent input with agentSDK"
Is it possible to use the agentSDK to send chats directly from the 3rd party widget to the conversation, without having to send them through the agent's input?

I am currently implementing "Write ChatLine" in order to send responses from the widget directly to the agent's input. I would like to bypass the input altogether and send it directly to the chat with a mouse click.

It looks like both lpT

[2020-09-01 08:59] akirilyuk opened #974 "[BUG] Local server startup is not possible"
Hi,

after pulling the latest master changes, I cannot start the service anomore with npm run serve:

I get this error:

/usr/local/lib/ruby/gems/2.7.0/gems/jekyll-3.8.6/lib/jekyll/tags/include.rb:194: warning: Using the last argument as keyword parameters is deprecated
  Liquid Exception: incompatible character encodings: UTF-8 and ASCII-8BIT in /_layouts/default.html
jekyll 3.8.6 | Error:  incom

[2020-09-01 14:04] ahuppert commented on #974
Same issue for me. I could fix it by renaming the following file that contains an apostrophe: pages/Documents/MessagingChannels/MobileAppMessagingSDKforAndroid/ConfiguringtheSDK/configuring-the-message’s-edittext.md

[2020-09-25 02:34] LayMui opened #1004 "LivePersonModule.swift Module compiled with Swift 5.2 cannot be imported by the Swift 5.3 compiler"
The xcode project was able to build in xcode 11.6
but after upgrade to xcode 12, it has compiler build fail

npx react-native run-ios --configuration Debug --simulator="iPhone 11" --scheme "MyApp_UAT"

DataStore -index-system-modules
/Users/app/node_modules/@dt/react-native-liveperson/ios/LivePersonModule.swift:11:8: error: module compiled with Swift 5.2 cannot be imported by the Swift 5.3 compile

[2020-10-06 11:11] pmolensky opened #1011 "Question: Sending page navigation using the Monitoring API"
Hi,

one of our clients has implemented the [Monitoring API](https://developers.liveperson.com/monitoring-api-methods-engagement.html) -instead of using the javascript-tag- for monitoring visitors acros their website. When sending page navigation context using the engagement-method they experienced two issues. (I'm not sure if this is by design or we just overlook some property):
1. The Monitoring

[2020-10-19 16:17] AmandaF-Regions opened #1041 "Turning Survey Bot Off"
On the Post-Conversation Survey Bot page, the FAQ states you can turn the Survey Bot off via removing the Skill.  When attempting to remove the skill, you can not save as a Skill is required in the field.  Please provide a work around or alternate option.  Thanks!

[2020-10-21 07:35] mjansonius commented on #707
I found out just now that setting the Engagement Attributes personal info firstname and/or lastname will set the Visitor Name.
I don't think this is documented anywhere. Engagement Attributes API, called from FaaS, to set the firstname from a bot in Conversation Builder (tested on web messaging, by the way, didn't test on live chat).
 I actually had only one field in the source data (fullname) so

[2020-10-26 13:56] tburgess-nbs opened #1056 "OpenID JWT Encryption"
Hello @lpbarber is there a code example for this?
https://github.com/LivePersonInc/developers-community/blob/c0c9de1431283be7443da3a4f7187842b68c77c7/pages/Documents/Security%26Authentication/ConsumerAuthentication/detailed-api.md#openid-jwt-encryption

[2020-11-20 10:42] fabioacri81 opened #1088 "LPMessagingSDK - Fatal Exception - NSInvalidUnarchiveOperationException"
Hello,

I got a crash with the latest version of LPMessagingSDK (XCFramework) noticed on iOS 14.2 iPhone 8 device :

*** -[NSKeyedUnarchiver decodeObjectForKey:]: cannot decode object of class (LPInfra.QuickReplyItem) for key (root) because no class named "LPInfra.QuickReplyItem" was found; the class needs to be defined in source code or linked in from a library (ensure the class is part of the co

[2020-11-26 18:15] wrijpkema opened #1098 "Attribute design sheet pages - menu attributes missing"
Attribute design sheet pages for neither iOS nor Android contain any visualisation nor description of available attributes in the action menu ('Mark as urgent'; 'Clear history' and 'Mark as resolved'). Could these please be added to https://developers.liveperson.com/mobile-app-messaging-sdk-for-ios-sdk-attributes-attributes-design-sheet.html and https://developers.liveperson.com/mobile-app-messagi

[2020-11-27 14:20] amirmLP opened #1099 "Issue with Reporting -> Personal Data Deletion API -> Methods -> Create Deletion Request"
Under [this](https://developers.liveperson.com/personal-data-deletion-api-methods-create-deletion-request.html) article, it states the following:
consumerId - deletion of personal data that is related to a specific consumer (does not include the consumer's conversations; those must be deleted in a separate request). Note: in other APIs, the consumerId is referred to as visitorId (for example, the

[2020-12-07 15:15] luandrecast-lp commented on #1088
@fabioacri81 are you using the latest LPMessagingSDK version, 6.1?

[2020-12-07 15:40] fabioacri81 commented on #1088
yes, 6.1.0 release, the one that says support for iOS 14, we are compiling in fact with Xcode 12.2.

[2020-12-17 14:37] nehfster opened #1137 "Users API Appendix: The Entity Structure table for "employeeId" notes are outdated"
The Users API Appendix Entity Structure table "employeeId" content in the notes column is incorrect.

"In order to avoid exposing potentially personal information, this field will return an empty value"

This is no longer valid. The "employeeId" field does return a value for those agents whose profile includes a value in this field.

Reference: https://developers.liveperson.com/administration-user

[2021-01-15 08:37] nullmicgo opened #1162 "How to set up authentication server for the Auth Chat?"
i was trying to following this document to create a Auth Chat
https://developers.liveperson.com/essential-resources-authentication.html

Could anyone help to provide a sample Authentication server for this setup?

![image](https://user-images.githubusercontent.com/1070485/104700981-f5096a80-574f-11eb-9b88-41b4e31c3db2.png)

thank you

[2021-02-15 15:12] wrijpkema opened #1212 "Specify ABC List Picker requirements"
The link offered under https://developer.apple.com/documentation/businesschatapi/messages_sent/interactive_messages/list_picker
in regards to the List Picker interaction having "been developed per Apple's List Picker specifications" links to a page which mentions little specifications (https://developer.apple.com/documentation/businesschatapi/messages_sent/interactive_messages/list_picker); e.g. i

[2021-02-17 18:18] cjames1224 opened #1218 "Remove "MessagingFailover" and "LiveEngageMMSViewer" permalinks"
We need to remove the following pages from the developer community, as the solutions are not supported by me or anyone else. These pages are still searchable from Google and can cause confusion for our customers.

https://github.com/LivePersonInc/developers-community/tree/master/pages/Documents/Solutions/MessagingFailover
https://github.com/LivePersonInc/developers-community/tree/master/pages/Docu

[2021-02-18 15:38] JonElliottGT opened #1225 "Messaging Interactions API - metadata.href links - required source url param missing - defect?"
I am consuming the Messaging Interactions API and was adding the new required "source" URL Parameter as specified in the Live Person documentation. (This will be made required in March 2021).

This worked fine, but I noticed that the _metadata.href links that are given in the response from Live Person do **NOT** include the source parameter that I added to the URL in the initial call. They had all

[2021-04-20 13:48] AnthonyUliano opened #1284 "Embedding Conversation Cloud App in iFrame"
We're trying to host the Conversation Cloud App in an iFrame for our customer service application.  We'd like to embed the existing LivePerson UI in the iFrame, but it doesn't appear to work.  Has anyone done this?

[2021-05-06 09:13] lp-tattwell opened #1300 "List of limitations of Proactive Messaging to in app is missing all but one limit"
[Proactive and IVR Deflection to App Messaging](https://developers.liveperson.com/mobile-app-messaging-sdk-for-ios-advanced-features-proactive-and-ivr-deflection-to-app-messaging.html#limitation)

There is only one limitation listed, however, there are actually far more. The limitations are not captured here, or in the (Proactive API Documentation)[https://developers.liveperson.com/proactive-messa

[2021-05-20 14:48] #1284 closed

[2021-05-27 10:03] pmolensky opened #1317 "How to know the exit survey is disabled"
Our client has the following question:

How should the client check if the survey is enable/disabled?

[2021-06-15 05:18] lp-rmaeda opened #1338 "Need more id element in pages of Developer"
Due to lack of id element in pages of Developer, it's very difficult to refer to a part of documentation.
For example, the following page has many parameters.

https://developers.liveperson.com/messaging-interactions-api-methods-conversations.html

The more If it has id elements in all of parameters, the easier to refer a part of parameters.
Not only in the above page, but also in other pages id e

[2021-07-20 17:44] cjames1224 commented on #1218
@EdenKupe

[2021-09-17 05:15] andrew-wharton opened #1421 "Private YouTube video embedded in docs page"
The video embedded in the page -> https://github.com/LivePersonInc/developers-community/blob/master/pages/Documents/ClientSideConfiguration/EngagementWindowWidgetSDK/overview.md is private and not able to be viewed.

![Screen Shot 2021-09-17 at 3 11 10 pm](https://user-images.githubusercontent.com/428298/133728179-77d44fa7-ed8a-49d0-b5f1-b8b87bd282f7.png)

The video referenced is https://www.youtu

[2021-11-05 11:46] lp-tattwell opened #1477 "Agent Widget Limitations doesn't list cookie limitations"
https://developers.liveperson.com/agent-workspace-widget-sdk-limitations.html

If a brand sets any cookies inside the iFrame, these are considered as 3rd party cookies from LP's PoV and are blocked as a result.

This information is missing.

[2021-11-05 16:57] lp-tattwell commented on #1477
To correct my last message, the docs should say "You can set 3rd party cookies but should add the `SameSite=None; Secure;` attributes to them"

[2021-11-24 10:39] j9t opened #1488 "Display problems with labels in internal navigation"
On pages like [for the Agent Workspace Widget SDK](https://developers.liveperson.com/agent-workspace-widget-sdk-public-model-structure.html#surveyquestionsprechatcustomizedquestions-surveyquestionspostchat-surveyquestionsagentsurvey-customvariables-splitsessioncustomvariables), the in-page navigation (internal link list) overlaps the content, to a degree that the pages are hard to access and work

[2022-02-24 08:39] mstana opened #1567 "[iOS] M1 Support for XCFramework"
Hello,

I would like to ask you if you plan to support M1 architecture for simulators in XCFramework in https://github.com/LP-Messaging/iOS-Messaging-SDK.

Currently, the pod which is built does not support arm64 for a simulator which will limit us in the future to use this SDK with M1 chips natively on new MacBooks.

Thanks

[2022-03-21 18:24] cshort-lp opened #1581 "Rename Apple Business Chat"
The following find and replace actions need to take place:

Apple Business Chat -> ﻿Apple Messages for Business
﻿Business Chat -> ﻿Messages for Business
ABC -> AMB

**Note**: move `permalink` to the `redirects` before changing `pagename`

[2022-06-17 15:13] amirmLP opened #1664 "Users API overview mistake"
The users API's overview page (https://developers.liveperson.com/users-api-overview.html) has this text:
"Automatically update user information such as profile picture, login name, or password"

The login name is a protected field that cannot be changed once set at point of a user's creation.

[2022-07-11 08:34] j9t commented on #1567
@dvillacis94, it seems you’re a main contributor to the iOS Messaging SDK. Can you advise?

[2022-07-11 08:35] j9t commented on #1488
Looks like it was fixed in the meantime :)

[2022-07-11 08:35] #1488 closed

[2022-07-11 08:39] j9t commented on #1477
@lp-tattwell, thanks for the report and the patience. Would you be open to filing a PR for this? This could help us while we’re reviewing and getting on top of the open issues. (Thanks!)

[2022-07-11 08:42] j9t commented on #1421
Thanks for reporting this and the patience! The video was commented in the meantime; we’re removing the reference if we can’t pinpoint an owner to share it.

[2022-07-11 08:42] #1421 closed

[2022-07-11 08:49] j9t commented on #1338
Thanks @lp-rmaeda. This is a very good point and we will take note. However, we will also prefer an automated solution, which seems a bit more challenging here. We will review this again independently of this issue.

[2022-07-11 08:49] #1338 closed

[2022-07-11 08:51] j9t commented on #1317
Hi @pmolensky—thanks for the patience here. Can you confirm this is still an issue?

[2022-07-11 08:53] j9t commented on #1225
Hi @JonElliottGT—thanks for the patience here. Can you confirm this is still an issue?

[2022-07-11 09:00] j9t commented on #1212
@wrijpkema, thanks for sharing this as well as the patience. Does the issue still persist? We would need to check with the teams on changes to the docs or other useful references.

[2022-07-11 09:01] j9t commented on #1162
Thanks for filing this, @nullmicgo, and for the patience…! Is this still an issue? We would aim to either update docs or provide a contact to help resolve this.

[2022-07-11 09:05] j9t commented on #1099
@amirmLP, thanks for the patience and for sharing this! Would you be open to filing a PR for this update, while we’re getting on top of all open issues? That would be super-helpful. (Thank you!)

[2022-07-11 09:06] j9t commented on #1098
Thanks for bringing this up, @wrijpkema, and the patience! @itay1313, could you have a look?

[2022-07-11 09:07] itay1313 commented on #1581
@cshort-lp  Cale, could you please file a PR? Please let me know if you are interested in helping me with this. Since I see it everywhere, it seems too dangerous.

[2022-07-11 09:07] j9t commented on #1088
Thanks for sharing this, @fabioacri81, as well as for the patience. Does the issue still persist?

@luandrecast-lp, any other thoughts on your end, would you be able to advise?

[2022-07-11 09:08] j9t commented on #1056
(Feeling free to close; if you or @lpbarber like to follow up, okay to reopen.)

[2022-07-11 09:08] #1056 closed

[2022-07-11 09:11] j9t commented on #1041
Hi @AmandaF-Regions—thanks for reporting this, and the patience. Can you confirm the page, and that this issue persists?

[2022-07-11 09:11] j9t commented on #1011
Hi @pmolensky—thanks for the patience here. Can you confirm this is still an issue?

[2022-07-11 09:13] j9t commented on #1004
Hi @LayMui—thanks for the extreme patience here. Can you confirm this is still an issue?

[2022-07-11 09:13] j9t commented on #974
Hi @akirilyuk, @ahuppert—thanks for the extreme patience here. Is this still an issue?

[2022-07-11 09:17] j9t commented on #957
Hi @bsotiroff—thanks for the extreme patience. Is this still relevant?

[2022-07-11 09:20] j9t commented on #790
Hi @pmolensky—thanks for the extreme patience here…! We’re going through all open issues, working to ensure (much faster) responses; please let us know if this is still relevant.

[2022-07-11 09:22] j9t commented on #729
Thanks for filing this, @lp-tattwell, and the patience. @itay1313, can you have a look, and perhaps identify contacts to clarify (at least for links 1 and 2)?

[2022-07-11 09:23] j9t commented on #707
Hi @Manegoldsr21—thanks for the extreme patience here…! We’re going through all open issues, working to ensure (much faster) responses; please let us know if this is still relevant.

[2022-07-11 09:24] j9t commented on #700
Hi @stevenwarejones—thanks for the extreme patience here…! We’re going through all open issues, working to ensure (much faster) responses; please let us know if this is still relevant.

[2022-07-11 09:24] j9t commented on #687
Hi @ValAug—thanks for the extreme patience here…! We’re going through all open issues, working to ensure (much faster) responses; please let us know if this is still relevant.

[2022-07-11 09:28] j9t commented on #559
Hi @amirmLP, @EdenKupe, @Vam18—is this still relevant? (Was there work done to update the docs?)

[2022-07-11 09:30] j9t commented on #540
Hi @ericmm—thanks for the extreme patience here…! We’re going through all open issues, working to ensure (much faster) responses; please let us know if this is still relevant.

[2022-07-11 09:31] j9t commented on #495
@lp-tattwell, @EdenKupe, is this still relevant? Was there work done on this?

[2022-07-11 09:33] j9t commented on #377
Hi @lp-tattwell, @trosel, @EdenKupe—is this still relevant, was there any work done on this?

[2022-07-11 11:11] wrijpkema commented on #1212
@j9t , as far as I can see, https://developers.liveperson.com/apple-messages-for-business-templates-list-picker-template.html#body---overview and following sections contain more of the relevant specs and guidelines; I can't find a reference to Apple's Developer site at all anymore, though. As e.g. image resolution guidelines still are not listed under https://developers.liveperson.com/apple-messag

[2022-07-11 12:41] j9t commented on #1212
Thanks @wrijpkema!

@itay1313, could you have a look and tweak our docs? (We can keep it light and take note, to have the respective team check again.) Thanks!

[2022-07-11 16:35] elliotmassen commented on #657
@j9t I'm also searching for an answer to this question. I'd like to be able to map the Assigned Agent's ID to a User ID, so I can make use of the [User API](https://developers.liveperson.com/users-api-methods-get-user-by-id.html).

[2022-07-11 16:46] vduilgerow commented on #594
Hey Jens,

All good, this is no longer relevant.

Many thanks,

On Mon, Jul 11, 2022 at 12:26 PM Jens Oliver Meiert <
***@***.***> wrote:

--

Vasil Diulgerow
Shift Supervisor, Customer Service Department

--
This message may contain confidential and/or privileged information. 
If
you are not the addressee or authorized to receive this on behalf of the
addressee you must not use, copy, disclose or

[2022-07-11 18:48] j9t commented on #594
Thanks for confirming!

[2022-07-11 18:48] #594 closed

[2022-07-12 07:16] j9t commented on #657
Thanks @elliotmassen. We’re looking into it (will try to monitor, but also rely on other contacts).

[2022-07-12 10:20] lp-tattwell commented on #377
Hey Jens, the page has moved but the information is the same as it was in 2019.
https://developers.liveperson.com/consumer-authentication-introduction.html

I'm not saying it's a major P0 issue but listing the same thing twice with 2 different descriptions is a little confusing, especially on a complicated topic.

[2022-07-12 10:36] lp-tattwell commented on #495
```1. How to unsubscribe from events is missing. dispose() is listed, however, it isn't described when this should be called. unsubscribeExConversations is a method available to the SDK but is not documented anywhere publicly.```

- Dispose has a description [HERE](https://developers.liveperson.com/messaging-agent-sdk-methods.html#dispose) but it doesn't explain when or what scenario it should be

[2022-07-12 10:40] lp-tattwell commented on #1300
Hey Jens, I'm unsure how many of these limitations are still relevant. The product has come a fair bit along since May 2021.

Can we get the product owner involved to validate and to create the PR?

[2022-07-12 10:43] lp-tattwell commented on #1477
You are probably sick of hearing from me by now haha.

For the PR, are you suggesting I add the info myself and raise the PR? My problem with that is...I might be completely wrong. Can we get the product owner to validate and then they create the PR?

[2022-07-12 11:51] j9t commented on #377
I’ll look into it.

[2022-07-12 11:52] j9t commented on #495
Thanks @lp-tattwell! @itay1313, can you help update the docs? Happy to work with you to pinpoint internal contacts.

[2022-07-12 11:53] j9t commented on #1300
Let me see if I can identify a contact.

[2022-07-12 14:00] j9t commented on #377
@lp-tattwell, reviewing the doc and this thread I pick up the doc isn’t precise, but I’m not reading the information as two separate flows we’d support.

Do you have a suggestion on specific things to change? (If not a PR, maybe as a comment here?) That would be helpful.

(We’re looking into gathering contacts for each section of the site, but at the moment we have no easy way of looping in people

[2022-07-12 14:20] j9t commented on #974
Thanks @ahuppert! We’ll keep an eye out and make adjustments where needed.

[2022-07-12 15:27] mferreira-lp commented on #729
Hi @j9t , this falls within the Conversational AI space, so I am looking into this today. I just sent an inquiry to the CB team for follow-up and am waiting to hear back. The 3rd link/item is no longer relevant since -- when the Knowledge Center was ported from GitHub to the Kontent CMS, not all of the release notes were ported over. So the release note in question no longer is available.

@itay13

[2022-07-12 16:10] j9t commented on #729
Thanks @mferreira-lp!

[2022-07-12 16:11] j9t commented on #1041
Awesome—thanks @mferreira-lp!

[2022-07-12 21:57] fabioacri81 commented on #1088
Better something in years time than never in an entire life right? thanks for chasing. Honestly, my team codebase and dependencies are all upgraded now, so I wouldn't be able to confirm on that issue. We could mark it as sorted I believe. Thanks again @j9t

[2022-07-12 21:57] #1088 closed

[2022-07-13 06:41] j9t commented on #1088
Thanks for following up, @fabioacri81, and also thanks for bearing with us!

[2022-07-13 13:10] mferreira-lp commented on #1041
Closing out this issue, as the guidance has been updated.
https://developers.liveperson.com/conversation-builder-bots-post-conversation-survey-bots.html#how-do-i-disable-a-survey-bot
Thank you for the inquiry.

[2022-07-13 13:10] #1041 closed

[2022-07-21 14:44] theharlotfelon opened #1737 "Agent Escalation Integration transfer details need to be updated"
In the article [LivePerson Agent Escalation Integrations](https://developers.liveperson.com/conversation-builder-integrations-liveperson-agent-escalation-integrations.html), the Agent ID (optional) section of the setup states "Transfer of the conversation to this agent ID only occurs if the agent is assigned to the skill ID that you specify and is available".

From an API perspective, it is not ch

[2022-07-21 17:06] j9t commented on #361
(Closing in acknowledgement of long communication delay; we’re there to pick this up again.)

[2022-07-21 17:06] j9t commented on #487
(Closing in acknowledgement of long communication delay; we’re there to pick this up again.)

[2022-07-21 17:06] #487 closed

[2022-07-21 17:07] j9t commented on #540
(Closing in acknowledgement of long communication delay; we’re there to pick this up again.)

[2022-07-21 17:07] #540 closed

[2022-07-21 17:07] j9t commented on #555
(Closing in acknowledgement of long communication delay; we’re there to pick this up again.)

[2022-07-21 17:07] #555 closed

[2022-07-21 17:07] #559 closed

[2022-07-21 17:07] j9t commented on #656
(Closing in acknowledgement of long communication delay; we’re there to pick this up again.)

[2022-07-21 17:07] #656 closed

[2022-07-21 17:07] j9t commented on #687
(Closing in acknowledgement of long communication delay; we’re there to pick this up again.)

[2022-07-21 17:07] #687 closed

[2022-07-21 17:08] j9t commented on #700
(Closing in acknowledgement of long communication delay; we’re there to pick this up again.)

[2022-07-21 17:08] #700 closed

[2022-07-21 17:08] j9t commented on #706
(Closing in acknowledgement of long communication delay; we’re there to pick this up again.)

[2022-07-21 17:08] #706 closed

[2022-07-21 17:08] j9t commented on #707
(Closing in acknowledgement of long communication delay; we’re there to pick this up again.)

[2022-07-21 17:08] #707 closed

[2022-07-21 17:08] j9t commented on #742
(Closing in acknowledgement of long communication delay; we’re there to pick this up again.)

[2022-07-21 17:08] #742 closed

[2022-07-21 17:08] j9t commented on #790
(Closing in acknowledgement of long communication delay; we’re there to pick this up again.)

[2022-07-21 17:08] #790 closed

[2022-07-22 07:43] j9t commented on #1737
Thanks @theharlotfelon! I know this requires some extra effort, but would you be open to filing a PR for this, for an update?

We’re working on the site with a new team and can use every hand to speed things up. Thank you!

[2022-07-27 12:52] j9t commented on #495
@lkisoslive, not urgent—could you have a look at this?

[2022-07-27 12:56] j9t commented on #957
(Closing this one in recognition that this was in need of a response a long time ago. We can reopen as soon as we have confirmation this persists.)

[2022-07-27 12:56] #957 closed

[2022-07-27 12:58] j9t commented on #1004
(Closing this one in recognition that this was in need of a response a long time ago. We can reopen as soon as we have confirmation this persists.)

[2022-07-27 12:58] #1004 closed

[2022-07-27 12:58] j9t commented on #1011
(Closing this one in recognition that this was in need of a response a long time ago. We can reopen as soon as we have confirmation this persists.)

[2022-07-27 12:58] #1011 closed

[2022-07-27 12:59] j9t commented on #1162
(Closing this one in recognition that this was in need of a response a long time ago. We can reopen as soon as we have confirmation this persists.)

[2022-07-27 12:59] #1162 closed

[2022-07-27 13:28] j9t commented on #1225
(Closing this one in recognition that this was in need of a response a long time ago. We can reopen as soon as we have confirmation this persists.)

[2022-07-27 13:28] #1225 closed

[2022-07-27 13:33] j9t commented on #1317
(Closing this one in recognition that this was in need of a response a long time ago. We can reopen as soon as we have confirmation this persists.)

[2022-07-27 13:33] #1317 closed

[2022-07-27 13:37] j9t commented on #1477
(Followed up internally.)

[2022-07-27 13:46] j9t commented on #1664
(Followed up internally.)

[2022-07-27 13:49] j9t commented on #1737
(Followed up internally.)

[2022-07-27 16:06] mferreira-lp commented on #1212
Hi All,

I’m working on updates per this issue to the following pages:
https://developers.liveperson.com/conversation-builder-interactions-questions.html#apple-list-picker
https://developers.liveperson.com/conversation-builder-interactions-questions.html#apple-time-picker
https://developers.liveperson.com/conversation-builder-interactions-integrations.html#apple-pay-interactions
I’m “folding in”

[2022-07-28 11:42] j9t commented on #1477
This was kindly handled by @oholzer in #1766. Thanks!

[2022-07-28 11:42] #1477 closed

[2022-08-01 12:56] mferreira-lp commented on #729
Hi @lp-tattwell , just an update on this. The team has recently confirmed that whitelisting isn't required in this case, as you indicate. The UI and documentation will be updated in the next release. Thank you for raising this.

[2022-08-01 13:09] lp-tattwell commented on #729
No worries at all, happy to help.

Just for my own knowledge, what kind of cadence are the releases? Is there a set release schedule?

[2022-08-02 19:14] borisromanov commented on #657
Hi @j9t, thanks for reaching out. Is there anywhere an assigned participants id can be looked up in a separate LivePerson API and return more generic information about an assigned agent?

I have a use case where I use data from the Connector API in realtime and would like to augment that data stream with information about the assigned agent.

[2022-08-03 07:27] j9t commented on #657
Let’s find out—I’ve contacted the team providing the API to follow up.

[2022-08-11 06:04] ppalraj-lp commented on #1567
The support for the M1 chip is planned for the 9/3 release. I will update here if there is any change in the plan. thanks.

[2022-08-16 09:14] j9t commented on #377
(Setting up a redirect from past https://developers.liveperson.com/mobile-sdk-and-web-authentication-introduction.html to https://developers.liveperson.com/consumer-authentication-introduction.html.)

[2022-08-16 09:15] j9t commented on #377
@lpbarber, it seems you’ve been involved with this in the past, and own this documentation; can you review and update this part of https://developers.liveperson.com/consumer-authentication-introduction.html?

[2022-08-16 09:19] j9t commented on #657
(No response yet—keeping at it.)

[2022-08-16 09:21] j9t commented on #799
(Closing this because of seemingly small problem and lack of feedback and contacts.)

[2022-08-16 09:21] #799 closed

[2022-08-16 09:30] j9t commented on #1300
(No feedback yet, but have reminded the team again.)

[2022-08-16 09:35] j9t commented on #1099
(Followed up with the respective team.)

[2022-08-16 09:38] j9t commented on #1137
(Confirmed and followed up with the respective team.)

[2022-08-16 09:39] j9t commented on #1212
Late thanks, @mferreira-lp! Unless I misunderstood, feeling free to assign to you.

[2022-08-16 09:41] j9t commented on #1218
@lkisoslive and I have been cleaning up; the whole “Solutions” section had been a duplicate, which we resolved; we’ll be marking other pages as “deprecated” shortly (handled in a separate issue internally).

Thanks for reporting this, @cjames1224!

[2022-08-16 09:41] #1218 closed

[2022-08-16 09:42] j9t commented on #1664
(No response yet; keeping at it.)

[2022-08-16 09:48] amirmLP commented on #361
Hi @j9t , sorry for the delay. I'm finally getting through my backlog to these requests.
Yes, the issues detailed above are still present in the documentation and still need fixing.

[2022-08-16 09:51] amirmLP commented on #487
Hi @j9t ,
The typo issue ("consumerParticipant" instead of "consumerParticipants") is fixed.
The example response is still missing some of the possible content.
I believe the example data we give in the documentation should include all possible data points so that brands would know what to expect when calling the API.

[2022-08-16 09:56] j9t commented on #361
Thanks for confirming, @amirmLP. I followed up with the respective team.

[2022-08-16 09:56] amirmLP commented on #559
Hi @j9t , this is fixed

[2022-08-16 09:57] amirmLP commented on #742
Hi @j9t this is fixed now. Thanks

[2022-08-16 10:26] amirmLP commented on #1099
Hi @j9t ,
I won't have the time to raise PRs for these issues but I'm happy to write a draft for the text that needs changing:
3. consumerId: Deletion of personal data that is related to a specific consumer (does not include the consumer's conversations; those must be deleted in a separate request). Note: In the Messaging Interactions API, the consumerId is referred to as "participantId" under the

[2022-08-16 12:37] mferreira-lp commented on #1212
Hi @j9t, yes, certainly - You can assign it to me for the fixes to the Conversation Builder docs. I'll need to reassign it to another to take care of any changes to
https://developers.liveperson.com/apple-messages-for-business-templates-list-picker-template.html. Thank you!

[2022-08-17 00:06] jasmith-lp commented on #657
Hi @borisromanov Participant ID comes back when you query the Users API

https://developers.liveperson.com/users-api-appendix.html
It is under the field PID (the example payload is not 100% representative of a real participantID)

[2022-08-18 15:28] j9t commented on #1581
@cshort-lp and I briefly chatted about this, and Cale would not be able to help further. On the plus side, several instances of this were apparently updated already.

Will follow up internally to decide on next steps.

[2022-08-25 13:53] lkisoslive commented on #1581
Created DX-128 to follow up on this.

[2022-08-25 13:53] #1581 closed

[2022-08-31 09:22] j9t commented on #361
(Followed up again internally.)

[2022-08-31 09:25] j9t commented on #377
(Followed up again internally.)

[2022-08-31 09:27] j9t commented on #495
(Following up again internally.)

[2022-08-31 09:28] j9t commented on #657
Pardon me just scanning as I’m reviewing all open issues—did this help, @borisromanov?

[2022-08-31 09:30] j9t commented on #729
(Following up on this internally.)

[2022-08-31 09:33] j9t commented on #1098
(Followed up on this again internally.)

[2022-08-31 09:37] j9t commented on #1099
Thanks Amir! I followed up on this again internally.

[2022-08-31 09:39] j9t commented on #1137
(Followed up on this again internally.)

[2022-08-31 09:42] j9t commented on #1212
(Followed up on this again internally.)

[2022-08-31 09:44] j9t commented on #1300
(Followed up on this again internally.)

[2022-08-31 09:47] j9t commented on #1664
(Followed up on this again internally.)

[2022-08-31 09:51] j9t commented on #1737
(Followed up on this again internally.)

[2022-08-31 11:34] lkisoslive commented on #495
Filed DX-133 to follow up on this with the relevant team (CXS Thunderbirds)

[2022-08-31 11:34] #495 closed

[2022-08-31 12:10] mferreira-lp commented on #729
The internal ticket for this item is BA-13092. cc @lp-tattwell, @j9t

[2022-08-31 12:17] mferreira-lp commented on #1212
This item has been logged internally as BA-13093. cc @wrijpkema, @j9t

[2022-08-31 12:21] mferreira-lp commented on #1737
This issue has been logged internally as BA-13094. cc @theharlotfelon, @j9t

[2022-08-31 12:59] j9t commented on #729
Thank you! (Closing this one.)

[2022-08-31 12:59] #729 closed

[2022-08-31 12:59] j9t commented on #1212
Thank you! (Closing this one.)

[2022-08-31 12:59] #1212 closed

[2022-08-31 12:59] j9t commented on #1737
Thank you! (Closing this one.)

[2022-08-31 12:59] #1737 closed

[2022-09-04 12:39] lpbarber commented on #377
@j9t - I'm not what is expected me to do here, as I can not see, and not familiar with the "Past" (mobile-sdk-and-web-authentication-introduction.html) page

[2022-09-05 06:43] j9t commented on #377
Hi @lpbarber—you’re marked as the owner of this documentation and you’ve also [edited the respective page](https://github.com/LivePersonInc/developer-center/commits/master/pages/Documents/Security%26Authentication/ConsumerAuthentication/introduction.md) in the past.

Timothy (and Eden, if I understand correctly) suggest to review and consolidate the documentation. Could you do that?

If you disagr

[2022-09-05 09:00] j9t commented on #1300
This is going to handled in MBK-2821. Closing this issue to avoid duplicates; re-open if there are any questions.

[2022-09-05 09:00] #1300 closed

[2022-09-05 09:00] j9t commented on #1098
This is going to handled in MBK-2822. Closing this issue to avoid duplicates; re-open if there are any questions.

[2022-09-05 09:00] #1098 closed

[2022-09-05 09:00] j9t commented on #1567
This is going to handled in MBK-2823. Closing this issue to avoid duplicates; re-open if there are any questions.

[2022-09-05 09:00] #1567 closed

[2022-09-05 09:28] wrijpkema commented on #1098
Hi @j9t , would you mind sharing a link to MBK-2822 so I may track the progress on this one? TIA!

[2022-09-05 10:50] ktse123 opened #1863 "Incorrect URL given in API Authorization under the Conversation Orchestrator Section"
When guiding you through how to generate API Authorization for V2 step 2 Generate your OAuth 2.0 secure access token using the credentials.  A URL is given have tried to test this myself and get a 404 not found. Looking through slack i found a post that stated this URL is wrong but information fr the correct one is not given
[snip]
![Screenshot 2022-09-05 at 11 49 50](https://user-images.githubuse

[2022-09-05 12:01] j9t commented on #1863
@ktse123, happy to look into that with you. Could you follow up with me internally (Slack preferred)?

[2022-09-05 15:49] j9t commented on #1863
Per our conversation, this is related to https://developers.liveperson.com/conversation-orchestrator-api-authorization.html and the URL given with “https://{domain}/v2/authenticate/login”, which doesn’t work.

@mferreira-lp, as this seems to relate to your and team’s docs, can you help update this information?

[2022-09-06 12:25] mferreira-lp commented on #1863
Hi @ktse123 , we received this same inquiry mid last week via the Feedback tool. Not sure if that was you, but thank you for raising this. I followed up on this last Thursday with the team and waiting to hear back before responding. Thanks again. cc @j9t

[2022-09-07 09:01] lkisoslive commented on #1863
Thank you for bringing this to our attention @ktse123 and Mary for the PR. @ktse123 can you confirm that it is working after the update? Thanks!

[2022-09-07 11:57] #1863 closed

[2022-09-07 13:40] lpbarber commented on #1664
fixed.

[2022-09-07 13:40] #1664 closed

[2022-09-11 14:43] lpbarber commented on #377
@j9t - I have reviewed the documentation once again and I don't find a real issue here.
we can review it together if you would like or close the issue.

[2022-09-11 17:10] j9t commented on #377
If you reviewed and there’s no issue, all cool—thanks @lpbarber!

@lp-tattwell, feel free to reach out internally if there’s something left open, or if you feel strongly about something here. Closing this in the meantime.

[2022-09-11 17:10] #377 closed

[2022-09-27 06:34] j9t commented on #657
The respective team is looking into this (CO-5761). I’ll be closing this one for now, but will raise with the team to share an update here if possible.

[2022-09-27 06:34] #657 closed

[2022-09-27 06:39] j9t commented on #361
The respective team is going to work on this—we’ll track this internally (CAO-21939).

[2022-09-27 06:39] #361 closed

[2022-10-04 09:57] j9t commented on #1099
Should be fixed now, thanks to @martincm1’s PR #1947!

[2022-10-04 09:57] #1099 closed

[2022-10-11 07:09] AmandaF-Regions commented on #1041
Thank you so much for your help!

Amanda Ferguson, AVP
Regions Bank
Artificial Intelligence Solutions
Office: (205) 261-7258
Mobile: (205) 901-5553

Get Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: mferreira-lp ***@***.***>
Sent: Wednesday, July 13, 2022 8:10:14 AM
To: LivePersonInc/developers-community ***@***.***>
Cc: Amanda P. Ferguson ***@***.***>; Mention ***@

[2022-10-11 09:12] LPnsteenstra commented on #555
I just checked, and I found it in the "getting started" section, so it's
either fixed now or I was missing it before.  (It's usually in the overview
section.)
https://developers.liveperson.com/monitoring-api-getting-started.html

Thank you!!

On Mon, Jul 11, 2022 at 5:30 AM Jens Oliver Meiert ***@***.***>
wrote:

--

Nicholas Steenstra
Support Engr II

<https://pr.liveperson.com/2022-03-08-Fast-Co

[2022-11-21 13:46] lpbarber commented on #1137
Solved:
PR - https://github.com/LivePersonInc/developer-center/pull/2056

[2022-11-24 09:19] j9t commented on #1581
(Now handled in CX-5740 and CC-4187.)