[2017-06-13 08:25] lp-wodell opened #2 "http method"
The EAs API says you need to use POST with x-http-override of PUT, but I found it only works if you use PUT directly?

[2017-06-13 10:37] lp-wodell opened #3 "Domain = smt?"
I don't think smt is the right domain to use for this API?

[2017-06-17 06:36] dennisnotojr opened #5 "Cluster example connects but agents don't come online"
Followed the cluster example from the node-agent-sdk-master, but I can't get the agents to appear online.

cluster comes up .....
app_1        | add 40683877-Watson
app_1        | add 40683877-Watson2
app_1        | connected... 40683877-Watson
app_1        | connected... 40683877-Watson2
app_1        | subscribed successfully 40683877-Watson
app_1        | subscribed successfully 40683877-Watson2

[2017-06-19 15:00] EdenKupe commented on #3
Hey @lp-wodell, which API are you referring to?

[2017-06-19 15:02] EdenKupe commented on #2
Forwarded to Product Manager, answer soon!

[2017-06-19 15:06] EdenKupe commented on #5
Hey Den,

Thanks for opening this issue. I'm forwarding this issue internally to the right people, will update you ASAP here when we have an answer/need more info.

Thanks again.

[2017-06-19 15:27] dennisnotojr commented on #5
Please,

Need to talk to some fast. I can't get your cluster demo working with my account. The agent never goes online even when the sdk connects and subscribes

Den

Sent from my iPhone

[2017-06-19 15:31] lp-wodell commented on #3
Yes, I think it was the EA API.

[2017-06-20 12:25] lp-wodell commented on #2
@EdenKupe: A client is about to use this API themselves and because I am away in training this week I have pointed them at this URL, so quick clarification if there are any issues would be great.

[2017-06-20 12:25] lp-wodell commented on #3
@EdenKupe: A client is about to use this API themselves and because I am away in training this week I have pointed them at this URL, so a quick turnaround on this would be good.

[2017-06-20 12:44] lp-wodell opened #6 "Engagement Attributes API - Chat AND Messaging"
https://developers.liveperson.com/rt-interactions-engagement-attributes-engagement-attributes.html

The EAs API can be used for messaging as well as chat - in web messaging EAs can be used to determine which engagements show up.

[2017-06-20 16:28] miki2826 commented on #6
@lp-wodell, I don't see a reason to open issues on EA API in this repository since this repo handles only the messaging agent sdk.

Please take it with the relevant people.

Thanks,
Miki.

[2017-06-21 14:54] eitan101 commented on #5
Hi,

Does your campaign work for human messaging agents?
(The node-agent-sdk is messaging only).

Are you familiar with the differences between chat & messaging in LE?

[2017-06-22 12:27] timster83 opened #7 "Agent Workspace Widget SDK: Data Structure of Authenticated SDEs different from unauthenticated SDEs"
The public model for engagement attributes exposed via the Agent Workspace Widget SDK follows below (as detailed in the documentation).

`SDE: {
        customerDetails: [],
        personalInfo: [],
        marketingSource: [],
        leadGeneration: [],
        transaction: [],
        viewedProducts: [],
        shoppingCart: [],
        serviceActivity: [],
        error: []
    },
    authen

[2017-06-24 03:32] dennisnotojr commented on #5
Yes,

No

The example does not work straight from the SDK. So I believe something is wrong in my account?  I need help

Den

From: Eitan <notifications@github.com>
Reply-To: LivePersonInc/developers-community <reply@reply.github.com>
Date: Wednesday, June 21, 2017 at 8:54 AM
To: LivePersonInc/developers-community <developers-community@noreply.github.com>
Cc: Dennis Noto <dennisnoto@gmail.com>, Aut

[2017-06-25 10:07] EdenKupe commented on #2
Hey,

Got a response from the relevant team. It seems like the method name you mentioned above it lacking. You used " x-http-override" while the name of the header in the documentation is "x-http-method-override" (you left out "method").

Using the correct header name exactly as specified in the documentation will yield the required result.
Having said that, calling the API using the PUT method "d

[2017-06-25 10:07] #2 closed

[2017-06-25 10:17] EdenKupe commented on #5
Hey Den,

If there's something wrong in your account, please contact our Support team via www.liveperson.com. I think they can assist you further on this issue.

Thanks!

[2017-06-25 10:17] #5 closed

[2017-06-25 10:17] EdenKupe commented on #3
Hey,

I'm told that 'smt' is indeed the right domain for this API. Are you seeing an error related to the domain?

[2017-06-25 10:26] EdenKupe commented on #7
Hey,

I've assigned @lpbarber to this, I believe he can help.

Thanks!

[2017-06-25 10:30] EdenKupe commented on #6
Thanks, I've changed the indicators to reflect both chat and messaging!

[2017-06-25 10:30] #6 closed

[2017-06-25 16:14] dennisnotojr commented on #5
They have been no help. This example
Doesn't work. Need some to tell me
Why your get started instructions fail

Den

Sent from my iPhone

[2017-06-25 17:46] dennisnotojr commented on #5
Tried different accounts no luck. Interesting that bots did connect a week ago, now receive the following errors to connect with no changes. Example of the new error

Creating cluster_zookeeper_1
Creating cluster_app_1
Attaching to cluster_app_1
app_1        | add 40683877-Watson
app_1        | add 40683877-Watson2
app_1        | got an error Error: unexpected server response (503)
app_1        |

[2017-06-25 17:49] dennisnotojr commented on #5
Once we get past the 503 error, then I will be back to my original issue of not seeing the bot agents go online. Buried in documentation I found this

**Note: In order to login as an application, you first need to have the "User Type - Bot" feature activated. Please contact your account team before moving forward.**

Don't know if that applies and support has not be helpful on this.

Den

[2017-06-26 16:16] lp-wodell commented on #2
Sorry Eden, it doesn't, because I just mis-typed the header in my original post.

I am actually correctly using 'x-http-method-overrride' and it's not working unless I use the PUT method.

Example:
[code]

[2017-06-26 16:20] lp-wodell commented on #3
No, I'm not - I cannot remember why I raised this now. Consider it closed.

[2017-06-29 18:20] mmehta-navomi opened #10 "Can't retrieve the domains and base URI using the information"
Suggestion: Please include the example of request to get domain and baseURI.
When we request for the domain to http://api.liveperson.net/api/account/accountId it doesn't respond.

http://api.liveperson.net/api/account/{accountId}/service/{serviceName}/baseURI.json?version=1.0
Where can we find the serviceName?

[2017-06-30 18:19] pmolensky opened #11 "update postman example Server Chat API"
We found a discrepancy between documentation and the postman example collection for the Server Chat API. See also case #00552741.

Change **b.Get Engagement** tests:
[code]
Change **c.Chat Request** body:
[code]

[2017-06-30 18:30] pmolensky commented on #10
Hi, all overview pages list the relevant service name:
![chrome_2017-06-30_20-24-18](https://user-images.githubusercontent.com/29775347/27749074-4950d86a-5dd2-11e7-902f-86436f770461.png)
_for example Engagement History_

Tip: you can also use the URL without the service name to get the full list:
https://api.liveperson.net/api/account/{accountId}/service/baseURI.json?version=1.0

[2017-07-04 08:50] lp-wodell opened #14 "Broken link Prerequisites"
https://developers.liveperson.com/consumer-int-authentication.html - "Prerequisites" link is broken.

[2017-07-05 09:03] #3 closed

[2017-07-05 09:03] #10 closed

[2017-07-05 09:27] lp-wodell opened #15 "Visit Info API - Chat Only"
https://developers.liveperson.com/rt-interactions-visit-information-visit-information.html - this API is chat only

[2017-07-05 09:55] EdenKupe commented on #14
Hey,

Link is fixed! Feel free to re-open the issue if it's still not working.

[2017-07-05 09:55] #14 closed

[2017-07-05 10:00] lp-wodell opened #16 "App Engagement API - Chat Only"
https://developers.liveperson.com/rt-interactions-update-session.html

This API is chat only.

[2017-07-05 10:08] EdenKupe commented on #15
Hey,

While the Visit Info API relies on SDEs (which are mostly unsupported in Messaging right now), it still should work. You might not receive information and experience a lack of data but the API still pertains to both Chat and Messaging. Once SDEs are supported in Messaging, it'll be useful.

Thanks, hope that's clear.

[2017-07-05 10:10] EdenKupe commented on #16
See my answer on issue #15. If you rely on passing SDEs, it won't be supported but once they are, you could definitely create an app for Messaging using this API.

[2017-07-05 10:10] lp-wodell commented on #15
To call the Visit Info API, you need a Shark visitor id and a Shark session id. These do not relate to the messaging session. That's why, to me, this is chat-only. You cannot use the visitor info API to read authenticated SDEs passed in a messaging session, for example.

[2017-07-05 10:12] lp-wodell commented on #16
Same response on this as to issue #15 - this API relates to Shark visitor/session ids and therefore I believe will make it irrelevant to messaging going forward, unless there are plans to merge the Shark and UMS systems when it comes to introducing SDEs into messaging.

[2017-07-05 14:43] meirotstein commented on #7
Hello @timster83 ,

The mistake is in the SDK documentation.

The reason for the differences is that a consumer page can send several SDEs per attribute, while in authenticatedData it is always a single object.

As for your question, I would suggest you to use the same handler with a simple array check, something like:

[code]

We will fix our documentation on the next version - thanks for bringin

[2017-07-06 08:49] timster83 commented on #7
Thanks @meirotstein.

With specific reference to the customerDetails and personalInfo SDEs, our understanding is that these only hold one value per attribute; i.e. when the page sends a new attribute, it overwrites the existing one.

We've certainly observed that updating any of the unauthenticated customerDetails or personalInfo attributes causes our eventlistener to act upon the data's new value

[2017-07-06 15:14] meirotstein commented on #7
@timster83

I reexamine our code and you are right - we always send a single object with the latest SDE values.

However we do save the data in an array due to some historic reasons - unfortunately this cannot be  change due to backward compatibility.

Anyhow, according to your code - it seems that you handled it wisely :)

Best Regards,
Meir.

[2017-07-09 13:19] lpbarber commented on #15
@lp-wodell In Web Messaging flow, the use of Shark is a part of the flow, although is not fully supported for all monitoring elements,  can be used if necessary.
Therefore, hypothetically, the use of both App Engagement API& Visit Information API is valid but not so valuable yet.
We will consider marking them as Chat only for reduce wrong usage and overhead.
Thank you for this highlighting.

[2017-07-09 13:23] EdenKupe commented on #15
Closing this issue for now. @lp-wodell, we'll update you if we decide to change these documents to chat only. Thanks again for drawing our attention to this!

[2017-07-09 13:23] #15 closed

[2017-07-09 13:23] EdenKupe commented on #16
Close as per discussion on issue #15

[2017-07-09 13:23] #16 closed

[2017-07-09 13:25] EdenKupe commented on #7
Closing this issue for now, feel free to reopen if more work is needed around this!

[2017-07-09 13:25] #7 closed

[2017-07-10 15:50] johnbeadle opened #18 "iOS Push Notification Certificate Creation Documentation Corrections"
@EdenKupe FYI...

referring to this page https://developers.liveperson.com/consumer-experience-ios-sdk-createcertificate.html

Having worked with 2 brands on setting this up, the commands at the end are not quite accurate. Some of the files referenced are not the correct name given the output of the previous steps. This has resulted in brands uploading the wrong files/keys and push failing...

##

[2017-07-13 12:24] lp-wodell opened #19 "Broken link - https://developers.liveperson.com/android-push-notifications.html"
Get your app’s AppKey from Google GCM or Google FCM and set it in the LiveEngage backend, as explained **here**, to identify your app by LiveEngage

The link on "here" is broken

[2017-07-13 12:55] EdenKupe commented on #19
Thanks, this is fixed. The documents were consolidated so there's no need for a link, the instructions are in the same document below.

[2017-07-13 12:55] #19 closed

[2017-07-13 13:01] EdenKupe commented on #18
Hey @johnbeadle,

Thanks for opening the issue. I've forwarded it to the team handling the In-App SDK and will update you on any answer they supply.

Thanks again!

[2017-07-13 13:03] johnbeadle commented on #18
np you are welcome. thanks

On 13 July 2017 at 14:01, Eden Kupermintz <notifications@github.com> wrote:

--

John Beadle

— Senior Solutions Engineer

— LivePerson Technical Solutions

— EMEA

*ADVANCE OOO NOTICE: I will be on annual leave from the 17th to the 21st of
July*

jbeadle@liveperson.com

Mobile: +44 (0) 777 595 9826

Tel: +44 (0) 2070 842 145

www.liveperson.com — 250 South Oak Way, Gre

[2017-07-16 05:20] nirlachman-liveperson commented on #18
Thanks @johnbeadle  - these changed will be applied in for 2.7!

[2017-07-16 06:43] EdenKupe commented on #18
Closing the issue for now! If 2.7 doesn't resolve the problem, please feel free to reopen the issue.

[2017-07-16 06:43] #18 closed

[2017-07-20 15:54] cjames1224 opened #21 "Visit Info API - Documentation unclear"
Issue found in documentation for Visit Information API: https://developers.liveperson.com/rt-interactions-visit-information-visit-information.html

It should be made clear that the sharkSessionId and sharkVisitorId are required for use of this API. Most notably found using the Chat Agent API https://developers.liveperson.com/agent-retrieve-chat-info.html
Not using the proper values results in a mi

[2017-07-23 06:50] EdenKupe commented on #21
Hey,

Thanks for the opening this issue. I'm assigning @lpbarber to it as he owns both of these APIs. Barber, can you please take a look?

Thanks!

[2017-07-23 13:13] EdenKupe commented on #21
Sending this to further research at R&D.

[2017-07-24 21:13] cjames1224 opened #22 "Messaging Window API - Error 4407 Resolution?"
I am receiving Error 4407 on the Messaging Window API
https://developers.liveperson.com/consumer-int-protocol-overview.html

There is no suggestion for how to resolve 4407 that I can find. Please provide resolution steps for this error. Thank you.

[2017-07-25 06:59] EdenKupe commented on #22
Hey,

Thanks for opening this issue. Forwarding to the relevant product manager for more information.

Thanks!

[2017-07-28 20:21] cjames1224 commented on #22
Thank you. Should I expect updates on this thread, or somewhere else?

[2017-07-30 10:16] EdenKupe commented on #22
Hey!

Best to answer here, for future generations :) Here's the reply I got from RnD:

"The error code indicates that there is a problem with the JWT (expired, wrong account etc...), You should trying getting a fresh JWT and return to the API with it.

What is the flow? Who issued the original JWT?"

If you can provide me the answer to the last question, I'll make sure to pass it over to them.

Th

[2017-07-30 12:17] EdenKupe commented on #11
Hey!

Sorry for the delay here. This has been updated, can you verify to make sure that it fits your specifications?

[2017-08-01 13:56] cjames1224 commented on #22
Thank you for your reply - I resolved the issue. I did not call the POST to
authenticate
https://lpgithub.dev.lprnd.net/pages/SENTINEL/idp/docs/#operation/authenticate

It was unclear because the documentation was misleading regarding a 4407
error.

On Sun, Jul 30, 2017 at 6:16 AM, Eden Kupermintz <notifications@github.com>
wrote:

[2017-08-01 14:14] EdenKupe commented on #22
Got it, thanks! I'm planning on refreshing this documentation in any case; I'll add this to the list of issues.

Closing the issue for now!

[2017-08-01 14:14] #22 closed

[2017-08-02 10:26] pmolensky commented on #11
Thanks

[2017-08-02 10:26] #11 closed

[2017-08-09 14:50] pmolensky opened #23 "Update steps mobile application keys for inApp Messaging"
The steps and screenshots to the **Mobile app management**:

1. display the old locations for both iOS and Android inApp Messaging documentation:
[In-App Messaging SDK for Android > Notifications](../blob/master/pages/documents/consumer%20experience/android-sdk/enable-push.md)
[In-App Messaging SDK for iOS > Notifications ](../blob/master/pages/documents/consumer%20experience/ios-sdk/pushnotificat

[2017-08-14 14:51] fbordas opened #24 "Retrieving available agents not filtering correctly"
Currently, attempting to use the Retrieve Available Agents functionality with a filter applied is not working correctly. The full list of agents (whether available or not) is always being returned.

Snippet:

[code]

The above code will return all available agents, whether online or not, and whether they have the "Human_chat" skill assigned or not. Unless I'm doing something wrong, this shouldn't

[2017-08-14 18:54] fbordas commented on #24
@EdenKupe Here's the issue opened.

[2017-08-15 13:37] fbordas commented on #24
As used with my LP account, this is the list of agents returned using the above call. Note how the skill and chat state filters are ignored and _**all**_ agents are returned.

[code]

[2017-08-15 19:28] trvollmer opened #25 "Operational Real-Time sample code"
Trying to download sample code for operational RT API.  Receive error, "The specified key does not exist"

[2017-08-16 10:38] lp-wodell opened #26 "Formatting issue on Android SDK screen"
https://developers.liveperson.com/android-attributes.html#miscellaneous

See the Misc section - the markup seems to have an issue.

[2017-08-17 12:55] Kadell opened #27 "oauth docs are woefully not up to date"
I would suggest a overall check but here are some of the things I know are wrong or bad:

No code flow for WEB diagram (elena has one)
Page 3 shows the checkmark in the wrong place in the info widget
No indication that despite not needing certain parameters you must fill in the ui with something to submit the config.
Example on page 18 doesn't include personal info section of sdes or indicate any

[2017-08-17 13:09] EdenKupe commented on #23
Hey,

Sorry for the delay here. I've forwarded this to the In App team and they'll update the screenshots + steps.

Thanks!

[2017-08-17 13:56] EdenKupe commented on #24
Thanks for opening the issue, I've forwarded this to RnD for further research.

[2017-08-17 13:56] EdenKupe commented on #25
Hey, could you provide me with a link of where you're trying to download this from?

[2017-08-17 13:57] EdenKupe commented on #26
Thanks for opening the issue, the markup has been resolved! Missing "</tr>" :/

[2017-08-17 13:57] #26 closed

[2017-08-17 13:58] EdenKupe commented on #27
Hey,

Thanks for opening this issue. I agree wholeheartedly; the entire document if out of date. The idea with publishing it was together exactly this info, since the process of updating it was going slowly. I will forward all the info you included here to Shmulik, Munir and Barber and they will work on updating the document.

[2017-08-17 14:11] trvollmer commented on #25
Tried to access
https://ce-sr.s3.amazonaws.com/Operational%20Real-Time/RT-API-oAuth-Sample.zip
 from
https://developers.liveperson.com/data-messaging-interactions-sample-code.html
from
https://developers.liveperson.com/data-messaging-interactions-overview.html

On 17 August 2017 at 09:56, Eden Kupermintz <notifications@github.com>
wrote:

--

Ted Vollmer
Deployment Engineer
T: +1 928 275-3344
<htt

[2017-08-18 04:04] devin-liu opened #28 "OAUTH / Token not available on visit information API"
https://developers.liveperson.com/rt-interactions-visit-information-visit-information.html

I always get this error when I try to hit that endpoint with oauth1 -
oauth_problem=signature_invalid&oauth_problem_advice=the oauth_signature is invalid

I always get this error when I try to hit that endpoint with bearer tokens -
{'time': 1503028861116, 'message': 'Invalid Account id: XXXXXX(blanked out o

[2017-08-18 20:59] kstrickland09 opened #29 "Incorrect properties for engagementData event"
According to the [documentation on the developers community](https://developers.liveperson.com/lp-tag-engagement-window.html#engagementdata), the properties of the engagementData event of lpUnifiedWindow are **engagementId** and **state**. However, **engagementId** is not available and **engagementName** is instead.

[2017-08-22 14:00] cjames1224 commented on #21
Looking forward to the documentation update.

[2017-08-22 14:00] cjames1224 opened #30 ".GetClock not working or Documentation unclear"
Issue found with the Messaging Window API documentation:
https://developers.liveperson.com/consumer-int-protocol-overview.html

This does not seem to work or there is not enough information in the documentation to implement .GetClock. Using the example Consumer UMS example this request does not work.

[2017-08-23 13:41] pmolensky opened #31 "getNumUnreadMessages on iOS inApp messaging?"
On Android it's possible to retrieve the number of unread messages using
`public static int getNumUnreadMessages(String brandId)` [documentation](https://developers.liveperson.com/android-methods.html#getnumunreadmessages)
Is there a similar function call on iOS available?

[2017-08-25 12:25] pmolensky commented on #28
Hi Devin-Liu,

The correct domain for the Visit Information API (for UK-based accounts) is [lo.v.liveperson.net](https://lo.v.liveperson.net), which you can check for your own account by retrieving the domain using the service name [smt](https://developers.liveperson.com/rt-interactions-visit-information-overview.html#getting-started) https://api.liveperson.net/csdr/account/{AccountId}/service/smt

[2017-08-27 04:29] nirlachman-liveperson commented on #31
Hi,
No such API currently.

Nir

[2017-08-27 04:29] nirlachman-liveperson commented on #23
Hi,
Updated screenshot for iOS. Will be deployed within the release of SDK 2.7 in the beginning of September 2017.
Thanks

[2017-08-27 05:58] chickpin commented on #23
Screenshot updated of Android. Will be deployed in SDK release 2.7

[2017-08-28 11:42] pmolensky commented on #31
Hi Nir, any plans to release such function on iOS?

[2017-08-28 11:47] nirlachman-liveperson commented on #31
Hi,
Can you please contact one of our product managers regarding this?

Thanks!

[2017-08-28 11:49] pmolensky commented on #23
Thanks both, looking forward to the documentation update.

[2017-08-28 11:49] pmolensky commented on #31
Ok

[2017-08-28 11:49] #31 closed

[2017-08-29 16:42] jwang84 opened #32 "&para will inject a special character"
If you use "&para" in the data text, the command method will inject a special character instead:

cmdName = lpTag.agentSDK.cmdNames.write; // = "Write stuff"
data = {text: '&para test &param test & param'};
lpTag.agentSDK.command(cmdName, data, notifyWhenDone);

If you simply use "&" symbol or the "&amp;" code, that will work. No problems there. It's only if you use "&para" that will inject the "¶

[2017-08-29 17:57] jwang84 commented on #32
Current work around is to change all your code that contain the line "&para" and replace it with "&amp;para"

[2017-08-30 15:42] campatsky opened #33 "ios sdk is not working with skillid"
I am trying to update the LivePerson Sample application to learn how to implement this in our application (https://github.com/LP-Messaging/iOS-Messaging-SDK/tree/master/Sample%20Apps/Swift). To just start a conversation, given Brand ID and Skill ID, I am using the following method:

/**
        This method created ConversationParamProtocol of Brand and Skill query type.
*/
    public func getConve

[2017-08-31 14:47] MikeTMO opened #34 "Error response when attempting to call Summary method in Agent Metrics API"
I'm receiving an error response when attempting to call Summary method in the Agent Metrics API. I'm am making the call via Postman.

**Response:**
{
    "code": "0013",
    "debugMessage": "Invalid json format"
}

**Request:**
POST /messaging_history/api/account/62258097/agent-view/summary?oauth_consumer_key=7b8d42389f714d878b0a169120b90527&amp;oauth_token=06166f21a18649719666e1ed862cdc82&amp;oau

[2017-08-31 14:50] EdenKupe commented on #34
Thanks Mike!

I'll make sure to send this to the right Product Manager for review.

[2017-09-05 13:16] cjames1224 commented on #30
Bump

[2017-09-06 14:39] orenkatz commented on #34
@MikeTMO try adding an empty JSON object to the body, for example: `{ }`

[2017-09-06 15:00] MikeTMO commented on #34
@orenkatz That worked! Thank you

[2017-09-06 16:02] orenkatz commented on #24
Hey @fbordas,
Try to add the chatState to the URL, for example  `.../availableAgents?v=1&chatState=Online&NC=true`

[2017-09-08 07:17] pmolensky commented on #23
Thanks for updating the images. I took the liberty of updating the descriptions for both platforms to give the documentation a more consistent look.

[2017-09-08 07:17] #23 closed

[2017-09-10 09:48] EdenKupe commented on #34
Closing the issue, thaks for your time Mike!

[2017-09-10 09:48] #34 closed

[2017-09-10 09:48] EdenKupe commented on #33
@nirlachman-liveperson any insight you can provide here?

[2017-09-10 09:49] EdenKupe commented on #32
Thanks for reporting this, I'll forward this to the right people as a bug report. Feel free to reopen the issue if you have any more questions.

[2017-09-10 09:49] #32 closed

[2017-09-10 09:50] EdenKupe commented on #30
@eitan101 any insight you can provide here?

[2017-09-10 09:51] EdenKupe commented on #29
@lpbarber can you confirm this is the case so that I can update the documentation?

[2017-09-10 09:52] EdenKupe commented on #28
Hey Devin,

Did the suggested solution above work for you? If so, let me know and I'll close the issue.

[2017-09-10 09:52] EdenKupe commented on #27
Communication continued via email, closing this issue for now.

[2017-09-10 09:52] #27 closed

[2017-09-10 10:27] nirlachman-liveperson commented on #33
Currently not supported

[2017-09-11 12:19] sciesielski opened #39 "Additional visitor data using Messaging Window API"
According to https://developers.liveperson.com/consumer-int-authentication.html I can add to JWT object additional information like "name": "Eitan". How can I make it visible in LiveEnagage chat window?

[2017-09-11 12:24] EdenKupe commented on #39
Hey,

Thanks for opening an issue. @eitan101, could you please provide more insight!

[2017-09-11 13:20] campatsky commented on #33
The method is literally implemented in your SDK.

[2017-09-11 13:27] EdenKupe commented on #33
Hey @campatsky,

To shed a bit more light on this: skillID is currently not supported in Messaging, only in Chat. This is true across our product. However, because it **will** be supported in the future, the sample app method includes it.

[2017-09-11 13:32] campatsky commented on #33
It's not the sample app that includes it. I am implementing it in the sample app from your SDK. This method comes from the SDK --
public func getConversationBrandAndSkillQuery(_ brandID: String, skillID: String) -> ConversationParamProtocol 

[2017-09-11 13:45] campatsky commented on #33
see Class LPMessagingAPI (line 107) getConversationBrandAndSkillQuery. if it's not supported, that shouldn't be there. It sure looks like it is implemented but is failing.

[2017-09-12 10:49] EdenKupe commented on #33
You're right, this shouldn't be in the documentation or should include a note mentioning that it's not yet supported. @nirlachman-liveperson , can we work on adding that note or removing the method if it's not yet supported?

[2017-09-12 11:04] nirlachman-liveperson commented on #33
Sure. We'll remove it from public

[2017-09-12 13:36] campatsky commented on #33
Okay good deal. Please add this to your backlog. We use LP in our webapp at https://myupmc.upmc.com/ and are in the process of building the ios and android native apps. Thanks for being responsive guys.

[2017-09-12 13:36] #33 closed

[2017-09-12 13:53] pmolensky opened #40 "Retrieve mistyped in documents.html"
![chrome_2017-09-12_15-51-01](https://user-images.githubusercontent.com/29775347/30329332-487fd7ee-97d2-11e7-8f2c-5dac20a083ee.png)
source: https://developers.liveperson.com/documents.html
(_could not find the source to create a pull request_)

[2017-09-13 03:47] nirlachman-liveperson commented on #33
@campatsky  it will be ready for the upcoming SDK version (2.8)

[2017-09-13 17:57] campatsky commented on #33
@nirlachman-liveperson that's really great news. Looking forward to the version update. We'll be able to incorporate it in our mobile apps for sure. Thanks guys!

[2017-09-14 00:09] devin-liu opened #43 "Visitor chat ends unexpectedly"
I have a logged in session with an agent through my custom client  `www.<myagentportal>.com` I refresh the agent login with the correct CSRF and get empty body responses back (OK for refresh). However when visitors talk for about 16 minutes, they get dropped randomly. I opened up a test visitor window in this url
`https://livepersoninc.github.io/visitor-page/?siteid=<siteid>`
I chatted for 16 minu

[2017-09-14 13:14] EdenKupe commented on #43
Hey Devin,

This seems like an issue for Support first and foremost and only then for us. It doesn't seem like there's an issue with the documentation or the API itself but rather something wrong with the implementation. Could you speak with them and see if there's any insight on their end? If this is indeed an issue with the methods themselves, they can roll this back to me.

Thanks! Closing the

[2017-09-14 13:14] #43 closed

[2017-09-14 13:15] EdenKupe commented on #40
Fixed, thank you!

[2017-09-14 13:15] #40 closed

[2017-09-14 16:09] barbarber commented on #29
@miki2826

[2017-09-14 23:39] devin-liu commented on #43
I have the agent refresh running every 5 minutes and it never fails. When a new visitor comes in, the chat session is opened fine. However, chat sessions cannot seem to persist longer than a certain time period. Is there any way to force a visitor session to stay open?

[2017-09-18 10:17] sciesielski commented on #39
Hello,

@eitan101, could you provide any information about taking visitor information from JWT? Is it possible?

[2017-09-19 11:32] johnbeadle opened #44 "Agent Workspace Widget SDK / send notification example - what are the data payload options?"
https://developers.liveperson.com/agent-workspace-sdk-methods.html#command

Example 3:

[code]

What are the possible values for `data {}` to construct the notification please?

[2017-09-19 11:41] EdenKupe commented on #44
Thanks John, I've sent this query to the relevant product manager and will update as soon as I have a reply.

[2017-09-19 11:43] johnbeadle opened #45 "Agent Workspace SDK / cmdNames.notify does not exist"
https://developers.liveperson.com/agent-workspace-sdk-methods.html#command

[code]

![screen shot 2017-09-19 at 12 41 54](https://user-images.githubusercontent.com/10999907/30590778-05f95088-9d38-11e7-80b5-2ae3509bc5b0.png)

[2017-09-22 19:42] Manegoldsr21 opened #47 "Chat Agent API - Agent Survey Issues"
I have been having two issues with the Chat Agent API related to dealing with the Agent Survey.

1) It appears that when I retrieve the agent survey it is returned the default survey on the account not the survey assigned to the campaign that the chat is under.

https://developers.liveperson.com/agent-retrieve-survey-structure.html

2) When submitting the survey I need to use a data object that is

[2017-09-24 08:27] EdenKupe commented on #44
Hey John,

Got this reply from R&D:

"The data field is for backward compatibility with the "lpTag.agentSDK.command" command.
It's not in use currently, and we will ignore whatever you will send there.
The notification will show automatically the text as documented. (user name, widget name and etc.)"

Let me know if you have any further questions or if we can close this issue. Thanks!

[2017-09-24 10:59] EdenKupe commented on #47
Hey,

Thanks for opening this issue.

1) Regarding your first question: is there anything that leads you to believe that that feature is supported? It might be that you can't retrieve a survey for a specific campaign but if you can point me to why you think that's possible, I can check.

2) Thanks. I'll work with the owner of the document to correct the documentation.

As for the error, I'll send

[2017-09-24 11:47] EdenKupe commented on #21
Hey Chris,

Could you remind me if we resolved this in a different channel? If not, I'll copy paste the response I got from R&D here for your review :)

Thanks!

[2017-09-24 11:47] EdenKupe commented on #24
Hey @fbordas

Was this resolved?  Can I close the issue?

Thanks,

[2017-09-24 11:48] EdenKupe commented on #25
Hey,

Unfortunately this sample no longer exists and has been removed from the document. We're working on getting a new sample up ASAP.

Thanks!

[2017-09-24 11:48] #25 closed

[2017-09-24 11:48] #28 closed

[2017-09-24 11:49] EdenKupe commented on #29
Hey @miki2826, can you advise on this?

[2017-09-25 10:45] vkedwardli opened #48 "JS Chat SDK not compatible with HTTP/2 or in Chrome 60"
According to **RFC 7230** (HTTP/1.1):

Also, **RFC 7540** (HTTP/2):

Since HTTP headers should be treated as case-insensitive, but the current V3 JS API 2.0.2. has hard-coded `c.headers.Location` with a capital letter L in the comparison statement `if (c && c.headers && c.headers.Location) {`

This breaks Google Chrome version >= 60 since it is the first browser to fully adapt to HTTP/2 (see [disc

[2017-09-25 11:07] EdenKupe commented on #48
Hey,

@miki2826 can you take a look at this? Can we fix that capital letter to comply with HTTP/2?

Thanks!

[2017-09-25 13:44] Manegoldsr21 commented on #47
Nothing specifically stated that it would return the survey for the campaign/sessions but the fact that I have to pass in the chatId to the URL to get the survey, I assumed that it would return the correct agent survey for that chat.

https://{domain}/api/account/{accountId}/agentSession/{agentSessionId}/chat/{chatId}/survey?v=1&NC=true

[2017-09-25 16:16] johnbeadle commented on #44
@EdenKupe I don't understand - are you saying there is no way to configure the contents of notification sent by the widget?
In my tests so far I see a generic message when I raise a notification like this:

![screen shot 2017-09-20 at 17 48 13](https://user-images.githubusercontent.com/10999907/30818981-2ab5bff6-a215-11e7-8629-ca939673dba7.png)

it shows as

is this not configurable?

[2017-09-25 21:16] orenkatz commented on #47
@Manegoldsr21 to submit the agent survey, your JSON should look similar to this:
`
  "survey": {
                        "question": [
                            {
                                "id": "4550780",
                                "answer": "Tech Support"
                            },
                            {
                                "id": "4587702",

[2017-09-27 14:24] jminuscula opened #49 "Agent SDK greeting example can't connect (503 error)"
Hi there!

I'm trying to run the Greeting Bot example found in https://github.com/LivePersonInc/node-agent-sdk/blob/master/examples/greeting-bot.js

I've set up my account with an Agent and I'm running the example with its credentials, but I can't get it to connect. This error is thrown when instantiating the Agent:

[code]

If I provide wrong credentials, it fails expectedly with `could not gener

[2017-09-27 17:39] Hauuguu opened #50 "In-App Android SDK 2.7 Build Error"
Having the same exact error that's mentioned here:
https://github.com/LP-Messaging/Android-Messaging-SDK/issues/34

Duplicating here for visibility.

[2017-09-27 20:51] orenkatz commented on #49
Hey @jminuscula,
How are you creating the new Agent? are you changing the csdsDomain? If so, you need to leave it blank so it will use the default one.
Oren.

[2017-09-28 06:58] miki2826 commented on #48
Hi @EdenKupe @vkedwardli,
It was already fixed in the current version.

Thanks,
Miki.

[2017-09-28 06:59] miki2826 commented on #29
Hi @kstrickland09 ,
You are right, we will fix the docs to show **engagementName** instead.

Thanks,
Miki.

[2017-09-28 08:37] jminuscula commented on #49
I'm creating the Agent from the LiveEngage dashboard. I've assigned it the `Agent` role, and created a `Test` skill for it. I've also set the max number of chats to unlimited.

I'm not providing a value for `csdsDomain`.

thanks for the help @orenkatz!

[2017-09-28 08:50] jminuscula commented on #49
Since the code is extremely simple, I'm guessing the problem might be with my account?

I'm not very familiar with the differences between Chat API and Messaging, but from the documentation and samples, it looks like Messaging is the way to go for bot automation. The usecase is simply building an Agent that can take care of a customer conversation.

Maybe my account needs to be enabled for this?

[2017-09-28 20:57] orenkatz commented on #49
@jminuscula  Can you email me your site number (orenk@liveperson.com)? it's possible that your site is not configured for messaging and only for Chat and the sample that you are trying to use is for messaging.
We have a different one for Chat

[2017-09-29 10:12] vkedwardli commented on #48
@miki2826 Oh, so there isn't a version bump for this release? The first thing I checked is the version number (still `2.0.2`) and the release notes (No new changes have been made to this SDK documentation recently)

[2017-09-29 10:12] #48 closed

[2017-09-29 11:29] jminuscula commented on #49
My account was not enabled for Messaging, only for Chat. Closing this issue.

thanks for the help @orenkatz 👍

[2017-09-29 20:09] kstrickland09 opened #51 "GetClock example"
In [Messaging Window API > Protocol Overview > Keep Alive](https://developers.liveperson.com/consumer-int-protocol-overview.html#keep-alive), the example code below returns "disconnected". Removing the period before "GetClock" returns a valid response.

`{"kind":"req","id":"1","type":".GetClock"}`

[2017-09-29 20:18] kstrickland09 opened #52 "Messaging Window API - Getting Started"
In [Messaging Window API > Getting Started > Step 2](https://developers.liveperson.com/consumer-int-getting-started.html#step-2---create-a-token), the description after the command should be updated. Current version is:

There is a subtle but important difference with this proposed version, which clarifies that extracting the JWT is not a separate step but instead one of the actions performed by t

[2017-09-29 20:20] kstrickland09 commented on #30
I just noticed this is the same issue as I reported in [Issue #51](https://github.com/LivePersonInc/developers-community/issues/51). We found that removing the "." before "GetClock" resolved the issue.

[2017-10-01 09:26] EdenKupe commented on #51
Hey,

I've removed the period. Let me know if anything else needs doing.

[2017-10-01 09:26] #51 closed

[2017-10-01 09:27] EdenKupe commented on #52
Hey,

I've updated the document with the new wording.

Thanks!

[2017-10-01 09:27] #52 closed

[2017-10-01 09:30] EdenKupe commented on #30
Let me know if this works and I'll close this issue. The documentation has been updated.

[2017-10-02 14:49] cjames1224 commented on #21
Hello Eden can you please paste the response into here? I still don't see the docu update on Internal Code "6" resulting in "Invalid Account ID" when the account is valid.
Thanks!

[2017-10-02 14:50] cjames1224 commented on #30
Thank you! I will close this.

[2017-10-02 14:50] #30 closed

[2017-10-02 14:54] EdenKupe commented on #21
Sure, here it is:

"Maybe the delicate nuance here is the use of the phrase "those parameters"... there is no relation between the "shark" prefix and the required parameters....

I think that the simplest way to describe it, is that the API expects 2 parameters:
- one parameter that identifies the visitor ==> visitorId
- one parameter that identifies the session ==> sessionId

There's no reason (n

[2017-10-02 15:13] cjames1224 commented on #21
Hey Eden,

While dealing with a bot partner, they needed assistance with using the Visit Info API (https://developers.liveperson.com/rt-interactions-visit-information-visit-information.html) to have the bot retrieve visit info about the visitor. At first try they did not know "what kind of session ID is required and where they could get it".

My first guess was **rtSessionId** from here (https://d

[2017-10-02 17:46] ngulati376 opened #53 "How to pull data from Users API using C#"
We need to pull all users data from the API. PLease provide the url that we need to use to access the API and pull all the users?

[2017-10-02 19:52] scottwestover commented on #53
@ngulati376 The URL to call the Users API is:
https://{YOUR_ACCOUNT_DOMAIN}/api/account/{YOUR_ACCOUNT_NUMBER}/configuration/le-users/users?v=1

To get the domain for your account, you will need to update this URL with your account number:
https://api.liveperson.net/api/account/{YOUR_ACCOUNT_NUMBER}/service/accountConfigReadOnly/baseURI.json?version=1.0

For an example in C#, you can find one here:

[2017-10-02 21:48] refnandor opened #54 "Bancomer Movil - Push Notification issues SDK V2.7"
These are the configurations about Push Notifications in our app (Bmovil) (lp account: 85237869):

1.- Add code lines in the class AppDelegate (application):

![image](https://user-images.githubusercontent.com/32464396/31100833-9def6410-a790-11e7-9315-cf6ce89f45f0.png)

![image](https://user-images.githubusercontent.com/32464396/31100842-aaa3677e-a790-11e7-90cb-e5bce4fffe0c.png)

2.- Enable push n

[2017-10-03 07:56] EdenKupe commented on #54
@nirlachman-liveperson can you assist?

[2017-10-03 11:01] EdenKupe commented on #54
Hey @refnandor, I think it would be best for you to contact Support for this issue. There's some debugging that needs to happen and they're the ones in charge of that. Please contact them via www.liveperson.com, just click to chat with them at the bottom right.

[2017-10-03 16:43] dvillacis94 commented on #54
Hi @refnandor which version of iOS are you using? also can you show the whole warning

[2017-10-03 16:59] ngulati376 commented on #53
Thanks Scott! That was really helpful. I will let you know if I have any
issues

On Mon, Oct 2, 2017 at 2:52 PM, Scott Westover <notifications@github.com>
wrote:

--
Regards,
Nitin

[2017-10-03 17:13] kstrickland09 opened #55 "LE Tag Events - table formatting"
In the first table on the page [How to use LiveEngage Tag Events](https://developers.liveperson.com/lp-tag-tag-events-how.html), it looks like the func property needs to be on a new row instead of after appName.

[2017-10-03 19:28] Hauuguu opened #56 "[In-App Android SDK] Incorrect design attribute labeled"
The first image labelled with a "1" [here](https://developers.liveperson.com/android-attributes-designsheet.html) doesn't match the attributes provided. Reproduced below:

![image](https://user-images.githubusercontent.com/14969006/31144693-7864f664-a84f-11e7-8086-b0c384efb032.png)

To change the default "My Brand" the attribute is `<string name="brand_name"></string>`, which can be found [here](h

[2017-10-03 22:00] refnandor commented on #54
@dvillacis94 iOS 11

[2017-10-04 08:38] EdenKupe commented on #55
Hey,

Thanks! I've fixed it.

[2017-10-04 08:38] #55 closed

[2017-10-04 08:41] EdenKupe commented on #56
Hey Josh,

Thanks for noticing this one. I've added the right attribute. In the future, I'm also looking into making this table more specific, by splitting up those numbers to make sure it's clear which attribute customizes which element.

Feel free to close this issue if you feel it's been addressed. Thanks again!

[2017-10-04 13:31] dvillacis94 commented on #54
if you could share the whole warning that would be great, meanwhile can we check that you actually have the right Certificates, and that the Notifications are functioning correctly on the APN, for this can you follow this instructions to test them, I understand that you're using Swift, the steps for Objective-C are the same:

Testing Push Notifications

It's important to make sure your Certificate

[2017-10-04 13:44] #56 closed

[2017-10-04 20:07] refnandor commented on #54
Thanks for your reply, I'm waiting for the results of this test

[2017-10-05 12:27] marcodagolini opened #57 "New Structured Contents: Maps"
Hello!

It seems that the syntax explained in the documentation to visualize Maps with new structured contents is wrong.

Here below the correct one:

{
	"type": "map",
	"lo": 2323231312,
	"la": 313145,
	"click": {
		"metadata": [{
	        }],
		"actions": [{

		}]
	},
	"tooltip": "map tooltip"
}

So "lo" and "la" seem not to be strings, but numbers.

Again, "lo" and "la" is one ordered pair of n

[2017-10-06 22:04] refnandor commented on #54
Hey @dvillacis94. We tried but the Push notifications remain the same (not working). Can we have a debug session and see what the problem is?
Thanks

[2017-10-08 05:32] orenkatz commented on #54
@refnandor before the debug session, can you please provide the results of the test using "Easy APNs Provider" like David suggested?
If it's not working, it means that the certificates used are incorrect or they are not the same certificates that were used to compile the App
You can use [this guide](https://developers.liveperson.com/consumer-experience-ios-sdk-createcertificate.html#creating-a-pus

[2017-10-10 15:17] dvillacis94 commented on #54
@refnandor I'm also noticing that your Certificate file and Key file are the same, you'll need to create 2 PEM files, please check @orenkatz guide on his comment

[2017-10-11 13:43] zerocarbthirty opened #59 "Confusion regarding Authentication"
Greetings,

In our customer portal we have a chat button which allows us to provide customer service to our customers via chat. When a logged in user clicks that chat button, we need the chat agent client to show the customers's email address that clicked on the button for identification purposes.

I found the authentication documentation in the developers community site and created a test campaig

[2017-10-12 07:59] pmolensky commented on #59
hi,

1. what have you done so far? Can you share your code?
2. Don't worry about this. See next item.
3. The implicit flow does not need to call the endpoint as everything is passed as a JWT when you use the embedded window.

I can share a sample I'm using for our clients, but I have to clean the hard-coded parts from it first :-)

Paul

[2017-10-12 10:30] zerocarbthirty commented on #59
Im not ttying to create an embedded window its just a chat now button.

On Oct 12, 2017 3:59 AM, "Paul Molensky" <notifications@github.com> wrote:

[2017-10-12 10:52] zerocarbthirty commented on #59
However I am willing to do it anyway you tell me to do it. My understanding
was that when the engagement fires your server hits my PHP script to get
the users info.

On Oct 12, 2017 6:30 AM, "Drew" <zerocarbthirty@gmail.com> wrote:

[2017-10-12 11:27] zerocarbthirty commented on #59
This includes the script that creates the JWT as well as the composer.json file

[lpersonjwtphp.zip](https://github.com/LivePersonInc/developers-community/files/1379105/lpersonjwtphp.zip)

[2017-10-13 09:01] pmolensky commented on #59
I assume after the chat now is clicked, an embedded engagement window is opened. Or do you use the pop-out?

Thanks for the code for generating the JWT. My initial observations:
* notBefore: Why adding 10seconds _after_ the issuedAt?
* Algorithm: According to the [documentation](https://developers.liveperson.com/guides-authentication-detailedapi.html), this should be RS256:

The PHP-code is for ge

[2017-10-13 15:32] zerocarbthirty commented on #59
Hi Paul,

Thanks so much for the help. I put the key, method name, and context into
'authentication server' and copy/pasted the content of your hastebin into a
page that had a chat button. I ensured that the engagement was set to
require authentication yet the JS you provided doesn't cause anything to
happen and even though the engagement is set to require authentication
LivePerson is still showin

[2017-10-13 16:12] pmolensky commented on #59
The engagement will still evaluate to available using audience, skill, location and behavior. Authentication is only performed on start chat.
* If authentication fails (invalid token) you'll get an error.
* If authentication cannot be performed (callback function not available) the visitor is redirected to the offline survey.

We're you able to start a chat using the sample and see from the Agent

[2017-10-13 17:07] zerocarbthirty commented on #59
Oh jeez, I am sorry. I thought it would probably just not show the button
if auth failed.

Anyway, it is actually trying but it says:

inside lpGetAuthenticationToken!
bloop.html:19 got token!
eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE0ODMyMjg4MDAsImV4cCI6MTg2MTkxOTk5OSwic3ViIjoicmFuZG9tZ3V5QHJhbmRvbXBsYWNlLmNvbSIsImlzcyI6Imp3dC5pbyIsImVtYWlsIjoicmFuZG9tZ3V5QHJhbmRvbXBsYWNlLmNvbSIsImxwX3NkZX

[2017-10-13 18:02] zerocarbthirty commented on #59
Digging a little further into the developer tools, I am able to find this
error as well:

{"error":{"time":"2017-10-13T13:26:10.600-04:00","message":"Failed to
validate user with customer authentication service","internalCode":10}}

I really do appreciate your efforts very much, my ticket with liveperson
looking for example code for this has been open for almost an entire week
without a reply.

On

[2017-10-13 19:14] zerocarbthirty commented on #59
Okay, sorry. This was all my fault. I had some kind of very wacky problem
copy/pasting the JWT/keys from hastebin they kept dropping a single
character.

I think I have this working. thank you for your help.

On Fri, Oct 13, 2017 at 2:02 PM, Drew <zerocarbthirty@gmail.com> wrote:

[2017-10-13 19:18] zerocarbthirty commented on #59
I was hoping that if a user was authenticated their name would appear in
"Visitors" instead of "Visitor" in the chat list, but it doesnt seem like
there is any way to get that functionality from 2009 back.

On Fri, Oct 13, 2017 at 3:14 PM, Drew <zerocarbthirty@gmail.com> wrote:

[2017-10-16 10:00] pmolensky commented on #59
Unfortunately no, at least no way I've found so far :-) (other than using a pre-chat survey)

[2017-10-16 11:03] zerocarbthirty commented on #59
Yes "visitor" is a super useful thing for it to display. :)

On Oct 16, 2017 6:00 AM, "Paul Molensky" <notifications@github.com> wrote:

[2017-10-17 12:26] zerocarbthirty commented on #59
So i had a quick question since you guys are experts. Is there really no way to customize the web agent interface? Meaning you can't add or remove or re-order the columns that your employees see in the main 'visitors' area?

[2017-10-17 14:28] pmolensky commented on #59
The columns (widgets) can be hidden or moved. Look for "Widget reordering" in the release notes of "September release part 1":
https://liveengage.liveperson.net/a/new/?connectionOpenArticle=liveengage-release-notes

If you want to change how the visitor info is displayed to the agent, the only solution at the moment is to hide the default and create a new agent widget with the desired look-and-fee

[2017-10-17 16:05] orenkatz commented on #54
@refnandor did you manage to resolve the issue?

[2017-10-19 00:52] scottwestover commented on #59
@zerocarbthirty

No, there is no way to customize the 'visitors' or 'web visitors' tab that shows all of the visitors on your site at this time.

[2017-10-19 10:41] zerocarbthirty commented on #59
Im sure glad that they replaced the Java version that was actually wayyyy
better.

On Oct 18, 2017 8:52 PM, "Scott Westover" <notifications@github.com> wrote:

[2017-10-19 18:43] orenkatz commented on #54
@refnandor we are closing this issue, please let us know if the solution we provided didn't help

[2017-10-19 18:43] #54 closed

[2017-10-19 19:00] #24 closed

[2017-10-19 19:01] #29 closed

[2017-10-19 19:02] #50 closed

[2017-10-19 19:05] #53 closed

[2017-10-19 19:06] donmanguno commented on #57
We'll update the documentation accordingly. Thanks, Marco.

[2017-10-19 19:06] #57 closed

[2017-10-20 15:00] orenkatz commented on #47
@Manegoldsr21 We are closing this issue, please let us know if the solution did not work

[2017-10-20 15:00] #47 closed

[2017-10-20 15:54] orenkatz commented on #45
@johnbeadle we will check it, meanwhile, you can set cmdName to "Send Notification" instead

[2017-10-20 15:59] orenkatz commented on #44
@johnbeadle correct, it will show the name of the widget, in your case 'i2'

[2017-10-24 15:33] scottwestover commented on #39
@sciesielski

To have the additional information show up in the LiveEngage chat window, the information has to be passed as one of the variables that are supported in the standard claim or custom claim sets here: https://developers.liveperson.com/guides-authentication-detailedapi.html

Instead of using "name": "Eitan", I would use "given_name": "Eitan", to have the name populate properly.

<img wi

[2017-10-24 16:15] #45 closed

[2017-10-24 16:15] #44 closed

[2017-10-24 23:42] sunilommi569 opened #61 "Expected to find a valid ContentProvider for this authority"
App crashes when opening the activity with "showconversations" method when targeting  Android 'O'(26), please find below stack trace.
 LivePerson.showConversation(this, new LPAuthenticationParams(), new ConversationViewParams(true));

FATAL EXCEPTION: SocketHandler_Responses
                                                                              Process: com.tmobile.pr.mytmobile.dev, PID: 10

[2017-10-25 08:06] EdenKupe commented on #39
Hey,

I've changed the value and added a note referring to the specific part of the Authentication document which lists the correct values.

Thanks!

[2017-10-25 14:07] scottwestover commented on #39
@EdenKupe Thanks!

[2017-10-25 14:55] #39 closed

[2017-10-25 20:53] marcodagolini opened #62 "wrong type in structured contents documentation"
Hello Team

This documentation https://developers.liveperson.com/structured-content-templates.html contains one mistake.
The JSON defining the style here below...

"style": {
	"bold": true,
	"italic": true,
	"color": "#453533",
	"background-color": "#3E47A0",
	"size": small
}

...returns one error, "size" is a string.
So the correct JSON is:

"style": {
	"bold": true,
	"italic": true,
	"color": "#

[2017-10-25 22:00] donmanguno commented on #62
Thanks for this feedback Marco. I have submitted a correction and it should appear soon.

[2017-10-25 22:00] #62 closed

[2017-10-25 22:14] donmanguno commented on #61
Hi Sunil, Which LP SDK version are you using? I was unable to reproduce this behavior on my application targeting Android 26 with LP SDK 2.8.

[2017-10-26 04:50] sunilommi569 commented on #61
Update on the issue:

Crashes in emulator , but works fine on device.

[2017-10-26 16:40] #61 closed

[2017-10-26 18:48] WildYorkies opened #63 "List in-app SDK error codes?"
Can we list the possible error codes that a developer could see. Even better if there was a table that outlined the reason for the code and the most likely fix for the error

[2017-10-27 16:39] scottwestover opened #65 "Messaging Interactions API - {domain} is missing from the URL"
The example URL for the Messaging Interactions API is missing the {domain} part of the URL and is showing as:
https:///messaging_history/api/account/{accountID}/conversations/search?offset=0&limit=50

on the Messaging Interactions API pages.

Example page:
https://developers.liveperson.com/data-messaging-interactions-conversations.html

![2017-10-27_1236](https://user-images.githubusercontent.com/

[2017-10-27 16:40] scottwestover commented on #65
I opened a pull request for this issue. #64

[2017-10-27 20:48] orenkatz commented on #65
Thanks @scottwestover

[2017-10-27 20:48] #65 closed

[2017-10-30 09:22] pmolensky opened #66 "IDP problem / Failed to connect to the server"
one of our clients get's an error "Problem IDP" since last Thurday. Support [case ID: 00583344] redirected me here to get the best and fastest answers.

From the console, they get the following error:
[code]

They tested:
1)	Physical devices both android and iOS
2)	All OS versions for example iOS – 9.3.4 , 10.3.1  Android - 6.0 , 6.0.1 etc

They use encrypted JWT:
[code]

I was able to replicate t

[2017-10-30 12:10] krokozyabr-blr opened #67 "String Localization android"
When trying to override strings according [guide](https://developers.liveperson.com/android-modifying-string.html) string on UI not changed

[2017-10-30 16:12] pmolensky commented on #66
_got a response from support by email; will keep this thread updated for others who might face the same issue_

Support suggested it might be related to the clients IdP-server being unreachable. But we're using the implicit flow, not the code flow. In the implicit flow, the authentication assertion is coming from the user, not the IdP-server. Or are we missing something here in the flow?

_Source:

[2017-10-30 16:31] dvillacis94 commented on #67
Hi,

Can you please share, which version if the SDK are you using?,
as well as compileSdkVersion, minSdkVersion, and targetSdkVersion.

Thanks

[2017-10-30 20:41] dvillacis94 commented on #67
Hi @krokozyabr-blr,

To override strings, you'll need to add under your res folder, a new folder named "values-en" if the resource you're trying to add is in English, or the 2 digit ISO Code for the language you're trying to override, under that folder just create a strings.xml file, and just add the strings you want to override,

We'll update the documentation to match this.

[2017-10-31 19:20] Hauuguu commented on #66
Assuming we're talking about SDK 2.8, are you using setAuthKey or setHostAppJWT when calling showConversation?

I had the same issue and the end result that worked for me was something like this:
[code]

Hope this helps!

[2017-10-31 20:53] dvillacis94 commented on #67
Hi @krokozyabr-blr,

Can you let us know if this solved the issue?

if not to keep the case open, and look for a solution.

[2017-11-01 14:10] donmanguno commented on #63
This request has been forwarded to the teams responsible for each SDK and we hope to update the documentation with this information in the future.

[2017-11-01 14:10] #63 closed

[2017-11-01 21:09] naveedhan opened #68 "Watson connector example"
As you are patterning with Watson it will be nice to have an example for Watson bot connector

[2017-11-02 13:58] dvillacis94 commented on #67
@krokozyabr-blr I'm closing the case, thanks for reporting this.

[2017-11-02 13:58] #67 closed

[2017-11-02 15:25] WildYorkies opened #69 "[Users API] Update Users vs Update User (no difference noted?)"
https://developers.liveperson.com/administration-update-users.html
https://developers.liveperson.com/administration-update-user.html

There is no difference noted between the request bodies in this documentation. It would stand to reason that the Update User**S** method would allow for an array of agent IDs in the request body and not just a single agent ID.

Note that none of the other plural vs

[2017-11-02 15:56] #59 closed

[2017-11-02 15:57] orenkatz commented on #21
@EdenKupe Can you please check the documentation?

[2017-11-02 15:57] #21 closed

[2017-11-02 17:30] cjames1224 commented on #21
So ..... was an _update to the documentation_ to reflect my request?

[2017-11-02 18:03] orenkatz commented on #21
We will review the changes and will add the necessary content, thank you for your input.

[2017-11-02 18:50] donmanguno commented on #68
Thanks for the suggestion. We are aware of this gap and plan to add some examples for this use case in the future.

[2017-11-03 15:40] donmanguno commented on #68
Hi @naveedhan.

LivePerson Watson integration actually doesn't require any code.  The configuration is done within the LiveEngage UI and the Watson website (as well as some behind the scenes configuration done by your LivePerson account team).

This document details the process: https://s3-eu-west-1.amazonaws.com/ce-sr/CA/Watson/Watson_configuration_guide.pdf

[2017-11-03 15:40] #68 closed

[2017-11-03 18:16] naveedhan commented on #68
The document does not have any screen shots or details how to "Setup the connector" via live person interface. It simply states on page 10 that "our LivePerson team will support you with all of the backend configuration for your Watson connector. During this process, they will consult with you to ensure Watson is setup to reflect the brand image and consumer experience you want to deliver"

I have

[2017-11-03 18:34] donmanguno commented on #68
Hi @naveedhan

Please email me at mmanguno@liveperson.com with your account number and we'll continue this discussion there.

[2017-11-03 19:03] roblumley opened #71 "Documentation issue - iOS json for push notification"
I received an email from State Farm's dev team.  Is this something we are updating in the documentation?  Thanks!

Rob Lumley
CSM - State Farm

"Morning, now that we got our testing back on line we discovered a new issue.   There appears to be two new values in the IOS json for Push Notification.   These are not documented in the online guide.
Push Notification Guide
https://developers.liveperson.

[2017-11-06 16:32] pmolensky commented on #66
Cause for the error was found. As it turns out, there was a miscalculation in the token and set the expiration date in the past. Immediately failing the check by LiveEngage.

One remaining question, why does LiveEngage tries to retrieve a new token from the clients IdP-server in the implicit flow? Shouldn't it redirect the request to the app or return an error for the app to handle and re-issue a

[2017-11-06 16:54] pmolensky opened #72 "[Android] brand_name not displayed in app"
When the string "brand_name" is set in the strings.xml-file, the value is not displayed in the app.
For comparison, I also set the app_name in the strings.xml-file, which is displayed.

Build: sample app
OS: Android
Version: SDK v2.8.0

I've created an animated gif of my build and deployment in Android Studio to a virtual device.
![https://prnt.sc/h6yohr](https://image.prntscr.com/image/3v3_M7leR4

[2017-11-06 16:58] dvillacis94 commented on #72
Hi @pmolensky,

To override strings, you'll need to add under your res folder, a new folder named "values-en" if the resource you're trying to add is in English, or the 2 digit ISO Code for the language you're trying to override, under that folder just create a strings.xml file, and just add the strings you want to override,

[2017-11-06 18:45] orenkatz commented on #69
@EdenKupe can you please check the documentation?

[2017-11-06 18:47] pmolensky commented on #72
@dvillacis94 you're right. I'll go home and be ashamed :man_facepalming:

[2017-11-06 18:47] #72 closed

[2017-11-06 18:51] orenkatz commented on #66
Hey @pmolensky
You are right, in implicit mode, LivePerson is not checking against the client IDP, we just validate the token with the certificate.

[2017-11-06 20:39] orenkatz commented on #66
@pmolensky Do you still experiencing any connection issues?

[2017-11-07 08:56] josercc opened #73 "When I use Debug to package ADHoc will report the following error message"
When I use Debug to package ADHoc will report the following error message

**bash: /Users/zhangxing/Library/Developer/Xcode/DerivedData/GearBest-crzmnwsczsobdjewblrpeebpgowm/Build/Intermediates.noindex/ArchiveIntermediates/GearBest/BuildProductsPath/Release-iphoneos/GearBest.app/Frameworks/LPInfra.framework/frameworks-strip.sh: No such file or directory**

[2017-11-07 12:06] EdenKupe commented on #69
Hey,

Seems like there's a difference in the method being used. For the Update User method, there's an extra expression in the URL:

``
/api/account/{accountId}/configuration/le-users/users/**{userId}**
``

This does not appear in the Update User**s** method.

[2017-11-07 12:08] pmolensky commented on #66
**ignore previous comment**
@Hauuguu's comment contains two changes:
1. `ConversationViewParams(isReadOnly())` > `ConversationViewParams(false)`
1. `setAuthKey(authCode)` > `setHostAppJWT(jwt)`
second change solved the error in the sample app.

Will ask the client to confirm their code.

[2017-11-07 12:56] WildYorkies commented on #69
@EdenKupe The Request Body documentation shows that UserID parameter, though. I guess you should take that param out for the UserS method docs.

In any case, the documentation for this is too bare bones. It doesn't mention at all what payload you are sending for the update of users. For example, you have to send a json structure that has *at least* the user ID of the users you want to update and t

[2017-11-07 13:16] EdenKupe commented on #69
Yeah, I agree that this document is lacking. That also causes the issue raised here (the problem is that both methods point to the same example, which is generic and too broad).

I'll link up with the VAULT team who are in charge of these APIs and try to get them to improve it.

[2017-11-07 14:21] #66 closed

[2017-11-07 14:26] WildYorkies commented on #72
@dvillacis94 When is your advice getting added to this page? https://developers.liveperson.com/android-modifying-string.html

[2017-11-07 19:25] dvillacis94 commented on #71
Hi @roblumley,

Apple has been adding more information into the JSON payload for the Push Notifications, that is something we can't control, we'll add this to the documentation, also is important to mention that those changes are only available on new releases of iOS.

[2017-11-08 16:07] WildYorkies opened #74 "[Android] Agent name display in conversation view"
When does the top text of the conversation view change to the agent name?

And what should we do if we can't get the agent name to display properly? Is there a common fix for that?

![2017-11-08 11_04_58-in-app messaging sdk for android - attributes design sheet _ liveperson apis](https://user-images.githubusercontent.com/1299322/32559336-eed6f658-c474-11e7-9a4b-83d03ef03953.png)
![2017-11-08 11_0

[2017-11-08 16:38] Hauuguu commented on #74
The brand name changes to the agent name once connected/assigned to an agent. In the interim you can set the brand name with the brand_name string resource under res/values/strings.xml.

I.e.
[code]

[2017-11-14 07:20] shaymLP commented on #73
In project settings, navigate to the Build Phases tab, and click the + button to add a New Run Script Phase.
Add the script below in order to loop through the frameworks embedded in the application and remove unused
architectures (used for simulator). This step is a workaround for known iOS issue and is necessary for archiving your app before publishing it to the App Store.
If frameworks installed

[2017-11-14 09:09] josercc commented on #73
![qq20171114-170640](https://user-images.githubusercontent.com/4713847/32771613-393e4bd6-c95e-11e7-9cea-bfc4b9c27916.png)
We are currently in accordance with the documentation set up when running the bash command will be reported can not find the file error
When not running can be compiled package but the operation will collapse

[2017-11-14 09:17] josercc commented on #73
Currently we access your Fastlane to find the following situation
We use Objective-C to develop your library using Swift 4.0
1. Currently unable to use Xcode8.3 based on Fastlane automated packaging Because Xcode8.3 does not support Swift4.0
2 your LPInfra.framework library support iOS9.0 minimum, but our APP minimum support 8.0
3. UI interface problems when I click on the keyboard I entered the c

[2017-11-14 09:21] dvillacis94 commented on #73
Hi,

1. Which version of the SDK are you using?
2. Are you using CocoaPods?

[2017-11-14 09:24] josercc commented on #73
I use SDK version 2.8.4
We recommend using Cocodpods But after we use Cocoapods to join the project will be reported for no reason

[2017-11-14 09:56] josercc commented on #73
![image](https://user-images.githubusercontent.com/4713847/32773755-29355f7a-c965-11e7-834c-f05ea96971fe.png)

[2017-11-14 19:40] orenkatz commented on #74
@WildYorkies Did @Hauuguu helped with your question?

[2017-11-14 19:42] #69 closed

[2017-11-14 20:37] #74 closed

[2017-11-15 09:53] torloneg commented on #49
hello
I have the same problem, with a trial account that I'm using to evaluate the service
can I send my account to verify?

[2017-11-15 15:53] donmanguno commented on #49
Sure, send it to mmanguno@liveperson.com

[2017-11-15 15:57] donmanguno commented on #71
As there has been no response for 8 days I am closing this issue now. The documentation will be updated to convey what David explained.

[2017-11-15 15:57] #71 closed

[2017-11-15 16:22] lp-wodell opened #75 "LOBs API"
There is a link to the LOBs API in the dropdown menu, but it goes to the Skills API (https://developers.liveperson.com/overview.html)

[2017-11-15 21:22] orenkatz commented on #75
@EdenKupe can you please check?

[2017-11-17 06:33] zstartw opened #76 "Not receiver the Notifications"
I followed [the developer liverperson web](https://developers.liveperson.com/android-push-notifications.html).and configured my liverperson below:

configured AndroidManefest.xml

[code]

MyFirebaseInstanceIDService.java
[code]

In my Application  init the liveperson

[code]

LiverPersonUtil.java

[code]

but I can not received the notications. the method ```onMessageReceived``` in ```FirebaseMess

[2017-11-17 16:43] orenkatz commented on #76
Hey,
Looks like you are missing the registerLPPusher call when you register the token.
You can look at our sample app (located in our SDK) for examples

[2017-11-19 13:09] marcodagolini opened #77 "Messaging Windows APIs - Conversation Metadata"
Hello Team!

For what i read the answer body when we receive one event should be:
{"changes":[{"sequence":0,"originatorId":"","serverTimestamp":0,"event":{"type":"ContentEvent","contentType":"text/plain","message":""}

For what i know, the element "changes" does not exist.
The correct element name is "change".

Regards

Marco

[2017-11-20 03:25] josercc opened #78 "【iOS】How do I test offline message notification?"
My question is following link

[Bancomer Movil - Push Notification issues SDK V2.7 #54
](https://github.com/LivePersonInc/developers-community/issues/54)

I've followed the documentation but I do not know how to test offline message notifications

Here is my code configuration

![image](https://user-images.githubusercontent.com/4713847/33000718-be484cf2-cde4-11e7-89e0-46d7d4a27bd4.png)

![image](h

[2017-11-20 09:59] EdenKupe commented on #75
Hey,

This has been fixed.

Thanks!

[2017-11-20 09:59] #75 closed

[2017-11-22 05:12] SanilDas opened #79 "While clicking LP Notification - App crashed ."
Hi Team ,
I am working on Live Person Chat integration using cordova plugin in android app .
For me  chat is working fine and can able to get notification from LP agent while chat is going to  background.
While clicking on  Notification in the device , it  should be redirect to LP chat screen .But Application is getting crashed while reconnecting chat . I am getting  "Null pointer exception " in t

[2017-11-26 17:46] marcodagolini opened #80 "Messaging Window APIs: GetClock()"
Hello Team!

I'm using the GetClock() method and i'm receiving a 200 from the server.
Here below what i see in my Chrome developer tool:

![screen shot 2017-11-26 at 18 08 17](https://user-images.githubusercontent.com/22427475/33242711-5f3731fc-d2d9-11e7-919e-4dce515e9e3b.png)

I can see also the call list every 10 secs:

![screen shot 2017-11-26 at 18 38 20](https://user-images.githubusercontent.

[2017-11-27 16:42] pmparis opened #81 "Programmatically determine if call center is open"
We have a custom button that invokes the chat window based on the lpTag object.  Is there a way that I can determine if the call center is open or not via your objects or api, so that I can hide this custom button?

[2017-11-27 19:46] donmanguno commented on #81
Hi @pmparis does this question relate to chat or messaging? For chat you can use the [Server Chat API](https://developers.liveperson.com/consumer-experience-server-chat-getting-started.html)'s Retrieve Availability, Retrieve Available Slots, or Retrieve Estimated Wait Time methods.

We don't have any equivalent methods for checking Messaging agent availability because Messaging's asynchronous natu

[2017-11-27 19:46] #81 closed

[2017-11-27 20:01] donmanguno commented on #76
Hi @zstartw did Oren's suggestion help?

[2017-11-27 20:16] donmanguno commented on #77
Hi Marco,
Can you clarify the context you're referring to? According to my tests both MessagingEventNotifications and ExConversationChangeNotifications always contain an array called "changes" regardless of the number of changes included in that notification.  This appears to be the standard for all event notifications from the Messaging service, and I have confirmed that it is true in the Messagi

[2017-11-27 20:21] dvillacis94 commented on #78
Hello,

if you want to make sure that the process to create the Certificates was correct, and later on test the Push Certificate, you can follow the instructions from this document: https://developers.liveperson.com/consumer-experience-ios-sdk-sampleapp.html#creating-push-certificates-1

[2017-11-27 21:31] donmanguno commented on #80
Hi Marco,
Regarding the second screenshot: those are Shark requests which occur because you have the lpTag on your page. They are unrelated to the websocket connection.
Do you send the getClock method periodically, or only once when you connect?
I am looking into close reason 1006 to see if I can clarify what exactly it means.

[2017-11-27 23:26] marcodagolini commented on #77
Hello Mark!

Don't mind, you're totally right!
I was mislead due the assignment "body.changes.forEach(change => ......"
Shame on me!

Marco

[2017-11-27 23:26] #77 closed

[2017-11-27 23:55] marcodagolini commented on #80
Hello Mark!

I was calling getClock method only once.
I tried to call this method inside one setInterval(), this is working like a charm!

Thank you again!

Marco

[2017-11-27 23:55] #80 closed

[2017-11-28 01:09] zstartw commented on #76
Thank you for your reply, I've tried it but it does not work, I've also created issues [here](https://github.com/LP-Messaging/Android-Messaging-SDK/issues/40) before, and all I did was reply there

[2017-11-28 01:13] josercc commented on #78
@dvillacis94
I try again

[2017-11-28 05:08] lapto093 opened #82 "Push service for android app"
Hi,
We're implementing Live Person chat for Android app, we'll launch the app in China, just trying to make sure that your push services are working on that market.
Pls help to answer that question.

Thanks
Lap To

[2017-11-28 06:08] donmanguno commented on #82
Hi Lap To,

We have not tested much with non-Google push services, so if you're planning to target devices without Google Play Services there might be an issue. Which push service(s) are you considering?

[2017-11-28 09:03] shaymLP commented on #78
@josercc
Please make sure your bundle id is written correctly before the "-Dev" postfix,
Follow the cert guides again. Make sure you follow the guide exactly as it written. Than send 2 messages from LiveEngage when the app is closed or in the background and reply with the exact timestamp of this messages so i can further check our backend side. (If\When push is not received)

[2017-11-28 09:11] shaymLP commented on #76
https://developers.liveperson.com/android-implementation-guide.html

Please follow this step by step guide, let us know if you still face any issues.

[2017-11-28 10:38] pmolensky opened #83 "Login service API - refresh recommendation?"
Hi, the Login Service API has a refresh method. How often/when should this method be called?
I assume, this should be shorter (or equal) than the `sessionTTl` response value (milliseconds) of the User/Application Login method, correct?

[2017-11-28 10:48] nirav124u opened #84 "How can i modify a strings?"
Hi ..

i want to change a first welcome message with my custom message.
Default message is  "How can i help you today ?"
i want to change this message to  "This is test message".

I reviewed a modifying strings article. Link https://developers.liveperson.com/android-modifying-string.html

i am overriding 'lp_first_message' string in my string.xml file with this value.
<string name="lp_first_messag

[2017-11-28 10:54] pmolensky commented on #84
I had the same issue a few weeks ago:

[Thanks to David](72#issuecomment-342213523)

[2017-11-28 16:02] pmolensky opened #85 "Messaging Interactions API - source values unclear"
_Requested to move PR #60 to issue by @EdenKupe_
The [Messaging Interactions API](https://developers.liveperson.com/data-messaging-interactions-conversations.html) mentions the following possible values as a source:
- APP
- WEB
- AGENT
- SMS
- FACEBOOK

I see a value `SHARK` for interactions started from the website. And no `WEB` values, or is there a difference between the two?

[2017-11-29 01:31] josercc commented on #78
@shaymLP

2017-11-29 09:30:00.446143+0800 GearBest[3256:529202] [2017-11-29 09:30:00.446] [0x1c0077780] [TRACE]: [ConversationViewController] [messagesStatusDidChange(_:messages:)] [L2044]: messagesStatusDidChange for conversation: << UID: Optional("193ffb09-b6cf-4e84-a902-e4ef7934980d"), handlerID: 78A7B664-0F94-4902-BB8E-59266F2C694F, state: OPEN, reationDate: 2017-11-20 02:36:15 +0000, lastMess

[2017-11-29 07:24] zstartw commented on #76
@shaymLP Thank you very much for providing step-by-step instructions, It have solved my problem, and I found my problem, I used the wrong **appID** was used before, Also in the console I also set the wrong **Push notification API key**.

[2017-11-29 07:25] #76 closed

[2017-11-29 08:48] EdenKupe commented on #85
Thanks, I'll get this over to the PM in charge of our Data APIs.

[2017-11-30 02:44] mkwong04 opened #87 "sid in visit Information API"
I encounter "Unauthorized account access" error when using the visit Information API.

The application already have its api key granted access to "Real Time Interactions" of API

Below are sequences involve
1) obtain base uri via get Domain for "agentVep"
2) perform login using Login API
3) start agent session
4) accept a chat request
5) get chat info to obtain visitorId
6) generate 0-legged OAuth

[2017-11-30 08:54] EdenKupe commented on #85
Hey,

So, apparently the name for our WEB parameter is SHARK. They are one and the same. I've updated the documentation to reflect this, adding in SHARK (WEB) so that it's clearer.

Closing the issue for now, feel free to reopen if anymore work is needed. Thanks!

[2017-11-30 08:54] #85 closed

[2017-11-30 09:10] kiranpotladurthi opened #88 "Live Person data for reports"
Hi
We want to extract Player Visit information for whom push chat (proactive chat) was not triggered due to control group criteria set for the campaign or no agent available at that time.  Can you suggest the Live Person API using which this data can be fetched from Live Person?

Our account number is: 5003492

Thanks & Regards
kiran.

[2017-11-30 11:56] Avishaia commented on #88
Hey Eden,

Avishai here, Their AM. I referred Kiran to this forum to get answers to his technical questions regarding Visit Information KPI. Please assist :) Thanks!

[2017-11-30 12:01] EdenKupe commented on #88
Will do! I'll take a look and consult with our Data teams soon.

[2017-11-30 14:38] SanilDas commented on #79
Hi ,
I am using below method for start conversion and it is working fine in start conversion .
showConversation(Activity activity, LPAuthenticationParams lpAuthenticationParams, ConversationViewParams params‎)

But I am getting problem while clicking on  LP notification from LP agent when app is background ,application getting crashed . Because I have handled message in FCMMessage.java class , bel

[2017-11-30 15:34] dvillacis94 commented on #79
Hi,

Usually you'll need to handle the push, that means parsing the LP Object, then you display the push.

`
PushMessage message = LivePerson.handlePushMessage(this, remoteMessage.getData(), account), false);
      //Code snippet to add push UI notification
      if ( message != null ) {
        // Show Notification
        NotificationUI.showNotification(this, message);
      }
`
can you share ho

[2017-11-30 15:45] donmanguno commented on #87
Hi @mkwong04,

The Visit Information API uses a Visitor ID and Session ID that are not directly available in the LiveEngage UI. Rather, these can be obtained from within the visitor's browser, either from the parameters of the network calls being made to our monitoring service, or from the visitor's cookies.

For example, on our login page (authentication.liveperson.net) you are monitored by our S

[2017-11-30 16:29] prebelo opened #89 "Issue with the Agents Metric API"
Hi I am trying to use the Agent Metrics API ... I tried to test it with postman I get this body response:
{
    "_metadata": {
        "count": 0,
        "self": {
            "rel": "self",
            "href": "http://va.msghist.liveperson.net/messaging_history/api/account/51120522/agent-view/status?limit=50&offset=0"
        },
        "shardsStatusResult": {
            "partialResult": false

[2017-11-30 16:32] prebelo commented on #89
I also tried via Java and get a response: {"code":"0001"}

[2017-11-30 18:09] rplankenhorn opened #90 "2.9.3.0.1367: Crash when setting configuration.checkmarkReadColor = UIColor.clear"
I get this crash when I am trying to configure checkmarkReadColor.  I am using the SDK within a React Native project and had no issues in prior versions with older versions of Xcode.  If I comment out the configuration line, I am able to move past this crash to another crash.

![live_person_crash_2](https://user-images.githubusercontent.com/228338/33446991-727f3f3e-d5c7-11e7-9094-9128d17ef80a.jpg)

[2017-11-30 18:13] rplankenhorn opened #91 "2.9.3.0.1367: Crash in LPMessagingSDK.InputTextView"
My guess is that the bottomViewToHideLinkPreview property was removed from InputTextView and the reference wasn't deleted from the NIB.

[code]

[2017-11-30 18:15] rplankenhorn opened #92 "Releases on Github don't match the Podspec file"
The SDK release version number should match the same version that is in the Podspec file per Cocoapods community convention.  Currently, the versions listed on the SDK Github site are like this:  2.9.2, 2.9.3, etc but the Podspec file has them listed like this:  2.9.3.0.1367.

[2017-11-30 18:17] dvillacis94 commented on #90
Hi,

Which version of the CocoaPod are you using? (2.X.X.X)

[2017-11-30 22:48] devin-liu commented on #87
Hi Mark, the documentation is wrong. That API takes the information in this format:

    `https://va.v.liveperson.net/api/account/${accountId}/monitoring/visitors/${sharkVisitorId}/visits/current/state?NC=true&v=1&filter=agent&sid=${sharkSessionId}`

sharkVisitorId and sharkSessionId are also available from the chat info.

[2017-11-30 22:53] devin-liu commented on #89
Hi @prebelo are you using the chat agent API or the messaging history API? Try this URL with the same parameters

`'https://va.enghist.liveperson.net/interaction_history/api/account/{accountId}/interactions/search'`

[2017-11-30 23:06] devin-liu commented on #83
The liveengage interface refreshes the login every 3 minutes-- that is a good baseline.

[2017-12-01 08:32] mkwong04 commented on #87
Thanks for the info, i tried with the sharkVisitorId and sharkSessionId, but still encounter the same error, anything i may have missed out?

There are a few possible points of error source i can think of, but i need a way to isolate them.
i) the access grant is not properly done (will double check with account admin)
ii) the oauth1 token generated (i am using org.scribe's scribe library to genera

[2017-12-01 21:31] orenkatz commented on #84
@nirav124u Did @pmolensky worked for you?

[2017-12-01 21:33] orenkatz commented on #92
@rplankenhorn is it blocking you from using it for any reason?

[2017-12-01 22:39] orenkatz commented on #78
@josercc what is the 'alternateBundleID' you are using in your code? can you try to remove it and test?

[2017-12-01 22:58] rplankenhorn commented on #92
No.  I just have to go into the pod spec repo and look at the newest folder to get the latest version.  For other Cocoapods projects, the version in the Podspec matches the version on the repo.  Take a look at [AlamoFire release](https://github.com/Alamofire/Alamofire/releases) and [AlamoFire pod spec](https://github.com/CocoaPods/Specs/tree/master/Specs/d/a/2/Alamofire).  Notice how the folder na

[2017-12-01 23:08] donmanguno commented on #92
Hi @rplankenhorn,

Since we only publicly release one version of each release (as in MAJOR.MINOR.RELEASE) you can target the entire release in your podfile as such:

`pod 'LPMessagingSDK', '~>2.5.3.0'`

This will ensure that you get the highest version of 2.5.3.x, and there will be only one.

[2017-12-04 13:45] EdenKupe commented on #83
Hey guys,

Consulted with RnD and three minutes does indeed make sense. I will update the documentation to include regarding this best practice.

Thanks!

[2017-12-04 14:35] rplankenhorn commented on #91
Any update on this?

[2017-12-04 14:35] rplankenhorn commented on #90
Any update on this?

[2017-12-04 14:42] scottwestover commented on #89
@prebelo For the Agent Metrics API, you will need to update the domain you are using in the API call to be: lo.msghist.liveperson.net.

Example URL:
[code]

If this doesn't work, can you please post the Body you are sending with the request?

[2017-12-04 15:36] dvillacis94 commented on #90
We're working on replicating this, are you making the configurations via Xcode or React-Native?

[2017-12-04 15:37] dvillacis94 commented on #91
We're working on replicating this, is taking longer to replicate as this issue is not presented on native iOS.

[2017-12-04 16:04] scottwestover commented on #87
@mkwong04 For your API keys, can you make sure that that the Visit Information / Engagement Attributes API is selected?

![2017-12-04_1057](https://user-images.githubusercontent.com/9931822/33561923-f759411a-d8e1-11e7-930d-6b201c77adff.png)

If it is selected, I would try creating a new set of API keys in the LiveEngage console.

I ran into the same issue where the visitor information was selected

[2017-12-04 17:17] rplankenhorn commented on #92
I tried that and it doesn't work.  Since the version doesn't match exactly, it doesn't pull the latest version.

[2017-12-04 17:19] rplankenhorn commented on #91
I have confirmed that this issue is present in all of the following versions:
- 2.9.0.11.1329
- 2.9.1.1.1344
- 2.9.2.0.1352
- 2.9.3.0.1367

But there are no issues with 2.8.4.5.1297-xcode91.  Is this a supported version?

[2017-12-04 17:19] rplankenhorn commented on #90
I have confirmed that this issue is present in all of the following versions:
- 2.9.0.11.1329
- 2.9.1.1.1344
- 2.9.2.0.1352
- 2.9.3.0.1367

But there are no issues with 2.8.4.5.1297-xcode91.  Is this a supported version?

[2017-12-04 17:20] rplankenhorn commented on #90
@dvillacis94 The configuration is done via Native iOS code.

[2017-12-04 17:23] dvillacis94 commented on #90
So you're only calling the init and showConversation through a Bridge? or are you do something on React-Native with the SDK?

[2017-12-04 19:24] rplankenhorn commented on #90
We have a view that we expose to React and inside that view we have a controller that we add as a child controller.  That controller makes all the calls to the SDK.  We are only making the calls to get the authorCode from within React.

[2017-12-05 02:32] mkwong04 commented on #87
Thanks everyone for advises, updates on the issue.

It is working now. it is related to the API access grant setting, account manage help to double check and confirm the setting and issue resolve.

Also confirm that the API is using sharkVisitorId and sharkSessionId. Liveperson API document should be updated.

[2017-12-05 02:32] #87 closed

[2017-12-05 14:12] #83 closed

[2017-12-05 14:46] donmanguno commented on #82
Hi @lapto093,

I have to close this issue now due to inactivity, but I can re-open it if you return to let us know which push service you would like to implement aside from FCM.

[2017-12-05 14:46] #82 closed

[2017-12-06 08:48] shaymLP commented on #92
@rplankenhorn, Using 'pod update' will get you the latest SDK version automatically.

[2017-12-06 08:54] EdenKupe commented on #88
Apologies for the delay here Kiran.

I've spoken with the relevant people in our company and have confirmed that the [Visit Information API](https://developers.liveperson.com/rt-interactions-visit-information-visit-information.html#response) includes a parameter called "campaignControl". This field indicates whether a visitor was in the control group for a campaign and thus did not receive the inv

[2017-12-06 09:27] kiranpotladurthi commented on #88
This seems to be a real time API and also it required visitID to be provided.  In our case, we don't the know visitID.  We want all the visitIDs for which pushchat was not triggered in a day or hour (due to control group or agent not available).  I hope you got the requirement.

[2017-12-06 09:35] EdenKupe commented on #88
Ah, makes sense! In that case, you can use the [Data Access API](https://developers.liveperson.com/data-data-access-web-session.html#eligiblecampaign). It has a parameter called controlGroupType which you can use. However, please note that this API is in Beta. Thus, please contact Avishai, your Account Manager, to further discuss using this API.

[2017-12-06 09:39] Avishaia commented on #88
Thanks for suggesting Data Acess API, Eden. This is was my suggestion as well.

@kiranpotladurthi can you please send your technical questions here after reviewing the Data Acess API option?

Thanks.

[2017-12-06 10:06] kiranpotladurthi commented on #88
Can you provide the url and query parameters to be used for this?  what values should be passed for controlGroupType ?

[2017-12-06 10:15] EdenKupe commented on #88
The way the Data Access API works is this:

When you call the API, you choose a startTime and an endTime. Once the API is called, you receive files generated for a set interval during that time (so let's say your startTime is 00:00 and your endTime is 24:00, you'd get 24 files, one for each hour). In those files, you'll see all visitors on your site as seen by our tag.

Within those files, you can

[2017-12-06 12:55] kiranpotladurthi commented on #88
thank you for the explanation.  In the documentation for controlGroupType it is mentioned as below:
Type of the campaign control groups. Can be one of the following: NA, TEST, CONTROL.
Can you explain what these values mean?

[2017-12-06 18:11] WildYorkies opened #93 ""-Dev" or "-DEV" for app name string?"
https://developers.liveperson.com/push-service-configuration.html This doc has "-Dev"

https://developers.liveperson.com/consumer-experience-ios-sdk-pushnotifications.html#configuring-push-notifications This doc has "-DEV"

Does this difference matter?

[2017-12-06 18:31] dvillacis94 commented on #93
It needs to be -Dev, the service is case sensitive. Where are working on unifying the documentation regarding this matter.

[2017-12-06 18:55] scottwestover opened #94 "Issue calling App Engagement API"
When I try to create a session with the App Engagement API, I will occasionally get back a status code of: 500 Internal Server error, and the message mentions that it is loading the account.

Here is the Body that I am getting back in Postman:
[code]

What does this error actually mean, and is there something I need to change in my request to not get this error?

For reference, this is the URL I a

[2017-12-06 19:06] scottwestover opened #95 "Required vs Optional Body Parameters For Server Chat API"
The documentation for the Server Chat API does not list what parameters are required vs what parameters are optional for each of the methods.

![2017-12-06_1403](https://user-images.githubusercontent.com/9931822/33680014-508b2868-da8e-11e7-96c1-60b61cf99b00.png)

Example page: https://developers.liveperson.com/consumer-experience-server-chat-start-chat.html

This makes it very hard to query the AP

[2017-12-06 19:20] scottwestover opened #96 "Body parameters for Server Chat API - Start Chat Method are unclear"
The Body parameters that are listed for the Start Chat method of the Server Chat API, do not align with the parameters that are used in the Request Body Example.

The example Request Body uses the following parameters: LETagVisitorId, LETagSessionId, and LETagContextId, however, none of these are listed in the Body parameters table that is above it.

Here is the example request body that is shown:

[2017-12-06 20:57] #94 closed

[2017-12-06 21:24] scottwestover commented on #94
Answer was in the documentation. For sites with lower volume, this is an expected response, and you have to call the API after waiting a bit.

[2017-12-06 21:37] scottwestover opened #97 "Issue calling Start Chat method of Server Chat API"
I am trying to call the start chat method of the Server Chat API in Postman, but I keep getting a 401 Unauthorized status, and the following error message:
[code]

I looked through the documentation, but could not find a list of error codes for this API call, and I could not find any reference to captcha being used in this API.

https://developers.liveperson.com/consumer-experience-server-chat-sta

[2017-12-07 08:53] EdenKupe commented on #93
Hey,

I've fixed this specific instance of this mistake. @dvillacis94 , let me know if you guys find any more issues as you work to unify the documents around this specific issue.

Thanks!

[2017-12-07 10:12] EdenKupe commented on #95
Hey Scott,

We're aware of these issues. However, Udi Dagan who should take care of it is currently at capacity. Could you please report this issue to Support so that they can open a bug and assign it to DevSupport? They can then see how/when they can get this resolved.

Thanks!

[2017-12-07 10:13] EdenKupe commented on #96
Same as Issue #95

[2017-12-07 10:13] EdenKupe commented on #97
Same as Issue #95

[2017-12-07 14:06] scottwestover commented on #97
The issue was tied to an account config setting that was enabled on the account. Once the "Common.Unified_window_captcha" feature was turned off, the API worked correctly.

[2017-12-07 14:06] #97 closed

[2017-12-07 14:07] scottwestover commented on #95
@EdenKupe Thanks for the quick response. I will do that.

[2017-12-07 19:43] rightautoglass opened #98 "Watson API Configuration Issues"
I need help getting my watson conversation bot setup. Customer support is telling me I need to submit a ticket here.

[2017-12-08 22:25] donmanguno commented on #98
Hi @rightautoglass, can you explain what exactly you need help with?

[2017-12-08 22:27] #95 closed

[2017-12-08 22:27] #96 closed

[2017-12-08 22:27] donmanguno commented on #93
I'm closing this issue @WildYorkies

[2017-12-08 22:27] #93 closed

[2017-12-08 23:02] donmanguno commented on #84
@nirav124u I'm going to close this case now due to lack of activity.

[2017-12-08 23:02] #84 closed

[2017-12-08 23:02] donmanguno commented on #89
Hi @prebelo did Scott's suggestion help?

[2017-12-10 14:18] EdenKupe commented on #88
Hey @kiranpotladurthi

Thanks for your patience. I have not forgotten your issue; I am chasing down the relevant people in our R&D departments to try and figure out what these parameters mean. I will hopefully know more tomorrow and will keep you updated.

Thanks again.

[2017-12-12 22:43] orenkatz commented on #92
@rplankenhorn as @donmanguno mentioned, below is the logic for pod files:
'> 0.1' Any version higher than 0.1
'>= 0.1' Version 0.1 and any higher version
'< 0.1' Any version lower than 0.1
'<= 0.1' Version 0.1 and any lower version
In addition to the logic operators CocoaPods has an optimistic operator ~>:

'~> 0.1.2' Version 0.1.2 and the versions up to 0.2, not including 0.2 and higher
'~> 0.1'

[2017-12-12 22:44] orenkatz commented on #91
@rplankenhorn Yes, 2.8.4.5.1297-xcode91 is a supported version

[2017-12-12 22:53] orenkatz commented on #79
Hey @SanilDas , did @dvillacis94 suggestion resolved your issue?

[2017-12-13 13:47] EdenKupe commented on #88
Ok, got an answer!

NA = Visitor wasn't in the control group or not because no control group was set. This is the default mode, when you have not used the control group feature.

TEST = Visitor received the engagement even though a control group was set. If you set a control group at 10% of visitors, 90% of them will receive TEST since they'll see the engagement.

CONTROL = visitor did not receive

[2017-12-13 17:49] WildYorkies opened #99 "[JS Chat API] Closing a chat that got an error request (because the agent/skill went offline) before starting a new one"
I am trying to follow the engineering recommendations about closing a chat that got an error request (because the agent/skill went offline) before starting a new one. Here is the situation:

- I changed our code so when we restart a chat, we call .endChat() on our previous chat (this chat got an error response from LivePerson)
- I save this .endChat() call and throw an alert if it brings and error

[2017-12-13 22:08] orenkatz commented on #99
Hey @WildYorkies
@donmanguno already started to work on it offline and will sync with you outside Github.
Closing this issue here.

[2017-12-13 22:08] #99 closed

[2017-12-14 21:21] kstrickland09 opened #101 "Typo in method header"
The header for the method getConversationFragment is misspelled as "getConversationFrgament".

[2017-12-15 02:33] mayukanki opened #102 "Chat Agent API: Accept a chat"
https://developers.liveperson.com/agent-accept-chat.html

Document says 'No body parameters should be posted.' but body parameters require {"chat": "start"}.

I received the error if I don't include  {"chat": "start"}.
{"error":{"time":"2017-12-11T22:18:59.205-05:00","message":"request body does not contain a valid JSON statement!","internalCode":5}}

[2017-12-15 02:48] mayukanki opened #103 "Messaging Interactions API"
When will all data be available?
With Engagement History API, it's 2 hours. Is this the same for Messaging Interaction API?

[2017-12-15 17:59] donmanguno commented on #101
pull request with correction has been submitted

[2017-12-15 17:59] #101 closed

[2017-12-15 19:47] kstrickland09 opened #104 "Retrieving engagementInfo.agentNote"
Is there a way to retrieve the agentNote via API?

[2017-12-17 09:33] EdenKupe commented on #103
Hey @mayukanki

Can you please clarify? Are you trying to find out how long before an interaction appears on the Messaging Interaction API?

[2017-12-17 23:34] mayukanki commented on #103
Hi @EdenKupe, yes I'm looking for the statement like below for Messaging Interaction API.

Engagement History API
https://developers.liveperson.com/data-engagement-history-overview.html
------------------------------
Brands can now search, filter and keep copies of chat transcripts and related data, for example surveys, to later integrate and further analyze their data with third-party tools (DWH,

[2017-12-18 11:47] gyfis opened #105 "Unable to resolve "util/EventsUtil" when using the Javascript SDK in React Native"
I'm trying to use the LivePerson Javascript SDK provided as a minified .js file (`lpChat.min.js`) in a react native project. However, on require, the whole app crashes with the error of not being able to find `util/EventsUtil`. I'm not familiar with such package, is it a code I should download from somewhere else and include in the respective folder?

[2017-12-18 15:12] dvillacis94 commented on #105
Which SDK are you using? are you referring to the Javascript Chat SDK?

[2017-12-18 17:01] donmanguno commented on #79
I am closing this issue as there has been no response since David's recommendation.

[2017-12-18 17:01] #79 closed

[2017-12-18 17:03] donmanguno commented on #88
Hi @kiranpotladurthi did Eden's answer help? Do you have any further questions?

[2017-12-18 17:07] donmanguno commented on #90
Closing issue. This works in pod '2.8.4.5.1297-xcode91' and React is not currently officially supported in the 2.9.x versions.

[2017-12-18 17:07] #90 closed

[2017-12-18 17:08] donmanguno commented on #91
Closing issue. See Oren's final comment.

[2017-12-18 17:08] #91 closed

[2017-12-18 17:08] donmanguno commented on #92
Closing this issue as resolved.

[2017-12-18 17:08] #92 closed

[2017-12-18 19:30] donmanguno commented on #102
Closing this issue. Documentation will be updated as necessary.

[2017-12-18 19:30] #102 closed

[2017-12-19 05:16] kiranpotladurthi commented on #88
Hi
We are unable to check this as it requires an agreement to use this API (Beta agreement).  Once we get access to it, we will check and update you.
Also, we need Player Visit information for whom push chat (proactive chat) was not triggered due to agent not available at that time.  Can you let us know how to get this information?

[2017-12-19 16:23] gyfis commented on #105
@dvillacis94 Yes. After I posted the issue I read that the SDK should be used only on web, I've also seen the `window` references in the .js file, so we fell back to the Server Chat API. Closing this issue.

[2017-12-19 16:23] #105 closed

[2017-12-19 18:13] donmanguno commented on #88
Hi @kiranpotladurthi.

The Visit Information API can be used to retrieve data even about visitors who have not been invited to chat. You will need to know their visitorId and sessionId, and you will need to build your own mechanism for retrieving these IDs for all of your visitors (they are available in cookies), but if you have these IDs you can use the Visit Information API with them.

https://d

[2017-12-19 18:13] #88 closed

[2017-12-19 18:13] donmanguno commented on #98
Hi @rightautoglass, since I haven't heard from you for 12 days I'm going to close this issue now.

[2017-12-19 18:13] #98 closed

[2017-12-19 18:28] donmanguno commented on #104
Hi @kstrickland09, I have reached out to the owners of the Chat Agent API for an answer on this.

[2017-12-20 13:33] lp-wodell opened #106 "Available Slots - error in URL"
https://developers.liveperson.com/agent-retrieve-available-slots.html

It was "available-Slots" in the URL, but it should be "availableSlots" (i.e. there is no hyphen).

Will

[2017-12-20 17:58] donmanguno commented on #106
Hi @lp-wodell. There is actually no hyphen in the document (which you can see if you copy-paste the URL): a CSS stylesheet included on this page is inserting it.  We'll get that fixed.

[2017-12-20 17:58] #106 closed

[2017-12-20 19:14] LPoehlmann opened #107 "LivePerson Chat Callback"
My client is using chat, but needs to add padding around the button so that it doesn't run into a sticky footer they are using.SO they are doing it on the back end. The chat uses element styling for its positioning, so the developer can't use CSS to position it. Using his own JS to style chat has drawbacks in that he has to make sure his JS fires at the right time. Is there a callback that fires o

[2017-12-20 22:31] donmanguno commented on #107
Yes, you can do this using the LE Tag's Events API: https://developers.liveperson.com/lp-tag-engagement.html

[2017-12-20 22:31] #107 closed

[2017-12-21 07:30] mayukanki opened #108 "How to delete "・・・" and "Mark as Urgent" option"
I cannot find document that describe:
1. how to delete dots (three dots on right top corner)
2. how to delete 'mark as urgent'
3. how to delete 'clear history'
4. how to delete 'mark as resolved'
![screen shot 2017-12-21 at 15 12 23](https://user-images.githubusercontent.com/34560443/34245213-426656c4-e66c-11e7-82bd-1b0bb60ab30f.png)

![screen shot 2017-12-21 at 15 12 31](https://user-images.githu

[2017-12-21 09:04] EdenKupe commented on #108
Hey,

Please approach the mobile team directly with this. You can email Itay Sagiv, he's the Product Manager of this. In general, this issues section is for specific problems and questions on the documentation, not general questions :)

[2017-12-21 09:04] #108 closed

[2017-12-21 13:39] EdenKupe commented on #103
From Lital:

The messaging interactions API expose data for the last 13 months. Authenticated engagement attributes data is available for display in near realtime. The ability to search on this data is  available only after two hours from the time the data is sent.

[2017-12-28 06:39] abhishghosh opened #110 "Android Sdk Integration Issue"
I have integrated the android LiveEngage sdk to my app. I followed the docs but after init on opening opening the chat activity it is giving error. Please find the logs

12-21 04:33:12.916 8528-8588/com.jcp.aghosh2.testlivechat E/Liveperson *ConnectionStateMachine_ConnectingState*: Connection task OPEN_SOCKET failed Open Socket - CLOSED.

my acc id : 49361673.

[2018-01-02 15:27] shaymLP commented on #110
Hey,
Which SDK Version are you trying to implement?
Please make sure you follow our step by step guide -
https://developers.liveperson.com/android-implementation-guide.html

[2018-01-02 15:52] donmanguno commented on #103
Hi @mayukanki, I'm closing this issue but if you need more clarification let me know and I can reopen it.

[2018-01-02 15:52] #103 closed

[2018-01-02 18:02] Majo-Paez opened #111 "SDK Size for iOS less than 4 MB"
A major bank in LATAM needs the SDK for iOS to be less than 4 mb and having The possibility to remove features from The SDK to be able to reduce the size even more.

[2018-01-02 18:08] donmanguno commented on #111
Hi Majo,
This would need to be handled as an Enhancement Request as it's a request for a major overhaul of the SDK. This bank can use our Messaging API to build their own messaging integration, but be forewarned that this API's documentation is currently very limited.

https://developers.liveperson.com/agent-int-api-reference.html

[2018-01-03 08:37] Avishaia commented on #78
Hey,
Gearbest went live with In-App but still having issues with the Push Notification.
Can we open the thread again so they can provide more feedback regarding their current problem?

Thanks.

[2018-01-03 09:01] EdenKupe commented on #78
Certainly, this is now reopened.

[2018-01-03 11:05] Avishaia commented on #78
Hey @josercc - please write down the current progress and error you are experiencing.

Thanks.

[2018-01-03 14:55] gyfis opened #112 "[Server Chat API] Cannot add line while not in chat"
Hi, I'm integrating the Server Chat API to our application and met an error while trying to use the "addLine/endChat" action.

The sequence of actions is this:
1. GET `Start Chat` action (successful)
2. GET `Retrieve Chat Resources, Events and Information` with the `sessionUri` from 1. (successful)
3. POST `Add Lines / End Chat` with the eventsUri from 2. (fails on `400: Cannot add line while not

[2018-01-03 16:22] donmanguno commented on #112
HI @gyfis, you are correct that the visitor cannot send messages into the chat before the chat is accepted by an agent. This is the expected behavior of the system and it cannot be changed. If you want the visitor to be able to initiate the chat having already sent some message to their future agent I suggest you use the pre-chat survey mechanism.

[2018-01-04 00:51] josercc commented on #78
@Avishaia
The process is like this
One answer above can see all of the code integration.
I used to get the test using APNS test Token phone can receive the normal
I generated the corresponding certificate and key file upload according to your document, and test added-DEV keyword.
I send a message to customer service, then hang APP.
After customer service reply, I can not receive any notification m

[2018-01-04 07:57] Avishaia commented on #78
@shaymLP @orenkatz See message from @josercc. Appreciate your assistance here.

Avishai.

[2018-01-04 08:27] shaymLP commented on #78
I don't see the 'didFinishLaunchingWithOptions' function here, please post it here too so i can review it. You can also follow this guide for extra guidance - https://www.raywenderlich.com/156966/push-notifications-tutorial-getting-started
Awaiting your response, @josercc

[2018-01-04 09:34] josercc commented on #78
@shaymLP
Why do you want to do something in didFinishLaunchingWithOptions?
Send notification you only need a push Token on it. I have already called your method when I get Token set

[2018-01-04 09:56] gyfis commented on #112
Thanks for the response @donmanguno ! Do you think polling and repeating the `Add Lines / End Chat` POST action until it passes is a valid strategy to overcome this system design decision?

[2018-01-04 10:23] shaymLP commented on #78
@josercc
In order to register for push notification you will need to add some basic code to your **didFinishLaunchingWithOptions** method like asking the user for permissions, **did you follow the guides i sent you**?

`To Register for Push Notifications on your AppDelegate.swift file, locate the method didFinishLaunchingWithOptions, and add the following code:
  // Check if iOS 10.0
  if #availab

[2018-01-04 11:02] josercc commented on #78
I am a registered notice because I can test it myself

Look this

![](http://ipicimage-1251019290.coscd.myqcloud.com/2018-01-04-110136.png)

[2018-01-04 13:24] shaymLP commented on #78
I didn't quite understand your response, i noticed you are passing your brand id as an alternate bundle id. Why? Please try to **remove it** and try again (leave it empty).
![Image of Yaktocat](https://user-images.githubusercontent.com/4713847/33000718-be484cf2-cde4-11e7-89e0-46d7d4a27bd4.png)

[2018-01-04 23:00] donmanguno commented on #112
@gyfis I suggest that instead you repeatedly poll the `Retrieve Chat Events` endpoint until you receive an event of `"@type": "state"` and `"state": "chatting"` like event 2 in the example on [this page](https://developers.liveperson.com/consumer-experience-server-chat-retrieve-chat-events.html)

[2018-01-05 01:54] josercc commented on #78
I will try again

[2018-01-05 09:21] jimbotops opened #114 "Socket without using SDK?"
I'm trying to create an in-app chat platform but I want full customisation (including sending custom buttons, dropdown boxes etc that will be handled by the native app). For this reason, I don't want to use the SDK.
The Server Chat API looks reasonably good but seems odd to have to constantly poll for things (such as if the agent is typing etc.) which could make it expensive in terms of battery li

[2018-01-05 09:23] gyfis commented on #112
Thanks for the tips @donmanguno ! I think this can be closed :)

[2018-01-05 17:01] #112 closed

[2018-01-05 18:56] donmanguno commented on #114
Hi @jimbotops. Our chat service functions only via a REST API and does not support websocket or anything comparable.

In terms of battery drain and data usage, we have [a method specifically for checking on the agent's typing status](https://developers.liveperson.com/consumer-experience-server-chat-retrieve-agent-typing-status.html) which returns a very small payload, and [our method for retrievin

[2018-01-05 18:58] donmanguno commented on #111
Hi @Majo-Paez, I am going to close this issue now. If my response failed to address your inquiry let me know and we can re-open this issue.

[2018-01-05 18:58] #111 closed

[2018-01-05 18:59] donmanguno commented on #110
Hi @abhishghosh, did the guide linked by @shaymLP help? If not, please let us know which SDK version you are working with.

[2018-01-08 19:01] donmanguno commented on #114
I think robust was the wrong word. Messaging as a product is production-ready and quite stable, it is merely the API documentation that is quite limited. The API works well--all of our own implementations of Messaging (agent-side, web, in-app) use the same websocket API that we expose to you--but the only well-documented interfaces we have for it are a Node.js SDK and a Javascript SDK.  You can se

[2018-01-08 21:56] vishakhaborse13 opened #116 "chat agent api"

[2018-01-08 21:56] #116 closed

[2018-01-09 12:32] pltlg opened #117 "chat button display issue"
Often happends that the button loads a few seconds after the page loaded. There are cases where the chat button wont appear but we see the 3sec requests in the background. Do you have any idea what causes the issue?

[2018-01-09 12:34] pltlg opened #118 "visitorId sid issue"
Where can I get the "visitorId" (path parameter) and the "sid" (query parameter)?
I found the visitorId in the agent retrieve chat resources (https://developers.liveperson.com/agent-retrieve-chat-resources.html) request (chat->info->visitorId) and a sessionId in the start agent session (https://developers.liveperson.com/agent-start-agent-session.html) but it's not working. I got this message:
{"er

[2018-01-09 12:35] pltlg opened #119 "Login as app issue"
I want to login as an application but there is no "User Type - Bot" option in API key editor page

[2018-01-09 14:43] nmichaelangelo opened #120 "Javascript API method getEngagement"
Javascript API method getEngagement does not return either  "Available" or "Not Available" status.  It takes more than 6 retries for it to return one of the above status.

[2018-01-09 14:50] nmichaelangelo commented on #120
This is what I get when it fails.  Notice the object does not have a status property.
Object { time: 1515509166652, message: "Loading account: 61847174, vid: ZmO…", internalCode: 20 }

[2018-01-09 16:38] scottwestover commented on #120
@nmichaelangelo If your account has low volume, or is a test account, this is expected behavior. It is recommended that you set the visitor id parameter in the url to the 'vid' value that is returned, and retry the API call 3 times with a 5, 10, and 15 second pause between each request.

You can read more about it here: https://developers.liveperson.com/rt-interactions-create-session.html#response

[2018-01-09 17:01] donmanguno commented on #114
@jimbotops for more information about Messaging vs Chat I suggest that you talk to your LivePerson account team if you have one, or our Sales team if you don't. I'm going to close this issue now, but if you have any more technical questions about our API's feel free to post them. Thanks.

[2018-01-09 17:01] #114 closed

[2018-01-09 17:05] donmanguno commented on #119
Hi @pltlg.   First you need to ensure that your account has the necessary features to allow bot-type users (your account team or our sales department can help you with that). Once the necessary features are in place, you will create a bot-type user in the regular user creation screen, and generate your keys there as well.

![image](https://user-images.githubusercontent.com/10452169/34733146-59919b

[2018-01-09 17:10] donmanguno commented on #117
Hi @pltlg, this question is best suited for our support department who can help you understand why the button isn't appearing on your page sometimes.  You can chat with them in the Connection Area in LiveEngage by clicking on the tab on the right side of the interface.
![image](https://user-images.githubusercontent.com/10452169/34733384-1fb2f668-f536-11e7-9538-eb6264c0a2be.png)

[2018-01-09 17:10] #117 closed

[2018-01-09 17:21] donmanguno commented on #118
Hi @pltlg, can you briefly describe what you're trying to accomplish and with which APIs?

Our requests that require a visitorId and sessionId are referring to the _Visitor's_ sessionId. The sessionId referred to in the Start Agent Session method is an Agent Session Id.

[2018-01-09 17:22] donmanguno commented on #110
Hi @abhishghosh, If you still need assistance with this please let us know, otherwise I am going to close this issue. Thanks.

[2018-01-10 09:14] jimbotops commented on #114
Thanks that was really helpful

[2018-01-10 12:09] shaymLP commented on #78
Dear @josercc, If you still need assistance with this please let us know, otherwise I am going to close this issue. Thanks.

[2018-01-10 17:26] WildYorkies opened #121 "How to implement the Messaging Window API in an Android or iOS app?"
Is there a guide for how to implement [this API ](https://developers.liveperson.com/consumer-int-overview.html
)inside of an app? Any best practices? Any tips on linking with[ the push service](https://developers.liveperson.com/push-service-overview.html)?

[2018-01-10 20:37] donmanguno commented on #121
No, we have no such guide nor best practice guidelines at this time. Also, as stated in [the push service documentation you linked](https://developers.liveperson.com/push-service-overview.html), "Note - the push service is available only for customers using the In-App Messaging SDK, for iOS or Android."

[2018-01-10 20:37] #121 closed

[2018-01-11 05:50] ivysrini opened #122 "Live Person - Data Access API Details"
Hi,

Data Access API provides the data in the raw data format.
We need the following information to build our reports. Can someone please help/provide the details how we can extract the following information from the raw data (in JSON format) we get from Data Access API in a time frame
1.  How many Visitors visited the website
2. How many Visitors are qualified for the engagements (engagement wise

[2018-01-11 07:57] josercc commented on #78
@shaymLP
Really sorry, our current focus is on project refactoring, and the ability to optimize LivePerson's offline notifications can be optimized before they can be resumed

Please close first

[2018-01-11 13:37] #78 closed

[2018-01-11 14:01] donmanguno commented on #104
Hi Kristin,

It is not currently possible to retrieve the AgentNote via API but our Product team is going to consider adding this ability to our roadmap and it may be available in the future.

[2018-01-11 14:01] #104 closed

[2018-01-11 14:03] donmanguno commented on #110
I am closing this issue due to inactivity. If you continue to have problems using the SDK please open a new issue.

[2018-01-11 14:03] #110 closed

[2018-01-11 14:04] donmanguno commented on #120
Hi @nmichaelangelo, Scott's answer is accurate so I'm going to close this issue. If you have any further problems please open a new issue. Thanks.

[2018-01-11 14:04] #120 closed

[2018-01-11 23:21] hypernics commented on #118
Additional information to the original question:
I want to fetch data with [Visit information API](https://developers.liveperson.com/rt-interactions-visit-information-visit-information.html).
Where can I get the "visitorId" (path parameter) and the "sid" (query parameter)?

[2018-01-12 21:23] orenkatz commented on #122
@ivysrini You will need to talk to your account manager about working with Data Access data.
This forum is for technical questions related to our API / SDK code/implementation, if you have a question about using the API, we will be more than happy to help.

[2018-01-15 13:44] nirlachman-liveperson commented on #33
@Rekubot currently not

[2018-01-16 14:56] Sharath-kancharla opened #123 ""submitExitSurvey" method returns 400 error"
I am getting 400 error when I submit the survey. Here is the data I am sending:
{
   "survey":{
      "id":225279, (this is the id of the survey I'm getting)
      "question":[
         {
            "id":4509431, (id of the question )
            "answer":"10"
         },
         {
            "id":4509433,
            "answer":"test!!"
         }
      ],
      "chatReferrer":"http://localhost:

[2018-01-16 19:00] donmanguno commented on #118
In order for our service to issue a visitorId/sessionId and store the visit information you're seeking you need to create a visitor session on our service, either by using the LiveEngage tag or by using one of the related API's (such as the [App Engagement API](https://developers.liveperson.com/rt-interactions-app-engagement-overview.html))  Do you have the LiveEngage tag on your website?

[2018-01-16 20:34] rplankenhorn opened #124 "3.0.0: Linking Error"
![screen shot 2018-01-16 at 2 11 43 pm](https://user-images.githubusercontent.com/228338/35010258-f2ea2ac4-fac7-11e7-9bae-b017af547619.jpg)

I am getting this build error when I try to pull in the latest version 3.0.0.17.1448 using Cocoapods.  If I had to guess, this is probably an issue with not including the simulator symbols in the SDK.

[2018-01-16 22:01] donmanguno commented on #123
Hi Sharath, please email me at mmanguno@liveperson.com with your account number.

[2018-01-16 22:02] dvillacis94 commented on #124
Hi,

Are you still integrating a React-Native project?

I've tested version 3.0.0.17.1448, on React-Native 0.51.0 and everything is working as expected.

[2018-01-16 22:03] rplankenhorn commented on #124
@dvillacis94 Yeah I am.  I was only seeing the issues when I actually called LPMessagingSDK.instance.showConversation and LPMessagingSDK.instance.reconnect.  If I comment out those calls, it builds fine.

[2018-01-16 22:06] Sharath-kancharla commented on #123
Hi Mark,
 
My account number is 43953940. Login Name: yl-test.
 
Thanks,
Sharath
 
----- Original message -----From: Mark <notifications@github.com>To: LivePersonInc/developers-community <developers-community@noreply.github.com>Cc: Sharath-kancharla <Sharath.kancharla@ibm.com>, Author <author@noreply.github.com>Subject: Re: [LivePersonInc/developers-community] "submitExitSurvey" method returns 400

[2018-01-17 06:27] komalkr commented on #49
Hi
I am also getting that Error: unexpected server response (503). i also know that my account is not enable for async_messaging feature . So , How can i run this node-sdk-agent-manger main.js code ?
i am also using 'adminlogin.liveperson.net' as my csdsDomain . and it is fetching all baseUri. should i change my csdsDomain if yes then how can i get my csdsDomain ?

[2018-01-17 21:45] Manegoldsr21 opened #125 "Chat Agent API - PCI Secure Form"
Hi,

Is it possible to use a PCI Secure Form when using the Chat Agent API? We currently have a chat bot that is built out using that API and moving forward we would like to be able to use the Secure Form for certain flows.

Please let me know if you have any suggestions on how to accomplish this or if I should be asking this question someplace else.

Thanks

[2018-01-17 21:50] #122 closed

[2018-01-18 15:50] dvillacis94 commented on #125
Hi,

if you have a User-Type Bot for your bot, then that type is unable to send PCI Secure Forms.

[2018-01-18 19:53] Manegoldsr21 commented on #125
Our user is type Bot so I had a feeling we wouldn't be able to use it. Do you know if this is something that is looking at being added?

Otherwise do you know if this is something that switching to the Watson Connector would help us get around?

[2018-01-18 20:07] donmanguno commented on #125
@Manegoldsr21 Unfortunately the Watson Connector will not enable this functionality. PCI Secure Forms go through a completely independent service in order to isolate that data in a more secure environment and provide the strict access controls that PCI compliance mandates and there is currently no way to allow a bot to interact with that service. This is being considered for addition to the produc

[2018-01-18 20:10] Manegoldsr21 commented on #125
Sounds good. Thank you for all the information.

[2018-01-18 20:36] donmanguno commented on #119
Hi @pltlg Since you haven't replied I'm going to close this issue now.

[2018-01-18 20:36] #119 closed

[2018-01-18 20:39] donmanguno commented on #125
You're welcome

[2018-01-18 20:39] #125 closed

[2018-01-18 23:01] donmanguno commented on #123
Hi @Sharath-kancharla I am still looking into this. Because you are using a Dynamic Survey it is a bit complicated, but I'll have some good information for you tomorrow.

[2018-01-19 16:28] donmanguno commented on #123
Hi @Sharath-kancharla, I was able to determine what is going wrong.

I was able to submit the following without issue:
[code]

First of all, you need to submit an answer that exactly matches one of the values in the survey you receive when you `getExitSurvey()`. Note that the value for the "10" answer is actually "10 Extremely Likely"

Also, the survey you are using is dynamic: which of the "why"

[2018-01-19 16:32] donmanguno commented on #118
Hi @hypernics and @pltlg, let me know if you still need help with this. Thanks.

[2018-01-19 17:50] Sharath-kancharla commented on #123
hi Mark,
 
Thanks for getting back to me. Is it expected behavior where I don't receive any response after it gets posted successfully ?
 
 
 
----- Original message -----From: Mark <notifications@github.com>To: LivePersonInc/developers-community <developers-community@noreply.github.com>Cc: Sharath-kancharla <Sharath.kancharla@ibm.com>, Mention <mention@noreply.github.com>Subject: Re: [LivePersonI

[2018-01-19 18:06] donmanguno commented on #123
Hi @Sharath-kancharla are you defining an `success` callback in your `submitExitSurvey`? The callback will fire when the survey is submitted successfully. It will not have any associated data, but the fact that it fires indicates that the survey was submitted successfully.
[code]

[2018-01-19 18:35] donmanguno commented on #49
For anyone having this issue:

- You need a messaging-enabled account to use this code. If you don't have one, speak to your LivePerson account team, and if you don't have one of those, speak to our Sales department.

- Do not set any value for cdsDomain unless told otherwise by someone from LivePerson

[2018-01-19 18:42] Sharath-kancharla commented on #123
Yes, I'm doing that but, was just curious if there is an associated data. I really appreciate your help. 
Thank you!
 
----- Original message -----From: Mark <notifications@github.com>To: LivePersonInc/developers-community <developers-community@noreply.github.com>Cc: Sharath-kancharla <Sharath.kancharla@ibm.com>, Mention <mention@noreply.github.com>Subject: Re: [LivePersonInc/developers-community]

[2018-01-19 18:47] donmanguno commented on #123
Happy to help. I'm closing this issue now.

[2018-01-19 18:47] #123 closed

[2018-01-19 18:59] rplankenhorn commented on #90
This issue is no longer happening in 3.0.0.

[2018-01-19 18:59] rplankenhorn commented on #91
This issue is no longer happening in 3.0.0.

[2018-01-19 19:00] rplankenhorn commented on #124
I figured out this issue.  Since the LP frameworks are over 10MB in size, we are actually splitting them for storage in Git and then joining them at compile time.  I had forgotten to create new split files so it was joining the old files.  Closing this.

[2018-01-19 19:00] #124 closed

[2018-01-19 19:16] MengjiaoZhou commented on #49
where do I check if my account is messaging-enabled? I create a developer account and login, can't find anywhere to check account property.

[2018-01-21 10:02] EdenKupe commented on #49
Hey @MengjiaoZhou!

Eden here, I manage the Developers' Community. The developer accounts are not enabled for messaging out of the box. Can you please share your account number with me so I can see if I can enable that for you?

Thanks!

[2018-01-22 04:11] lp-adevakrupakar opened #126 "Error in the documentation (Authentication)"
I think I found an error in the  documentation regarding the implicit flow and Code flow here, I was told to contact you.

It is mentioned that implicit flow expects an Oauth 2 code and JWT token for Code flow. I think it should be the other way around under the topic principles. Link:https://developers.liveperson.com/guides-authentication-introduction.html#principles

[2018-01-22 08:56] EdenKupe commented on #126
@lpbarber can you confirm?

[2018-01-22 18:42] donmanguno commented on #118
Closing issue due to lack of response. If your problems persist this can be re-opened.

[2018-01-22 18:42] #118 closed

[2018-01-22 23:12] zuznow opened #127 "Websocket 503 response"
Trying the sample https://github.com/LivePersonInc/node-agent-sdk/blob/master/examples/greeting-bot.js

We get 503 when trying the open the WebSocket

[2018-01-23 19:24] scottwestover commented on #127
Hi @zuznow,
Do you know if your account has Messaging enabled? If it isn't, then the 503 is an expected response.

Reference: #49

[2018-01-24 18:20] jhayes411 opened #128 "Messaging API - Conversation Metadata : does it supply more that just conversation "closed"?"
Hi Support,
We have Samsung US using the messaging API and looking to see if there is more detailed data passed back on the close of a conversation?  They would like to see what type of close its was :
- Visitor close
-Agent close
- AutoClose
They need that info on their end to then tell their Bot what to do (send a survey, or not etc...)
Is the above data available to be returned to them on close

[2018-01-25 09:32] ivysrini opened #129 "Data Access API - Downloading the files"
Hi,

We have got the access to the Data Access API and getting the web session files as below
        "file": [
            {
                "@name": "WebSession.1516784400000.1516788000000.part-00044-0.gz",
                "@scopeStartDate": "2018-01-24T04:00:00-05:00",
                "@scopeEndDate": "2018-01-24T05:00:00-05:00",
                "@href": "https://lo.da.liveperson.net/data_acces

[2018-01-25 21:10] donmanguno commented on #129
Hi,

I am able to access the specific file in question using the Data Access API and using your key/secret/token/tokenSecret combination.  You can see my successful postman request below:
[code]

[2018-01-26 13:51] jhayes411 commented on #128
Any update on this?

[2018-01-26 22:33] gyfis opened #130 "Exposing underlining Messaging API from SDK"
Hi, I was wondering if it would be possible to expose the API used by the iOS and Android SDK for Messaging. In that way, one wouldn't have to be restricted to use the SDKs on the specific platforms and could instead write their own solution or even new SDKs for different platforms (react native is the one I have in mind).

Thanks for any info!

[2018-01-26 22:50] donmanguno commented on #130
Currently the API has incredibly sparse documentation. More extensive documentation for leveraging the API directly is planned, but I can provide no ETA at this time.

[2018-01-26 22:50] #130 closed

[2018-01-26 22:50] donmanguno commented on #129
Hi @ivysrini did this help?

[2018-01-26 22:53] donmanguno commented on #128
When a conversation is closed and you receive an ExConversationChangeNotification the payload will contain a `closeReason`, as in the example below:

[code]

[2018-01-27 09:05] gyfis commented on #130
Hi @donmanguno , as far as I can see the documentation you provided is for the agent side of things. I'd be more interested in the client/visitor side of things, which is now done by the iOS Messaging SDK ( https://developers.liveperson.com/consumer-experience-ios-sdk-overview.html ). We don't want to replicate the liveperson agent dashboard, we (probably) want to create a new SDK for visitors usi

[2018-01-27 16:57] jhayes411 commented on #128
Perfect! Just what we needed, thnx

[2018-01-27 16:57] #128 closed

[2018-01-28 11:33] lpbarber commented on #49
Hi @MengjiaoZhou!
I have activated Messaging on your account.

[2018-01-28 11:33] #49 closed

[2018-01-29 12:13] nmichaelangelo commented on #120
Is it even a good practice to extract vid from a string message?
What happens if some developer at Liveperson decides to change this message string?

{time: 1517227502864, message: "Loading account: 61847174, vid: Q3YzdjMThkNTlkZjk2NDZm", internalCode: 20}

[2018-01-29 15:42] dvillacis94 commented on #126
@lpbarber can you confirm Eden?

[2018-01-29 15:43] dvillacis94 commented on #127
@zuznow can you confirm your account has Messaging enabled?

[2018-01-29 15:56] zuznow commented on #127
Messaging was enabled (we do see a bot user, is this enough?) but we still get 503

[2018-01-29 16:02] dvillacis94 commented on #127
@zuznow you could refer to this [documentation](https://github.com/donmanguno/node-agent-sdk)
under getting started you'll see the pre-requisites needed for your account.

[2018-01-29 16:10] lpbarber commented on #126
Correct.
It should be the other way around:
an OAuth 2.0 code (for Code Flow) or a JWT token (for Implicit Flow).
@dvillacis94 Thank you!

[2018-01-29 16:26] zuznow commented on #127
Messaging was enabled, so this works now. Do you know how to make the sample work on Heroku? We need to configure the binding port

[2018-01-29 16:33] dvillacis94 commented on #126
We're making the change on the documentation, I'm closing this.

[2018-01-29 16:33] #126 closed

[2018-01-29 17:23] WildYorkies opened #131 "There is no EH API response example that shows the Survey Data structure"
The Survey Data is listed at the very bottom of this page in a template, but it's very general and not useful for developers that need to know what data is included and what the structure is. For example, is Survey ID included in the Survey objects? What about Survey Question ID?

https://developers.liveperson.com/data-engagement-history-methods.html

Can you also link to the Response data on the

[2018-01-29 22:24] donmanguno commented on #127
Hi @zuznow.  Heroku requires binding a port for applications that accept incoming network requests, but the Node Agent SDK does not expect or accept any incoming connections. It establishes a single outgoing websocket connection for all communication with our service. As such you need to run the process as a `worker` rather than a `web` process.  To do so add a `Procfile` specifying process type `

[2018-01-29 22:24] #127 closed

[2018-01-30 01:10] zuznow commented on #127
Thanks, now it runs fine, however, could not get my bot to answer a chat request. Tried with the 2 samples, but none of them picks up any conversation. I have the skill "bot" for the live chat windows, and for the bot user. What am I missing?

[2018-01-30 13:51] gyfis opened #132 "Chat session not found."
I'm using the Server Chat API.

I start the chat, there is a conversation. After some time, the chat ends and I keep the reference (session url). But if I want to access the chat events again, I get a server response 404: "Chat session not found, internal code: 12".

When asking about chat deleting previously, I got a response from the live person support that the chats are retained for 11 months.

[2018-01-30 16:45] donmanguno commented on #127
Hi @zuznow.  Since your engagement is tied to a skill that tells me that you are probably using a "Live Chat" engagement rather than a "Messaging" one. Try creating a "Messaging" engagement.

![image](https://user-images.githubusercontent.com/10452169/35578650-bb4ef3f6-05b2-11e8-84fb-5e36f0d85dce.png)

Additionally, to ensure that your bot accepts incoming conversations make sure that the bot user

[2018-01-30 17:58] zuznow commented on #127
Thanks for the feedback!

To create a messaging conversation I need an authentication server... also your document says to create a live chat...

Tried to add the agent manager to the greeting bot, nothing change.

I don't see any calls for ExConversationChangeNotification, add debug log and I got only one, when the code start, nothing comes later...

2018-01-30T17:54:37.686979+00:00 app[worker.1]

[2018-01-30 18:08] paularevalo opened #133 "Unable to add LPMessagingSDK as CocoaPods dependency."
[!] Unable to find a specification for `LPMessagingSDK`

[2018-01-30 18:15] dvillacis94 commented on #133
Hi @paularevalo,

Did you add the source `source 'https://github.com/LivePersonInc/iOSPodSpecs.git'`?

[2018-01-30 18:16] donmanguno commented on #127
@zuznow

Where in the documentation do you see mention of Live Chat? I'll fix that to prevent future misunderstandings.

Yes, our Messaging product requires authentication of some sort (this is the only way to ensure that when your consumers resume their asynchronous conversations later we can present the user with the correct conversation history securely).

You can quickly conduct a messaging co

[2018-01-30 18:59] paularevalo commented on #133
Problem solve ! Tks !

[2018-01-30 18:59] #133 closed

[2018-01-30 19:58] donmanguno commented on #132
@gyfis This is not a limitation, it is the expected behavior of this particular API: it interacts directly with the chat service, which is not where we store historical data. The LiveEngage UI uses the [Engagement History API](https://developers.liveperson.com/data-engagement-history-overview.html) to present past chats' information.

[2018-01-30 19:58] #132 closed

[2018-01-30 20:09] gyfis commented on #132
@donmanguno Hi Mark. I see the API, thanks! I don't see a way of querying a chat based on its session ID - should I extract the "chatID" (the last part of the session URL) and use that as an engagement ID?

[2018-01-30 20:25] donmanguno commented on #131
@EdenKupe Let's replace the example on this page with one that includes survey data.
@WildYorkies better formatting and navigation is coming soon.

[2018-01-30 20:34] donmanguno commented on #132
@gyfis Try using the `engagementId` body parameter in your Engagement History API request.  The value you should pass can be generated by concatenating your `accountId` and the `rtSessionId` you should have received in your [Server Chat API responses](https://developers.liveperson.com/consumer-experience-server-chat-retrieve-chat-information.html#response).

In other words, if your account is 7274

[2018-02-01 09:02] EdenKupe commented on #131
Let's not close this one yet so I can get that example replaced. @litalh can you please review with your team and add an example which includes survey data?

[2018-02-01 17:32] refnandor opened #134 "iOS visitors appear like Chrome/Desktop visitors"
Hi we found an issue on the account 85237869
The problem is on the iOS client:
SDK 2.9.4

![image](https://user-images.githubusercontent.com/32464396/35693246-2f70b0c6-0743-11e8-81c5-9626ed2040bc.png)

![image](https://user-images.githubusercontent.com/32464396/35693251-35d9731c-0743-11e8-98d9-c56d3847066f.png)

It is not present on the Android SDK:
![image](https://user-images.githubusercontent.c

[2018-02-01 22:08] dvillacis94 commented on #134
- Do you have the specifics of the Device, like OS Version, iPhone Version?
- Is this happening to only one device, are multiple devices affected by this?

[2018-02-02 09:26] KGandhimadinathan-BSFT opened #135 "Android LiveEngage Enterprise In-App Messenger SDK (v2.9 ) - Integration issue CompileSDKversion/BuildToolsVersion as "23"""
Sample Application provided in SDK contains CompileSDKVersion/buildToolsVersion as "26". In document, as it mentioned to set minimum Version as 23. We tried to integrate with the latest library. Its not building with those configuration. We need to set compileSDKVersion as "25" to build successfully. Please let me know the way to integrate in version 23.

[2018-02-02 09:28] KGandhimadinathan-BSFT commented on #135
Reference link for the document : https://developers.liveperson.com/android-quickstart.html#step-1-download-and-unzip-the-sdk

[2018-02-02 18:36] refnandor commented on #134
It is happening in all the iOS devices

Regards

On Thu, Feb 1, 2018 at 4:08 PM, David Villacis <notifications@github.com>
wrote:

--
*Fernando Ramirez*
O. +525557220252
M. +5215536472920

--
This message may contain confidential and/or privileged information.
If you are not the addressee or authorized to receive this on behalf of the
addressee you must not use, copy, disclose or take action based

[2018-02-02 23:24] strin opened #136 "Access Engagement History for More than 13 Months"
According to LivePerson account,

[code]

Does it mean the data is deleted after 13 months? Or the data is still persistent, just not available?

[2018-02-04 08:49] EdenKupe commented on #136
Hey!

After 13 months, the data is deleted from our servers. It's not locked away or non available, it gets removed.

[2018-02-06 02:52] bramley-turner-stride opened #137 "Android SDK: ClassNotFoundException in call to handlePushMessage"
I have raised this on the Android-Messaging-SDK issue page earlier (https://github.com/LP-Messaging/Android-Messaging-SDK/issues/44), but was advised it should be raised here instead

I get a ClassNotFoundException with
`Didn't find class "android.support.v7.app.NotificationCompat$Builder"`
After a call to LivePerson.handlePushMessage.

The v7 NotificationCompat was deprecated in r26 and removed f

[2018-02-06 02:55] bramley-turner-stride opened #138 "Android SDK: Roadmap to support newer Android versions (eg Notification Channels)"
I have raised this on the Android-Messaging-SDK issue page earlier (https://github.com/LP-Messaging/Android-Messaging-SDK/issues/49), but was advised it should be raised here instead.

The Play Store will require new/updated apps to target Android 8.0 API 26 from August/November 2018 respectively (see https://android-developers.googleblog.com/2017/12/improving-app-security-and-performance.html )

[2018-02-06 02:59] dvillacis94 commented on #137
Can you share the dependency you're using as you're probably no using `implementation 'com.android.support:appcompat-v7:26.1.0'` and the App Gradle so we can dig further into that.

[2018-02-06 03:05] dvillacis94 commented on #138
HI @bramley-turner-stride,

You can always set the LivePerson.handlePushMessage(this, remoteMessage.getData(),Account, false) show notification flag to false, and create your own Notification:
`
   // Check OS Version
    if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.O) {
      Log.d("NotificationUI::", "Oreo");
      // Will Create new Notification Channel
      createNotificationChannel(ctx);

[2018-02-06 03:08] bramley-turner-stride commented on #137
I'm using 27.0.2

[2018-02-06 03:14] dvillacis94 commented on #137
I'm setting targetSdkVersion 27 and :

[code]

I'm able to display the notification correctly.

[2018-02-06 03:15] bramley-turner-stride commented on #138
Yes, I know I can do that, and draw the notifications myself. I wanted to know how and when you plan to add this in the future. For example, if you plan to define notification channels yourself within your library, or allow developers to create them ourselves and tell the library which one(s) to use (personally I'd prefer the latter, seems more flexible)

[2018-02-06 03:26] bramley-turner-stride commented on #137
Not sure how that works for you, that's in your app gradle (not sdk gradle)? I use compile rather than implementation...

The problem is simple: the class the SDK is relying on (`android.support.v7.app.NotificationCompat`) was deprecated in r26 and removed entirely from the support library in r27. You can only have one version of the support lib in an app. Anyone wanting to use r27 in their app wi

[2018-02-06 06:29] tameshwari opened #139 "Crash issue in LPMessagingSDK iOS"
I have integrated LPMessagingSDK in my iOS application. When I start chat for the first time. It works as expected. But If I kill the application and relaunch it again. It is crashing with below crash log.

Please help me out.

Crashed: SQLQueue 0x10675e690 for Consumer.sqlite
0  (Missing)                      0x104e1af48 (Missing)
1  (Missing)                      0x104e1a71c (Missing)
2  (Missin

[2018-02-06 06:33] dvillacis94 commented on #139
Hi @tameshwari,

Which version of the SDK are you using?

Are you handling the SDK on the AppDelegate? Could you share those lines?

[2018-02-06 06:37] tameshwari commented on #139
Hi,

I am using LPMessagingSDK 2.8.0.  I have proper setup in Appdelegate file.
I am facing this issue only If I try to relaunch my application.

[2018-02-06 06:54] tameshwari commented on #139
Hi @dvillacis94,

Is there any issue related to APNS certificate ?
Previously It was working as expected. Only after changing APNS certificate, I am facing this issue.

[2018-02-06 20:19] refnandor commented on #134
Hi.

Something new about this?

[2018-02-06 20:23] refnandor opened #140 "Real time Data Masking iOS/Android - Messaging"
Hi
Android sdk: 2.7.0
iOS SDK: 2.9.4

We have followed those instructions for Android and for iOS.

At least in android we saw something masked (and "asdf· example) but we need some help on the regex, our proposal isn't working:
<img width="1280" alt="captura de pantalla 2018-02-06 a la s 14 20 39" src="https://user-images.githubusercontent.com/32464396/35882194-f5de797e-0b48-11e8-84fb-3a76b765de5

[2018-02-06 21:44] donmanguno commented on #134
Hi @refnandor we have identified this as a bug and our R&D team are working to resolve it.

[2018-02-06 21:44] #134 closed

[2018-02-06 21:45] donmanguno commented on #129
I am closing this issue due to lack of response

[2018-02-06 21:45] #129 closed

[2018-02-06 21:45] donmanguno commented on #131
Hi @EdenKupe and @litalh any progress with this?

[2018-02-06 22:17] donmanguno commented on #136
I am closing this issue now

[2018-02-06 22:17] #136 closed

[2018-02-07 05:48] tameshwari opened #141 "not found object "csatResolutionFeedbackText" in LPConfig in latest LPMessaging SDK version "3.0.0.17""
I have upgraded LPMessaging SDK to version "3.0.0.17".  I am facing this issue.
Please help me out.

[2018-02-07 06:19] dvillacis94 commented on #141
Hi @tameshwari,

In 3.0.0.17, that attribute is not available on the LPConfig, as that is now a String Localization as shown in the [Documentation](https://developers.liveperson.com/consumer-experience-ios-sdk-localizationkeys.html)

[2018-02-07 06:19] #141 closed

[2018-02-07 06:29] dvillacis94 commented on #140
Hi @refnandor,

What are you trying to achieve with this REGEX?

[2018-02-07 09:21] EdenKupe commented on #131
I'll sync with Lital on this today.

[2018-02-07 15:19] shaymLP commented on #139
Hi @tameshwari, did you performed any downgrade to Liveperson SDK?
Please make sure you follow our step by step guide while using push notifications:
https://developers.liveperson.com/consumer-experience-ios-sdk-sampleapp.html

[2018-02-07 15:27] shaymLP commented on #138
@bramley-turner-stride, Though we don't have an exact date, We do intent to support Android O and adding Notification Channel support to our SDK in the near future.

[2018-02-07 16:44] refnandor commented on #140
We want to mask some credit cards numbers(16 digits), cvv(3 digits), phone numbers (8 digits). First of all we want to know where do we need to modify or enable the data masking on the iOS?

Regards

[2018-02-07 23:24] donmanguno commented on #131
Documentation updated

[2018-02-07 23:24] #131 closed

[2018-02-07 23:46] donmanguno commented on #140
Hi @refnandor I'm looking into this and will provide an update tomorrow

[2018-02-08 00:17] refnandor commented on #140
Many thanks!, we will keep an eye on this.

[2018-02-08 11:16] PiotrLemanczyk opened #142 "What is RTL in structured content templates"
I want to use https://developers.liveperson.com/structured-content-templates.html

but i couldn't find any information on what the "rtl" parameter is?

[2018-02-08 13:44] donmanguno commented on #142
Text direction Right-to-left for languages like Arabic, Hebrew, Urdu

On Feb 8, 2018 06:16, "PiotrLemanczyk" <notifications@github.com> wrote:

--
This message may contain confidential and/or privileged information.
If you are not the addressee or authorized to receive this on behalf of the
addressee you must not use, copy, disclose or take action based on this
message or any information herein.
I

[2018-02-08 13:45] donmanguno commented on #142
Text direction Right-to-Left for such languages as Arabic, Hebrew, Urdu, etc

[2018-02-08 13:45] #142 closed

[2018-02-08 16:59] donmanguno commented on #140
Hi @refnandor,

I am able to use data masking in Android without issue, but I have several observations to make:

1. The regexes you provided are comma-separated lists of regexes. We do not support this. You must combine them into a single regular expression.
2. Your regexes are enclosed with "/" characters and end with the /g flag. This is not necessary; we will apply the regular expression globa

[2018-02-08 17:29] donmanguno commented on #140
iOS Data Masking should be configured as a configuration attribute as described [here](https://developers.liveperson.com/consumer-experience-ios-sdk-configuring-the-sdk.html)

![image](https://user-images.githubusercontent.com/10452169/35988129-a0916bdc-0ccb-11e8-9db4-f5cd8ab853b5.png)

[2018-02-08 17:29] #140 closed

[2018-02-08 18:11] refnandor commented on #140
Thank you Mark

We will check it now.

Regards

On Thu, Feb 8, 2018 at 11:29 AM, Mark <notifications@github.com> wrote:

--
*Fernando Ramirez*
O. +525557220252
M. +5215536472920

--
This message may contain confidential and/or privileged information.
If you are not the addressee or authorized to receive this on behalf of the
addressee you must not use, copy, disclose or take action based on this
m

[2018-02-08 20:02] refnandor commented on #140
Hi, do you have any test page for the ios?

((^((\d{3})|(\d-\d-\d))$)|(^(\d{2}(/)\d{2})|(\d{2}(-)\d{2})|(\d{2}[ ]\d{2})$)|^((\d{16})|(\d{8}(-)\d{8})|(\d{4}(-)\d{4}(-)\d{4}(-)\d{4})|(\d{4}[ ]\d{4}[ ]\d{4}[ ]\d{4})$)|(^(\d{4})$)|^(([a-z0-9\-_\.]{1,30}(@)[a-zA-Z]{1,30}(\.[a-z]{2,4}))|(([a-z0-9\-_\.]{1,30}(@)[a-zA-Z]{1,30}(\.[a-z]{2,4})(\.[a-z]{2,4})))$)|(^((\d{2,5}[-\.]\d{2}[-\.]\d{2}[-\.]\d{2}[-.]\d

[2018-02-09 09:41] ssamaga3 opened #143 "Agent Metrics API - Agent Status and Summary : 400 BAD Request"
Hi Team,

We are successful in getting the DOMAIN from calling the API  'LivePerson Domain API ' through a GET call.

We are passing the Base URI received from the above API response as Domain and the appropriate Account ID as parameters to the Agent Status and Summary methods.
Here comes the problem. The response that we receive is 400 Bad Request.
Attaching the response captured. Please have a l

[2018-02-09 18:59] refnandor commented on #140
Hi Mark.

Hi, do you have any test page for the ios?

((^((\d{3})|(\d-\d-\d))$)|(^(\d{2}(/)\d{2})|(\d{2}(-)\d{2})|(\d{2}[
]\d{2})$)|^((\d{16})|(\d{8}(-)\d{8})|(\d{4}(-)\d{4}(-)\d{4}(-)\d{4})|(\d{4}[
]\d{4}[ ]\d{4}[ ]\d{4})$)|(^(\d{4})$)|^(([a-z0-9-
*.]{1,30}(@)[a-zA-Z]{1,30}(.[a-z]{2,4}))|(([a-z0-9-*
.]{1,30}(@)[a-zA-Z]{1,30}(.[a-z]{2,4})(.[a-z]{2,4})))$)|(^((\d{2,5}[-.]\d{2}[-.]\d{2}[-.]\d{2}[-.]

[2018-02-09 19:30] donmanguno commented on #140
Hi @refnandor.

Swift uses PCRE regex, which is supported by my favorite regex tester: [debuggex](https://www.debuggex.com/)

**DISCLAIMER:** as with the other tool I linked above, this tool is not a LivePerson product. We make no guarantees about it.

Make sure to change the regex flavor to PCRE.
![image](https://user-images.githubusercontent.com/10452169/36046049-b40cbe20-0da5-11e8-857a-ad5a1727

[2018-02-09 19:32] donmanguno commented on #143
Please also provide the request details, including the path and all headers.

[2018-02-12 10:10] shaymLP commented on #135
Hi @KGandhimadinathan-BSFT,
I wasn't able to replicate the issues you are having.. Can you please post a pic of the issues you are getting?
You can use [this Gradle file](https://docs.google.com/document/d/1eU9MmR2ZyxkZmWkRk3Vz2xQ6KMk5im9VKUxPTa3sZ9U/edit?usp=sharing) for example of how to run LPSDK29 on Android SDK 23

[2018-02-12 10:19] shaymLP commented on #138
@bramley-turner-stride, As this was answered 5 days ago - This issue will be closed. Do not hesitate to open a new issue if you have any further questions.

[2018-02-12 10:19] #138 closed

[2018-02-12 10:20] shaymLP commented on #139
@tameshwari, As this was answered 5 days ago - This issue will be closed. Do not hesitate to open a new issue if you have any further questions.

[2018-02-12 10:20] #139 closed

[2018-02-12 10:35] shaymLP commented on #137
@bramley-turner-stride, which LP Android SDK version are you using?

[2018-02-12 14:24] AOprawko opened #144 "Incorrect redirect_uri"
The redirect_uri sent by LP is not https://www.liveperson.com/ as described here https://developers.liveperson.com/guides-authentication-majorcomponents.html and here https://developers.liveperson.com/guides-authentication-detailedapi.html#openid-connect-provider-op-development-details but it actually is https://liveperson.net/

[2018-02-12 14:39] PiotrLemanczyk commented on #142
Ok so what is the point of Button rtl default true setting?

[2018-02-12 14:53] donmanguno commented on #142
That is a typo in the documentation which I will ensure is corrected

[2018-02-12 15:06] EdenKupe commented on #142
I'm on it, will be fixed in 10 minutes.

[2018-02-13 06:32] KGandhimadinathan-BSFT commented on #135
Hi @shaymLP,

After including the sample gradle. We are getting the below error.

 error: Error: String types not allowed (at 'lp_progress_bar_image' with value '').

[2018-02-13 08:33] shaymLP commented on #135
@KGandhimadinathan-BSFT , what about your runnable module gradle?
you can this one for [Reference](https://docs.google.com/document/d/19cceai-Rm1zScIbMcvb_V0CeT1L0R7rgdONgfk6esPI/edit?usp=sharing) . Which Android Studio version are you using? Which gradle plugin version are you using? Make sure to use the latest
        classpath 'com.android.tools.build:gradle:3.0.1'
        classpath 'com.google

[2018-02-13 14:40] shaz1v opened #145 "Retrieving ExternalId of a clicked button in a structure content"
Hi,
I'm trying to build a structured content that will have buttons on it.
My plan is that the buttons will send a message back to the Messaging SDK, displaying the button content in the chat, and using the ExternalId feature in the meta data of the button, providing a "payload" to the SDK containing Id to the next part of the conversation.

For example the button I created looks like this:
{

[2018-02-13 17:37] donmanguno commented on #145
Currently the structured content metadata is not provided to any of the participants in the conversation (including the bot agent). It is currently only available for use in reporting.

[2018-02-13 17:37] #145 closed

[2018-02-14 04:24] KGandhimadinathan-BSFT commented on #135
HI @shaymLP ,

Its working fine. After modifying Gradle to 3.0.1. Thanks for the support.

[2018-02-14 04:24] #135 closed

[2018-02-14 05:03] ssamaga3 commented on #143
Hi Team,

Sorry for the delay in response.
Please find the POST request below:

https://va.msghist.liveperson.net/messaging_history/api/account/28084016/agent-view/summary
https://va.msghist.liveperson.net/messaging_history/api/account/28084016/agent-view/status

[Request Details.docx](https://github.com/LivePersonInc/developers-community/files/1722730/Request.Details.docx)

Thanks,
Swathi

[2018-02-15 00:01] icruzh commented on #140
Hi Mark.
We have the new Regex in PCRE and we test it in the link that you provide us and in works in the debuggex but when we integrate in the iOS SDK only mask the email.  Could you help us, please?
I don't have any idea what is wrong.
Regex:
(^((\d{3})|(\d-\d-\d))$)|(^(\d{2}/\d{2})|(\d{2}-\d{2})|(\d{2}[ ]\d{2})$|(^(\d{16})|(\d{8}-\d{8})|(\d{4}-\d{4}-\d{4}-\d{4})|(\d{4}[ ]\d{4}[ ]\d{4}[ ]\d{4}))

[2018-02-15 02:30] refnandor opened #146 "Salesforce integration on 65518450"
We are not able to see the SF widget, attached please find the process:
![image002](https://user-images.githubusercontent.com/32464396/36237997-3f3aa660-11c5-11e8-8f7e-0d2cdf4d6671.jpg)
![image003](https://user-images.githubusercontent.com/32464396/36237999-4061256e-11c5-11e8-87bc-208419e33a06.jpg)
![image004](https://user-images.githubusercontent.com/32464396/36238000-4198f3ee-11c5-11e8-8a67-faa0

[2018-02-15 11:50] ssamaga3 commented on #143
Hi Team,

Any Updates on this?
We are really stuck here. Any guidance/inputs will be helpful.

Thanks,
Swathi

[2018-02-15 16:04] Rekubot opened #147 "Configure off hours"
Hi, I can see that with string localization we can configure the off hours strings (e.g. "Thanks for your message. We will be back online Today at %@"), but how do we configure the times themselves?

Edit: This is with the iOS SDK.

[2018-02-15 17:13] orenkatz commented on #146
Hey @refnandor
This space is meant to assist with using our API and SDK.
SFDC questions should be directed to our Support team via chat or case.

[2018-02-15 17:13] #146 closed

[2018-02-15 17:14] dvillacis94 commented on #147
That one should be change on LE
![shift_status](https://user-images.githubusercontent.com/11651229/36270470-c66cecb8-1249-11e8-966d-8e0b2c363031.png)

[2018-02-15 17:14] #147 closed

[2018-02-15 18:26] dvillacis94 commented on #137
@bramley-turner-stride,

Even when using compile is working,

I teste it on an Oreo Device (Pixel 2):

[2018-02-15 19:34] donmanguno commented on #143
Hi @ssamaga3 the document you shared seems to contain the response headers again. I was interested in the _request_ headers specifically.

The error you're getting indicates an authentication issue. Ensure that you are creating a signed oAuth header using your appkey, secret, access token, and access token secret, and that you're putting it in your request's headers rather than passing it as a que

[2018-02-15 20:03] refnandor commented on #140
Hi Mark.
We have been testing with this but it is not working :-( can you please help us to understand why is not working?

Thank you in advance

[2018-02-15 20:38] donmanguno commented on #144
Hi @AOprawko.  We're checking this and will get back to you shortly.

[2018-02-15 22:17] donmanguno commented on #140
@refnandor your regex worked for me when I edited it like this:
"(^((\\d{3})|(\\d-\\d-\\d))$)|(^(\\d{2}/\\d{2})|(\\d{2}-\\d{2})|(\\d{2}[ ]\\d{2})$|(^(\\d{16})|(\\d{8}-\\d{8})|(\\d{4}-\\d{4}-\\d{4}-\\d{4})|(\\d{4}[ ]\\d{4}[ ]\\d{4}[ ]\\d{4}))$)|^(\\d{4})$|(^([a-z0-9-.]{1,30}@[a-zA-Z]{1,30}(.[a-z]{2,4}))$)|(^([a-z0-9-.]{1,30}@[a-zA-Z]{1,30}(.[a-z]{2,4})(.[a-z]{2,4}))$)|(^((\\d{2,5}[-.]\\d{2}[-.]\\d{

[2018-02-16 00:23] refnandor commented on #146
Hi.

Thank you, sorry for the misunderstanding.

Regards

On Thu, Feb 15, 2018 at 11:13 AM, orenkatz <notifications@github.com> wrote:

--
*Fernando Ramirez*
O. +525557220252
M. +5215536472920

--
This message may contain confidential and/or privileged information.
If you are not the addressee or authorized to receive this on behalf of the
addressee you must not use, copy, disclose or take action

[2018-02-16 08:53] pramodalapati opened #148 "Android Issue - Need Call Back Method"
We have cordova app, we are using LP SDK for our Android app we are running into one issue on Android whereas on iOS it works fine.

On Android when we put app in background with LP Chat window and then bring it to foreground 'resume' event is not fired.

However once we close the LP chat window 'resume' event gets fired. We need this event as we have some functionality around resuming app from ba

[2018-02-16 08:58] pramodalapati opened #149 "FAB Button Display for new conversations"
I am using a hybrid application with Liveperson integrated into it. I have a call being made to the checkActiveConversation method. Ideally this method should return a true/false value based on the state of the conversation. However this method call doesn't return the actual value (returns false by default) unless the Chat Window in opened in the App. Is there a way to get the actual state of the

[2018-02-16 09:04] pramodalapati opened #150 "ios Push Notifications - Receving only After opening Chat Window"
I am using a hybrid application with Live Person integrated into it.
In iOs we are receiving push notifications only after we opening the chat window, until user clicks on Chat window opened. Is there any call back mechanism to receive the notifications without opening the chat, Please suggest.

[2018-02-16 17:36] dvillacis94 commented on #149
Hi @pramodalapati,

We can confirm this is working on the SDK (3.0), even if the user is not in the Messaging Screen, it return the correct values.

- Which version of the SDK are you using?

[2018-02-16 18:27] dvillacis94 commented on #150
Hi @pramodalapati,

LivePerson Push Notifications work this way:

- Register the Push to LPMessagingSDK.instance.registerPushNotification(),
- LivePerson sends the Push to APN, then is distributed to the device.

Usually the AppDelegate on iOS will handle the notification using the following event:

- `application(_ application: UIApplication, didReceiveRemoteNotification userInfo: [AnyHashable :

[2018-02-16 19:15] donmanguno commented on #148
Are you using fragment mode or activity mode?

[2018-02-19 08:27] pramodalapati commented on #149
We are using 2.9.3 for iOs and 2.9.2 for Android

[2018-02-19 08:28] pramodalapati commented on #148
We had integrated in hybrid app with LP SDP v2.9.3 for iOs and v2.9.2 for Android

[2018-02-19 08:55] pramodalapati commented on #150
Our implementation is done as per above guidelines only.

Once we logout from the app, we are logging out from Liveperson and as per their documentation it 'unregisters from the push notification service' as well. Upon logging back into the app, even if we are explicitly calling the Liveperson register_pusher method and getting a success for the same, notifications aren't received by the app. This

[2018-02-19 12:19] bhavyahmehta opened #151 "Auth Code and Public key -LP-Messaging/Android-Messaging-SDK"
To run sample app from where I get Auth Code and Public Key?
I able to get Account ID after signing up LiveEngage developer account.

Regards

[2018-02-19 16:45] ao opened #152 "Determine Incoming Chat Request: ringingCount is always "0""
If I login to the agent console I can see incoming requests (bottom left);
But if I use the `incomingRequests` endpoint (https://developers.liveperson.com/agent-determine-incoming.html), it always returns:
`{"incomingRequests":{"ringingCount":"0"}}`

[2018-02-20 08:13] jha-lp opened #153 "About setting 'lp_bubble_phone_links_regex' with Android SDK"
Hi.

I've been trying to set 'lp_bubble_phone_links_regex' in Branding.xml. they only want to make 157 after TEL: as a link. so I made regex as "(?<=TEL:)[0-9]+" and '<' this makes error in XML so replaced with '&lt;'.
but it doesn't work for 'TEL:157'. however I tried to set 'lp_bubble_phone_links_regex' with the same regex "(?&lt;=TEL:)[0-9]+" and it's working. is this a bug or not? if it not ho

[2018-02-20 09:47] ssamaga3 commented on #143
Hi Donmanguno,

We now attempted oAuth 1.0 auth. We are receiving this error response
{"code":"0013","debugMessage":"Invalid json format"}

We haven't passed any parameters in Request body.

Attaching the request header. Please let us know the steps to fetch the request header if this is not the one.

[Request Header.txt](https://github.com/LivePersonInc/developers-community/files/1739566/Request.

[2018-02-20 10:30] yangeorget opened #154 "Developer account missing credentials to integrate bot"
Hello,

I'd like to test the integration of a bot into Liveperson.

I created a developer account:
Account Number: 10686311
User ID/Email: sysadmin@botfuel.io

It seems that my account misses the required credentials to use the node-agent-sdk:

_In order to use this SDK you need a LivePerson account with the Messaging feature enabled. You can tell whether you have Messaging by logging into LiveEng

[2018-02-20 18:54] donmanguno commented on #151
I do not understand your request. Which public key are you referring to? And when you say 'auth code' are you referring to the code used in code-flow authentication? If so, you need to generate this within your own authentication server. Authentication configuration is described in more detail [here](https://developers.liveperson.com/guides-authentication-introduction.html).

[2018-02-20 18:55] donmanguno commented on #137
Hi @bramley-turner-stride should we keep this issue open?

[2018-02-20 19:00] donmanguno commented on #143
Send an empty `{}` as the body of your request if you don't plan to use any body parameters.

[2018-02-20 19:00] #143 closed

[2018-02-20 19:04] dvillacis94 commented on #148
There are 2 ways to integrate LivePerson SDK:

- iOS: Window Mode (Default SDK View) & ViewController Mode (You create the ViewController),
- Android: Activity Mode (Default SDK Activity) & Fragment Mode ( You create the Fragment),

@donmanguno question was related to your implementation, as if you want to have control over the ViewController/Fragment LifeCycle Events, you will need to create your

[2018-02-20 19:31] dvillacis94 commented on #149
Hi @pramodalapati,

We can confirm this is working on the SDK 2.9.3 for iOs and 2.9.2 for Android, even if the user is not in the Messaging Screen, it return the correct values.

[2018-02-20 19:55] donmanguno commented on #152
HI @ao,

First, ensure that the agent you are using with the Agent API is in the appropriate skill to receive the chat.

Also, be aware that depending on your ACD configuration chats may be either presented to all qualified agents simultaneously, or be presented to each qualifying agent in turn one at a time, depending on your ACD configuration.
![image](https://user-images.githubusercontent.com/1

[2018-02-20 19:55] #152 closed

[2018-02-20 21:52] donmanguno commented on #153
Hi @jha-lp,

There does seem to be a limitation with using lookbehinds in these regexes. We are consulting with the product team to determine whether this is a bug. Shoot me an email describing the use-case in more detail so that I can present it to product.

[2018-02-20 23:48] bramley-turner-stride opened #155 "Android sample app crashes immediately on launch on tablet"
The Android sample app crashes immediately when launched on a tablet:
[code]

looks like a view is missing from the layout-sw600dp\activity_main.xml

[2018-02-20 23:50] bramley-turner-stride commented on #137
Yes, the issue still exists

[2018-02-21 00:00] bramley-turner-stride commented on #137
I forked the repo and made a simple repro from the sample app:
https://github.com/bramley-turner-stride/Android-Messaging-SDK

To reproduce, run the sample app, open 3 dots menu -> test notify. App crashes with the ClassNotFoundException.

Diff:
https://github.com/bramley-turner-stride/Android-Messaging-SDK/commit/eb6aa79352358092795385bb3eef2ba561c17ad6

[2018-02-21 01:15] bramley-turner-stride opened #156 "Android SDK: LP attempts to replace my google maps API key in manifest merger"
I get the following error:
[code]
This is because I explicitly include my Google Maps API key in my app's manifest (I use maps for other purposes unrelated to LP in my app).

The messaging_ui.aar lib declares it's own maps API key in its manifest:
[code]
`@string/lp_google_maps_key` is empty, by the way.

While for me, the solution is simple (add `tools:replace` as the error message suggests), oth

[2018-02-21 02:05] ssamaga3 commented on #143
Hi Donmanguno.

This helped us. Thanks for understanding we are new to this.

Thanks,
Swathi

[2018-02-21 07:39] bhavyahmehta commented on #151
Hello donmanguno,

I am trying to run SampleApp-Source/sample_app
from https://github.com/LP-Messaging/Android-Messaging-SDK.

I want to develop sample app for inapp-messaging.
For that I create developer account using below link
http://register.liveperson.com/developer/signup
And get AccountID in my mail.

This account ID I used in sample application.
My question is From Where I get Auth Code and

[2018-02-21 12:51] donmanguno commented on #151
You do not need an authcode or public key to run the sample application. Those fields are there in case you want to test the features associated with them, but they are not required.

[2018-02-21 14:26] bhavyahmehta commented on #151
Hello ,

Thank you for your response.
While running app got following error..
**ConnectionStateMachine_ConnectingState**: Connection task OPEN_SOCKET failed Open Socket - CLOSED

detailed log file attached.
[log.txt](https://github.com/LivePersonInc/developers-community/files/1744303/log.txt)

If possible kindly let me know appropriate solution.

Regards,
Bhavya

[2018-02-21 15:00] dvillacis94 commented on #151
@bhavyahmehta,

This could be because, your account is not enable for Messaging, to get messaging enabled on your account you can speak with your LivePerson Account Team, or if you don't have one, click [here](https://www.liveperson.com/?lp_offsite=%7B%22type%22%3A0%2C%22campaignId%22%3A333765313%2C%22engagementId%22%3A333765413%2C%22contextId%22%3A%22d062bca0-224a-4225-8d6d-cfcde5cdbe69%22%2C%22a

[2018-02-21 15:00] #151 closed

[2018-02-21 21:43] orenkatz commented on #150
Thanks for the information @pramodalapati, we are checking the behavior and will update soon with our results.

[2018-02-22 05:32] bramley-turner-stride opened #157 "Android SDK: NPE crash: LPAuthenticationParams.getHostAppJWT when launching from notification"
I get the following crash whenever I tap on a LP notification:

[code]

I get this every time after updating to v3.0 of the LP SDK. I then tried it on the SDK sample app, and got the same error (this particular stack trace is from the sample app).

The conversation view does load when launched normally (not from notification).
I was able to reproduce on multiple devices, even with a clean install

[2018-02-22 05:47] bramley-turner-stride commented on #156
Correction: the google-services plugin does not write maps/geo api key to manifest.

If consumers of the LP lib are defining the newer `com.google.android.geo.API_KEY` key in their manifest, they will get this error when you try to open a map:

[code]

[2018-02-22 08:13] rajeswarr opened #158 "Need info on control group"
How do get the information for which customers pushchat was not triggered due to control group criteria from data access api?

[2018-02-22 08:38] EdenKupe commented on #144
This has been corrected, apologies for the delay and thanks for reporting.

[2018-02-22 08:38] #144 closed

[2018-02-22 09:46] lp-adevakrupakar opened #159 "Missing documentation"
Last row of "new parameters" is missing.
Scroll all the way to the bottom of the page to see error.
Link: https://github.com/LP-Messaging/Android-Messaging-SDK

[2018-02-22 13:32] EdenKupe commented on #159
Hey,

This has been fixed on the Developers' Community (where the bug originated) and will be fixed shortly on the LP-Messaging Repo.

Thanks for reporting!

[2018-02-22 13:32] #159 closed

[2018-02-22 16:14] milkaman opened #160 "Photo sharing permission bug"
This bug was redirected from here: https://github.com/LP-Messaging/Android-Messaging-SDK/issues/53

We're integration LP into our app, and faced a bug while using Photo sharing feature.
If we press "Gallery" button and Permission dialog appeared, then we'll press "**Allow**" , `ConversationFragment.onRequestPermissionsResult() is called` with `grantResults`={0, -1}

[code]

As a result menu with "

[2018-02-22 16:47] b4ck3r commented on #49
Hey @EdenKupe and @donmanguno,

Would you mind, activating messaging in my account too, please?

Thanks in advance,

Regards,

Cleb

[2018-02-22 18:58] jhayes411 opened #161 "Server Chat API -> exit survey results do not show in BI or custom report dashboards?"
Hi dev support,
Why would exit survey questions that are submitted via the Server Chat API - method: Submit Survey Data not show up in the BI Dahsboards?  On Samsung account (60379263) the questions were created in LiveEngage in exit survey called: Custom Chat window test Exit Survey.  We can see them and the actual visitor transcript data that its being captured properly, but neither the BI Dashb

[2018-02-23 11:30] pramodalapati commented on #148
Thanks for the Reply

But in the Default SDK Activity mode, how do we know if the app has resumed when the chat window is open. May be it will help us to solve the problem.

[2018-02-23 11:32] ivysrini opened #162 "Data Access API - Enagagement Method"
Hi,

We are trying to read the transcripts of Enagagement in data Access API
But the transcript seems to be LP encrypted, Message.text even though Message.contentFormat is TEXT_PLAIN.
We do not find any where in the documentation how this transcript is encrypted and can be decrypted by the consumer. Please provide more insight into this so that we will proceed.

Regards,
Srini.

[2018-02-23 14:58] ashemetau-itechart opened #163 "SDK example for Swift has not worked!"
I downloaded your example - swift version - https://github.com/LP-Messaging/iOS-Messaging-SDK
install pods
executed settings that were described in tutorial
next step add id to LPMessagingSDK.instance.initialize("MY_ID")
than I start app on simulator
fill first & last name arbitrarily
fill my account number & clicked "Show conversation"
write message but "Send" button is disabled

[2018-02-23 15:56] dvillacis94 commented on #163
Hi @ashemetau-itechart,

Is your Account enable for Messaging?

if you go to the Visitors Tab, you should see something like this:

![screen shot 2018-02-23 at 10 54 56 am](https://user-images.githubusercontent.com/11651229/36603217-1a732b30-1888-11e8-8420-365e868a34cb.png)

if you don't see the Open/All Connections Tab, your account is not enable for Messaging, and you won't be able to start a Co

[2018-02-23 17:50] orenkatz commented on #150
We have checked it and it's an expected behavior.
I know that you are working with your account team on requesting it as a feature enhancement, closing this issue

[2018-02-23 17:50] #150 closed

[2018-02-23 19:57] dvillacis94 commented on #157
Hi @bramley-turner-stride,

Are you using the Default SDK Notification, or are you creating your own?

[2018-02-23 19:58] dvillacis94 commented on #160
Hi @milkaman,

We're looking into that one.

[2018-02-23 19:59] dvillacis94 commented on #156
Hi @bramley-turner-stride,

We're looking into this one.

[2018-02-23 21:19] donmanguno commented on #153
Thanks @jha-lp. This has been identified as a bug and will be fixed in a future release of the SDK.

[2018-02-23 21:19] #153 closed

[2018-02-23 21:48] sekhar-becu opened #164 "CaseNumber 00628749 - Unauthorized error"
API using - https://{0}/messaging_history/api/account/{1}/conversations/consumer/search

{0} - is populated with the account number which is 50262409
{1} - populated with a conversation ID.

When trying to retrieve a conversation we get an unauthorized error

**_Message: Error occurred when retrieving conversation by id 79978d7d-2ef5-42ec-a461-a029d584fdc2. Error is Exception : Response status cod

[2018-02-23 22:34] donmanguno commented on #155
Hi @bramley-turner-stride,

What version of the SDK are you using, on what kind of tablet running which Android version. Thanks.

[2018-02-23 22:43] donmanguno commented on #164
- Are you able to make this API call successfully using Postman or another API testing tool?
- Does the call now fail 100% of the time for all conversations?
- What language is your application written in?
- Has anything changed about your application?

[2018-02-23 22:48] sekhar-becu commented on #164
We havent tried it in POSTMAN.
Yes it fails for every conversation
Language written - C#
No changes made to the application

[2018-02-23 22:57] sekhar-becu commented on #164
I just tried it from POSTMAN as well. Its failing in there as well

[2018-02-23 23:29] elie7747 commented on #164
Hi Sekhar, this is Eliezer from the Support Team. Remember that we tested the APIs on one of your tools and we got many responses for them. The BaseURI API and the Message Interactions API as well. Can you tell us the name of the tool you used?

[2018-02-23 23:35] sekhar-becu commented on #164
We didnt test it on any tool. we were reviewing the logs.

[2018-02-25 08:44] EdenKupe commented on #49
Hey,

Can I ask for your account number?

[2018-02-25 10:24] ashemetau-itechart commented on #163
Could you tell me how I can enable messaging in my account?

[2018-02-25 17:39] b4ck3r commented on #49
Hey @EdenKupe,

My account number is: 14437938

Thank you.

[2018-02-25 23:08] bramley-turner-stride commented on #155
3.0. I was building the sample from source (latest commit was https://github.com/LP-Messaging/Android-Messaging-SDK/commit/7b8824d31ca55e76d179233b0d3dd73b7fc96c88 )

[2018-02-25 23:37] bramley-turner-stride commented on #157
I'm using `LivePerson.handlePushMessage()`.

Here's an example snippet:
[code]

Or there's a full version in my fork: https://github.com/bramley-turner-stride/Android-Messaging-SDK/blob/master/SampleApp-Source/sample_app/src/main/java/com/liveperson/sample/app/MainActivity.java#L102

To use it:
-You will have to change the support lib version back to 26 to avoid #137 , ie this diff for `build.grad

[2018-02-25 23:49] bramley-turner-stride commented on #157
It doesn't happen 100% of the time, so if you can't reproduce the crash, try:
-clearing the app data
-opening the app
-entering the brand id
-hit 'Open Activity'
-Wait for welcome msg
-back
-3 dots menu -> test notify
-tap on the notification
-If no crash, hit back, menu-> test notify again
-usually crashes the second time you hit the notification

I was even able to reproduce it with brandId `123

[2018-02-26 08:53] EdenKupe commented on #49
Hey,

Messaging is now enabled on your account. Let me know if you need anything else.

Thanks!

[2018-02-26 10:24] b4ck3r commented on #49
Hey,

Thanks man, everything seems to run smoothly now.

Thanks again.

[2018-02-26 17:13] dvillacis94 commented on #149
Hi @pramodalapati,

After Reviewing your logs,

When you're checking if the Conversation is active, you get false, because the Conversation was closed as you can see on the next log lines:

[code]

Later you start a new Conversation and you received a true, in that moment the Conversation was active, even if you are not on the Conversation Screen

`2018-02-23 14:56:41.518349+0530 Kundencenter[3094

[2018-02-26 19:46] donmanguno commented on #155
Hi @bramley-turner-stride.  You're exactly right; the layout-sw600dp\activity_main.xml is missing a couple of elements.  I have submitted this to R&D and it will be corrected in a future release of the SDK.

For now you can replace the offending file with the attached, corrected one.
[activity_main.xml.zip](https://github.com/LivePersonInc/developers-community/files/1760055/activity_main.xml.zip)

[2018-02-26 19:46] #155 closed

[2018-02-26 20:14] donmanguno commented on #158
HI @rajeswarr I believe this information will be returned in the [Web Session Data Access files](https://developers.liveperson.com/data-data-access-web-session.html) as the `siteControlGroup` parameter.  I am getting confirmation of this and will let you know as soon as possible.

[2018-02-27 00:10] johnsorrentino opened #165 "Can you use the Chat Agent API to listen to all conversations without sending responses?"
I'm looking for a real time feed of all messages (both agent and visitor lines) in all conversations. I was looking at the Chat Agent API, but I'm not interested in creating a bot to send responses. Is it possible to only listen to messages with the Chat Agent API or is there a more appropriate API available?

[2018-02-27 14:47] WildYorkies commented on #165
@johnsorrentino You could also try this: https://developers.liveperson.com/agent-workspace-sdk-overview.html

Create a widget with a blank screen that just listens to each incoming chat message. This widget can be set to appear by default in every conversation.

Depending on your use case, though, there may be a much better solution than pulling in each message in real time.

[2018-02-27 15:33] johnsorrentino commented on #165
@WildYorkies thanks!

I'd like to send tips/alerts to each agent based on the individual messages in the conversation so I'd like to receive each message with little delay.

[2018-02-27 17:33] dvillacis94 commented on #137
Hi @bramley-turner-stride,

We have identified this as a bug, we're planing on fixing this on a future release, for now, you can build your our Notification that can handle for this:

[code]

[2018-02-27 18:54] WildYorkies commented on #165
@johnsorrentino Oh, you could display the tips / alerts in the agent widget itself then. And you can have agent widgets appear for only some skills and not others if you want.

[2018-02-28 10:51] pramodalapati commented on #148
As per the LP documentation, the LP_ON_CONNECTION_CHANGED_INTENT_ACTION is used to get the isConnected parameter which is a Boolean value indicating:
true - connection established
false – disconnected

Upon debugging the app and running the chat it can be seen that the isConnected value is returned as false as the chat window is opened and eventually returns true once the connections are establish

[2018-02-28 15:39] #165 closed

[2018-02-28 16:12] dvillacis94 commented on #148
Hi @pramodalapati,

As I mentioned before, `LP_ON_CONNECTION_CHANGED_INTENT_ACTION` is not the same as onResume,

We appreciate your suggestion, we'll escalate this request to R&D.

Right now, if you want to have control over the application lifecycle, you will need to implement your own fragment.

[2018-02-28 16:55] orenkatz commented on #164
Closing this issue as it's being handled as a case

[2018-02-28 16:55] #164 closed

[2018-02-28 20:02] donmanguno commented on #162
HI @ivysrini,

The encryption of data in Data Access API files is an optional feature that was enabled on your account at the request of someone from your organization. The public key used to encrypt the data was provided by you, and only someone possessing the associated private key can decrypt the data. I suggest that you speak to someone from your LivePerson Account Team who can help you identi

[2018-02-28 20:02] #162 closed

[2018-02-28 20:04] donmanguno commented on #161
Hi @jhayes411, this does not strike me as expected behavior. I'm performing some tests to see if I can reproduce it.

[2018-02-28 23:32] refnandor opened #166 "Android Data masking issue"
Hi.

There is a bug/issue after the Android SDK masked some data, the problem is that is sending the notification that some data was masked for security reasons, for the next messages that the user sends:

![2018-02-23](https://user-images.githubusercontent.com/32464396/36819043-55c7ac0a-1cad-11e8-8624-41a7686724d0.png)
![2018-02-28](https://user-images.githubusercontent.com/32464396/36819047-56cb

[2018-02-28 23:36] refnandor commented on #166
![2018-02-28 3](https://user-images.githubusercontent.com/32464396/36819192-f587bd5c-1cad-11e8-8b23-97f3399ee8f2.png)

[2018-03-01 04:40] ivysrini commented on #162
Thank you for the suggestion. We will check with Live Person Account manager

[2018-03-01 16:10] donmanguno commented on #158
Hi @rajeswarr, I can confirm that the `siteControlGroup` attribute reflects this information.

[2018-03-01 16:10] #158 closed

[2018-03-01 16:24] jhayes411 commented on #161
Any updates? i would agree that its seems odd, but maybe a side effect of the chat server API?

[2018-03-01 22:41] donmanguno commented on #166
Hi @refnandor, which Liveperson SDK version are you using? I see that you are setting `minSdkVersion: 15` but Android SDK 2.70's minimum SDK version is 19.

So far I have been unable to reproduce your issue with the 2.7 sample application

[2018-03-02 16:11] dvillacis94 commented on #157
Hi @bramley-turner-stride,

Are you using an Authenticated Chat, meaning passing a JWT or a AuthCode?

[2018-03-02 16:25] #137 closed

[2018-03-02 18:49] dvillacis94 commented on #160
Hi @milkaman,

After doing some testing on my fragment, even with the call is returning me a 0, i'm able to start the Camera Menu.

[code]

What are you trying to achieve with that call? as I'm seeing the method `this.startGallery`?

[2018-03-02 21:30] dvillacis94 commented on #156
Hi @bramley-turner-stride,

After reviewing this one, your assumptions are correct, as you can only have one API Key, and the correct place to put it would either int the AndroidManifest.xml or the google_maps_api.xml, we're checking with our R&D the possibility of changing this integration to follow Google Implementation.

The workaround for now would be to remove the API Key from both the Androi

[2018-03-04 23:56] bramley-turner-stride commented on #157
I didn't use any other configuration at all other than what is in the sample.
What method does made-up brandId `12345678` use?

[2018-03-05 08:42] timu opened #167 "Image Upload by customer using Live Chat / Chat API"
Is there a way to extend Live Chat window to include image upload and get results with a 3rd party bot software using Chat API?

[2018-03-05 08:49] timu opened #168 "Is there a .NET equivalent for Messaging SDK?"
I tried to find at least a .NET wrapper for Messaging SDK but couldn't find one. Can someone please direct me to it if there is any?

[2018-03-05 19:44] dvillacis94 commented on #157
The reason to this question, is that this app is handling for the multiple ways of authentication, and if you stick to one main auth method, on your own app, this error will not happen.

As proof of concept I changed the way the SampleApp starts a chat to this:

[code]

So when I using an Activity this will avoid the Crash, I tested this one on your fork.

[2018-03-05 19:48] dvillacis94 commented on #168
Hi @timu, are you talking about the LPMessagingSDK ([Android](https://developers.liveperson.com/android-overview.html)/[iOS](https://developers.liveperson.com/consumer-experience-ios-sdk-overview.html)) or the [Messaging Agent SDK](https://developers.liveperson.com/messaging-agent-sdk-overview.html)?

[2018-03-05 20:25] timu commented on #168
Hi @dvillacis94, I’m referring to Messaging Agent Sdk

[2018-03-05 22:54] bramley-turner-stride commented on #157
But when using `LivePerson.handlePushMessage()`, we don't have control over how the conversation activity is started.

Maybe, after this, #137, and #138 we should change our app to issue the notification ourselves, with our own `PendingIntent`. How do I create a `PendingIntent` for a notification to start the `ConversationActivity`? (your sample code can't be used as an intent)

[2018-03-06 00:57] jessehorner opened #169 "Webhook for chat end"
Does LivePerson have a webhook which can push Engagement data after a chat has ended?

[2018-03-06 11:26] bhavyahmehta opened #171 "How to save conversation ?"
How to get / save whole transcript in android mobile app?

[2018-03-06 14:24] abhishghosh opened #172 "Snackbar is not getting Displayed for Off Hours"
Android SDK
When the Agent is Not Available and the client tries to send the message from the chat activity. According to documentation of LivePerson Snackbar will be shown but snackbar is not popping up

[2018-03-06 14:39] orenkatz commented on #167
Hey @timu,
You can use our [Engagement Window Widget SDK](https://developers.liveperson.com/rt-interactions-window-sdk-overview.html) and build your own custom page for file upload.

[2018-03-06 14:48] timu commented on #167
thanks, @orenkatz. I watched the video and wonder if there are any code examples for file uploading widget which is shown there? or can you guide me to some examples for file uploading?

[2018-03-06 14:49] orenkatz commented on #149
Hey @pramodalapati,
Did @dvillacis94 insights helped with the issue you were experiencing?

[2018-03-06 14:50] #148 closed

[2018-03-06 15:05] dvillacis94 commented on #157
@bramley-turner-stride,

The snipped of code I showed you before is part of the SampleApp (`MainActivity`), the `LivePerson.handlePushMessage()` doesn't take the user to the `ConversationActivity`.

Pushing the user to the Conversation Activity/Fragment is done on the `MainActivity` - `onCreate()` method,  in which there is a called to another method ->` handlePush()`:

![screen shot 2018-03-06 at

[2018-03-06 16:17] dvillacis94 commented on #172
Are you talking about the Response Time or the Shift Status?

[2018-03-06 16:23] dvillacis94 commented on #171
Hi @bhavyahmehta,

if you want to get all the archived and closed conversations, I would recommend you to check the [Consumer Messaging History API](https://developers.liveperson.com/consumer-experience-messaging-history-overview.html)

[2018-03-06 17:31] abhishghosh commented on #172
![device-2018-03-06-225814](https://user-images.githubusercontent.com/3381362/37047752-efc5f81e-2191-11e8-8919-14ee9f7fd86f.png)
<img width="1261" alt="screen shot 2018-03-06 at 10 57 37 pm" src="https://user-images.githubusercontent.com/3381362/37047753-eff0c7b0-2191-11e8-9bf8-25256dcf5d8c.png">

I have Attached the screen shot of the Live Person Agent dashboard ( Away state)

Android Live Person

[2018-03-06 19:13] dvillacis94 commented on #172
@abhishghosh,

The LivePerson SDK works in an Asynchronous way to interact with the Client, this way the client can always start a Conversation anytime.

[2018-03-06 19:16] abhishghosh commented on #172
But as per doc we can show Some messages in the SnackBar of the chat activity. I am trying to configure that. But it is not happening

lp_ttr_message_off_hours_message

[2018-03-06 19:47] dvillacis94 commented on #172
@abhishghosh,

I would recommend that you check this with your Account Manager or CSM, as this is not only an SDK configuration, as there are some configurations needed on the Account too.

[2018-03-06 19:48] dvillacis94 commented on #169
Hi @jessehorner,

What do you mean by pushing Engagement Data?

[2018-03-06 21:07] dvillacis94 commented on #160
Hi @milkaman,

It's been 3 days since we last heard from you, I'm closing this.

[2018-03-06 21:07] #160 closed

[2018-03-06 23:07] icruzh commented on #166
Hi @donmanguno, we tested with sdk version: 2.0.0, 2.2.0, 2.7.0, 2.9.4 and 3.0.0 having the same issue.
<img width="290" alt="captura de pantalla 2018-02-28 a la s 17 25 58" src="https://user-images.githubusercontent.com/36272606/37063927-bd00fc48-2160-11e8-92d2-82dc69cf664f.png">

[2018-03-07 08:06] orenkatz commented on #172
Hey @abhishghosh ,
Are you referring to the message that appears when you send a message and the account is on off-hours? something like "Thank you for your message, We will be back online tomorrow at 9:00 AM".

If so, on what device have you tried to check it? did it ever work?

[2018-03-07 11:42] bhavyahmehta commented on #171
I found in SDK whole conversation is saved in Database in encrypted format.. How I get that conversation ?

[2018-03-07 21:52] #172 closed

[2018-03-08 09:35] mkwong04 opened #173 "Chat Agent Api add line with structured content return text format not support"
I try to use the structured content type in add line API in Chat Agent API, but received a 400 bad request

### Sample Request
POST /api/account/**xxxxxx**/agentSession/**yyyyyyy**/chat/**zzzzzzzzzzzzz**/events?v=1&NC=true

``
{
   "event": {
          "@type":"line",
           "textType":"rich-content",
           "json": {
                 "type":"horizontal",
                 "elements":[

[2018-03-08 14:00] WildYorkies commented on #171
@bhavyahmehta You can download conversations from within LiveEngage, but if you want to use an API, you can use https://developers.liveperson.com/data-messaging-interactions-overview.html . It accepts parameters like date timeframe, consumerID, or conversationID

[2018-03-08 14:04] WildYorkies opened #174 "Difference between Messaging Interactions API and Consumer Messaging History API?"
![image](https://user-images.githubusercontent.com/1299322/37154911-422486b6-2296-11e8-8be5-bd9fa0afef40.png)

Consumer Messaging History only allows GET and only one conversation at a time?

Messaging Interactions only allows POST and allows bulk download?

Messaging Interactions is the only API you need, right?

[2018-03-08 17:04] timu commented on #173
hi @mkwong04 I'm also getting 403 Forbidden when trying to send a rich content with the below request

### Request
`{"event":{"@type":"line","text":"Hi there, your session id is 4294967678. How can I help you?","textType":"rich-content","json":{"elements":[{"type":"button","tooltip":"","title":"I can help you with refunds","click":{"actions":[{"type":"publishText","text":"I need a refund"}]}},{"ty

[2018-03-08 22:09] donmanguno commented on #167
Hi @timu,

We don't have any examples of this sort of configuration. The widget merely hosts a page of your creation within an iFrame, and the LP platform doesn't support file transfer.

As such, this solution need to be created by you:
You can create your own webpage for file upload and embed it in the iframe.
You can then use the SDK to retrieve the conversation id and send it along with the fil

[2018-03-08 22:22] donmanguno commented on #174
Hi @WildYorkies

There are differences driven by the use-cases each was designed for.

The Messaging Interactions API authenticates requests using oAuth, meaning the requestor needs access to the associated oAuth secrets. It was designed for brands to use to retrieve conversation data for their own processing.

The Consumer Messaging History API was designed for use on the consumer side (in app, m

[2018-03-08 22:22] #174 closed

[2018-03-09 01:31] mkwong04 commented on #173
Hi @timu

403 error is something related to access rights of your account to the invoked API. Your case should be different issue from my case, your account manager may need to grant some rights for your account to use the feature?

[2018-03-09 13:25] WildYorkies commented on #174
@donmanguno thanks. But in the Consumer Messaging History, doesn't it require information that the consumer wouldn't have a way of knowing? Things like ConsumerID and Domain?

[2018-03-09 15:06] donmanguno commented on #174
Indeed, this is not designed to be directly implemented _by_ the user, simply at the user scale. You might, for example, use the Messaging Window API to create a custom messaging interface, and provide within that interface the ability for the consumer to view and search their own conversation history. Your application would use this API.

[2018-03-09 15:53] donmanguno commented on #169
Hi @jessehorner

We don't currently have any such webhooks. In order to provide a good recommendation I need to understand a bit more about what you're trying to accomplish:

We differentiate between Chat and (asynchronous) Messaging. Are you referring to chat here?
What kind of data do you want to obtain after an engagement, and for what purpose?

[2018-03-09 16:02] donmanguno commented on #173
@timu @mkwong04 is on the right track: your error stems from not having the relevant feature enabled on your account.  Your Account Manager can help with that.

[2018-03-12 08:38] HarryMcCarney commented on #167
Hi Mark,

So to confirm:  LivePerson has no way of uploading an image into the chat window except what you describe.

This seems very odd as presumably in many scenarios a customer support agent would request a screenshot from a user to help diagnose problems.

Please let me know if I have misunderstood something or if there is a simpler way to do this than extending the window.

Many thanks,
Harr

[2018-03-12 13:19] pphamzc opened #175 "LivePerson IN-APP MESSAGING SDK 3.1 Integration with Xamarin Platform"
Hi all,

We are trying to integrate the In-App Messaging SDK with Xamarin Platform.  We can not even compile the sdk.  We have ran into below error.  We have asked LP for help and they referred us to here.  Any insight into this would be most appreciated.
![lp-xam-error](https://user-images.githubusercontent.com/10777415/37285733-2804eb02-25bd-11e8-973d-d9fd70ff6f62.png)

[2018-03-12 18:32] WildYorkies opened #176 "Does the MMS viewer discard photo data after conversations close?"
https://developers.liveperson.com/products-channels-mms-technical.html

Could we add a note to this page clarifying what is done with the photos? Stored or discarded and at what point?

[2018-03-12 21:00] refnandor opened #177 "Bot integration issue - Gus chat"
We're working with a bot vendor (Gus Chat) they are working with several brands in Latin America, so we have started to share some information about how to integrate the bot to our platform. Unfortunately they found an issue trying to connect to our platform due their solution design, they are looking to have more than 2 simultaneous sessions per bot agent in order to send the right answer, for th

[2018-03-13 09:02] EdenKupe commented on #176
I'm looking into this and will update the documentation when I know. Will also update here.

[2018-03-13 14:02] dvillacis94 commented on #171
@bhavyahmehta,

The conversations stored on the Device can only be handle by the SDK as this are encrypted, if you want to fetch the conversations, you would need to use and API, as @WildYorkies mention.

[2018-03-13 14:02] #171 closed

[2018-03-13 14:35] dvillacis94 commented on #168
Hi @timu,

The Messaging Agent SDK is a wrapper of one of our [Agent Messaging API](https://developers.liveperson.com/agent-int-api-reference.html#), you can feel free to create your own wrapper for .NET

[2018-03-13 14:35] #168 closed

[2018-03-13 17:11] donmanguno commented on #167
Hi @HarryMcCarney. We support sending images from consumers to agents on our Messaging service, but not for Chat.

[2018-03-14 14:42] dvillacis94 commented on #149
Hi @pramodalapati.

I'm closing this issue, if you have any more questions related to this feel free to reopen it, or create a new one for any new issues.

[2018-03-14 14:42] #149 closed

[2018-03-14 14:43] dvillacis94 commented on #156
Hi @bramley-turner-stride .

I'm closing this issue, if you have any more questions related to this feel free to reopen it, or create a new one for any new issues.

We're working on a new way to handle Google Maps Key.

[2018-03-14 14:43] #156 closed

[2018-03-14 14:44] dvillacis94 commented on #157
Hi @bramley-turner-stride .

I'm closing this issue, if you have any more questions related to the implementation of the Push on the Sample App, or create a new one for any new issues.

[2018-03-14 14:44] #157 closed

[2018-03-14 14:47] dvillacis94 commented on #175
Hi @pphamzc,

We're not currently supporting the Xamarin Platform, that can probably change in the future, but we're currently using only Native Platforms.

[2018-03-14 14:47] #175 closed

[2018-03-14 14:49] dvillacis94 commented on #177
Hi @refnandor,

The agent can only have 1 active sessions per Agent, if you want to have a cluster, you'll need to have multiple Bot Accounts, that's the reason the Login API is not allowing a new Login.

[2018-03-14 18:12] refnandor commented on #177
Hi David.

So that solution will work, but the new question here is if we can have
those multiple Bot accounts in the same conversation?

Regards

On Wed, Mar 14, 2018 at 8:49 AM, David Villacis <notifications@github.com>
wrote:

--
*Fernando Ramirez*
O. +525557220252
M. +5215536472920

--
This message may contain confidential and/or privileged information.
If you are not the addressee or authoriz

[2018-03-16 21:17] donmanguno commented on #177
Absolutely. You can only have one `ASSIGNED_AGENT` participant in a conversation, but you can have multiple `MANAGER` and `READER` participants.

[2018-03-19 04:19] jessehorner commented on #169
@donmanguno @dvillacis94
My organisation uses live engage chat. I'd like to be able to push chat data (all the engagement data like, transcript, time, customer name, and custom fields) when a chat ends. So, Chat ends > push all that chat data to another endpoint. We use netsuite and want to be able to create new netsuite support records automatically when a chat ends.

[2018-03-19 09:19] ssamaga3 opened #179 "Response from API call and the actual site call differs"
Hi Team,

When we try running the Agent Metrics API with required details, the response received is always 0.
Example:

API Call : https://va.msghist.liveperson.net/messaging_history/api/account/28084016/agent-view/summary
API response :
{
  "accountID": "28084016",
  "summaryResults": {
    "openAssignedConversations": 0,
    "numAwayAgents": 0,
    "numBackSoonAgents": 0,
    "numOnlineAgents":

[2018-03-19 16:51] donmanguno commented on #169
Hi @jessehorner

There are two options that I suggest you consider:

- Build a widget that implements the [Agent Workspace Widget SDK](https://developers.liveperson.com/agent-workspace-sdk-overview.html). From this panel in the agent workspace your agent can submit data to netsuite as it becomes available, or you can set the widget up to submit the data automatically when the chat ends.

- Periodi

[2018-03-19 17:11] donmanguno commented on #179
Hi @ssamaga3,

The [Agent Metrics API](https://developers.liveperson.com/data-messaging-agent-metrics-overview.html) is only for Messaging accounts. I see that this is not clear enough from the documentation; we'll update it.

For Chat accounts, the data in your screenshot is retrieved using the [Chat Agent API's Retrieve Available Agents](https://developers.liveperson.com/agent-retrieve-available